/* color set */
$white : #fff;
$black : #000;
$red : #EA1917;
$primary : #FD312E;
$midGray : #AFAFAF;
$darkGray : rgba(0,0,0,0.8);
$bg : #F6F3EB;
$thewhoo : #5F2130;
$aurora : #4F369A;
$samyang : #FF6400;
$paris : #003277;
$boksoondoga : #BCAE98;

/* font family */
$font-headline : "LG EI Headline", sans-serif;
$font-text : "LG EI Text", sans-serif;

/* breakpoint - mobile first 로, 기본 mobile scss 작성 후 768부터 tab, 1280부터 pc */
$tab : 769px;
$pc : 1281px;

$inner : 1200px; /* PC 기준 inner 사이즈 */
$inner_tab : 740px; /* tab 기준 inner 사이즈 */
$inner_mo : 360px; /* mo 기준 inner 사이즈 */

/* device별 기준 section 상하 padding값, rem mixin에 넣어서 사용 */
$mo_padding : 56; 
$tab_padding: 72;
$pc_padding : 100;