<section class="inspiration">
  <div class="inner">
    <div class="inspiration-title-bx">
      <figure class="logo-bx fade-in-up">
        <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_black.svg" alt="Lg" width="40" height="40" loading="lazy">
      </figure>
      <div class="section-title-bx">
        <h2 class="title heading fade-in-up">
          Inspiration in action<br> 
          ISE 2025
        </h2>
        <p class="text fade-in-up">
          See how last year's inspiration set the stage for what's next.
        </p>
      </div>
      <div class="btn-bx fade-in-up">
        <a href="https://www.lg-informationdisplay.com/ise2025" target="_blank" rel="noopener noreferrer" class="btn">
          Go to LG ISE 2025
        </a>
      </div>
    </div>
  </div>
  <div class="slide-bx swiper fade-in-up">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="https://youtu.be/k7Je05MmGTU?si=jSLlAbTIoNKzyLD0" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_1.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_1_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_1.jpg" alt="Watch LG at ISE 2025 Overview video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://youtu.be/tQNKPsHOLro?si=Chi0tDz2-Ijmf_wf" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_2.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_2_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_2.jpg" alt="Watch LG at ISE 2025 Media art video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://youtu.be/tQNKPsHOLro?si=TRfHIWELfQmUaOm3" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_3.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_3_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_3.jpg" alt="Watch LG at ISE 2025 Business Cloud & Software Solutions video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://youtu.be/BxwbsB2JNOE?si=KGadzftzN4bSLxXe" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_4.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_4_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_4.jpg" alt="Watch LG at ISE 2025 Coporate video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://youtu.be/FnSyXFltnFo?si=I95B_d9jKCJ6Fqa8" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_5.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_5_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_5.jpg" alt="Watch LG at ISE 2025 LED tech ZONE video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://youtu.be/AXQtjUBNlN4?si=Dj9hhQRyBc8Ugi12" target="_blank" rel="noopener noreferrer">
          <figure class="inspiration-slide-img-bx">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_6.jpg" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_6_m.jpg" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_6.jpg" alt="Watch LG at ISE 2025 The Next Generation Micro LED & LG MAGNIT video" width="1033" height="492" loading="lazy">
            </picture>
          </figure>
        </a>
      </div>
      <div class="swiper-slide">
        <figure class="inspiration-slide-img-bx">
          <picture>
            <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_7.jpg" media="(min-width: 768px)">
            <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_7_m.jpg" media="(max-width: 767px)">
            <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_7.jpg" alt="An array of bright images displayed on a wall at the LG ISE 2025 exhibition." width="1033" height="492" loading="lazy">
          </picture>
        </figure>
      </div>
      <div class="swiper-slide">
        <figure class="inspiration-slide-img-bx">
          <picture>
            <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_8.jpg" media="(min-width: 768px)">
            <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_8_m.jpg" media="(max-width: 767px)">
            <img src="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_8.jpg" alt="Attendees surround a large display at the LG ISE 2025, engaging with the showcased technology." width="1033" height="492" loading="lazy">
          </picture>
        </figure>
      </div>
      <div class="swiper-slide">
        <figure class="inspiration-slide-img-bx">
          <picture>
            <source srcset="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_9.jpg" media="(min-width: 768px)">
            <source srcset="/theme/rbFront/img/m/ise/ise2026/inspiration_slide_9_m.jpg" media="(max-width: 767px)">
            <img src="/theme/rbFront/img/w/ise/ise2026/inspiration_slide_9.jpg" alt="Attendees stand around a large display at LG ISE 2025, discussing and interacting with the innovative presentations." width="1033" height="492" loading="lazy">
          </picture>
        </figure>
      </div>
    </div>
    <div class="slide-pagination"></div>
    <div class="slide-btn-bx">
      <button class="slide-btn slide-btn-prev">
        <span class="a11y-hidden">Previous</span>
      </button>
      <button class="slide-btn slide-btn-next">
        <span class="a11y-hidden">Next</span>
      </button>
    </div>
  </div>
</section>