<script src="./assets/js/parallax.js" defer></script>

<!-- S : parallax -->
<section class="parallax-container">
  <div class="parallax-txt-bx">
    <div class="parallax-txt-bx-logo" role="img" aria-label="Radio Optimism campaign logo">
      <div class="parallax-txt-bx-logo-txt">
        <picture>
          <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-logo-desktop.png" media="(min-width: 1024px)">
          <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-logo-mobile.png" media="(max-width: 1023px)">
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-logo-mobile.png" alt="RADIO OPTIMISM">
        </picture>
      </div>
      <div class="parallax-txt-bx-logo-sticker">
        <div class="parallax-txt-bx-logo-sticker-radio">
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-logo-sticker-radio.png" alt="RADIO OPTIMISM radio sticker">
        </div>
        <div class="parallax-txt-bx-logo-sticker-logo">
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-logo-sticker-logo.png" alt="RADIO OPTIMISM logo sticker">
        </div>
      </div>
    </div>
    <h2 class="parallax-txt-bx-title heading">MAKE THE TUNES AND SOMEONE'S DAY</h2>
    <div class="parallax-txt-bx-radio-controls" aria-hidden="true">
      <span class="parallax-txt-bx-radio-controls-line"></span>
      <span class="parallax-txt-bx-radio-controls-boll"></span>
      <span class="parallax-txt-bx-radio-controls-line"></span>
    </div>
    <div class="parallax-txt-bx-btns">
      <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-btns.svg" alt="Radio buttons">
    </div>
  </div>
  <div class="parallax-item-bx" role="img" aria-label="A woman wearing a red hiking jacket is standing in a place where the vast ocean and snow-covered mountains can be seen.">
    <div class="parallax-bg">
      <picture>
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-bg-desktop.jpg" media="(min-width: 769px)">
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-bg-mobile.jpg" media="(max-width: 768px)">
        <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-bg-desktop.jpg" alt="parallax-bg">
      </picture>
    </div>
    <div class="parallax-item parallax-item-01" >
      <picture>
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-01-desktop.png" media="(min-width: 769px)">
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-01-mobile.png" media="(max-width: 768px)">
        <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-01-desktop.png" alt="Parallax decorative element 1">
      </picture>
    </div> 
    <div class="parallax-item parallax-item-02">
      <picture>
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-02-desktop.png" media="(min-width: 769px)">
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-02-mobile.png" media="(max-width: 768px)">
        <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-02-desktop.png" alt="Parallax decorative element 2">
      </picture>
      </div>
    <div class="parallax-item parallax-item-03">
      <picture>
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-03-desktop.png" media="(min-width: 769px)">
        <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-03-mobile.png" media="(max-width: 768px)">
        <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-parallax-item-03-desktop.png" alt="Parallax decorative element 3">
      </picture>
    </div>
  </div>
  <div class="scroll-move" role="img" aria-label="Scroll down">
    <span>Scroll down</span>
    <svg aria-hidden="true" width="34" height="63" viewBox="0 0 34 63" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1" y="1" width="32" height="48" rx="16" stroke="white" stroke-width="2"/>
      <path d="M23.0703 55.9531L16.9989 61.9055L10.9275 55.9531" stroke="white" stroke-width="1.5" stroke-linecap="square"/>
      <ellipse cx="16.9989" cy="36.9044" rx="2.42857" ry="2.38095" fill="white"/>
    </svg>
  </div>
</section>
<!-- E : parallax -->