<script src="./assets/js/parallax.js" defer></script>

<!-- S : parallax -->
<section class="parallax-container">
  <div class="parallax-txt-bx">
    <div class="parallax-txt-bx-logo">
      <picture>
        <img src="./assets/images/parallax-logo-desktop.png" alt="RADIO OPTIMISM">
      </picture>
    </div>
    <h2 class="parallax-txt-bx-title">MAKE THE TUNES AND SOMEONE'S DAY</h2>
  </div>
  <div class="parallax-item-bx">
    <img src="./assets/images/parallax-bg.jpg" alt="parallax-bg">
    <div class="parallax-item parallax-item-01" role="img" aria-label="Parallax decorative element 1">
      <img src="./assets/images/parallax-item-01.png" alt="Parallax decorative element 1">
    </div> 
    <div class="parallax-item parallax-item-02" role="img" aria-label="Parallax decorative element 2">
      <img src="./assets/images/parallax-item-02.png" alt="Parallax decorative element 2">
    </div>
    <div class="parallax-item parallax-item-03" role="img" aria-label="Parallax decorative element 3">
      <img src="./assets/images/parallax-item-03.png" alt="Parallax decorative element 3">
    </div>
  </div>
  <div class="scroll-move" role="img" aria-label="Scroll down">
    <span>Scroll down</span>
    <svg aria-hidden="true" width="34" height="63" viewBox="0 0 34 63" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1" y="1" width="32" height="48" rx="16" stroke="white" stroke-width="2"/>
      <path d="M23.0703 55.9531L16.9989 61.9055L10.9275 55.9531" stroke="white" stroke-width="1.5" stroke-linecap="square"/>
      <ellipse cx="16.9989" cy="36.9044" rx="2.42857" ry="2.38095" fill="white"/>
    </svg>
  </div>
</section>
<!-- E : parallax -->