@use '../../assets/scss/mixin' as *;
@use '../../assets/scss/variable' as *;

.parallax {
  &-container {
    width:100%;
    position: relative;
    min-height: 600px;
    background-color: $black;
    padding-bottom: rem(90);
    overflow: hidden;
    img {
      @include img();
    }
    @keyframes scrollMove {
      /* 시작: 바닥에 위치 */
      0% {
        transform: translateY(0);
        /* 바닥에서 출발할 때는 빠르게 상승 */
        animation-timing-function: ease-out;
      }
      /* 약 30% 시점에 최고 높이(-10rem)에 도달 */
      50% {
        transform: translateY(rem(-20));
        /* 최고점에서 다시 떨어질 때는 속도를 줄여 자연스럽게 */
        animation-timing-function: ease-in;
      }
      /* 나머지 시간동안 바닥에 머무름 */
      100% {
        transform: translateY(0);
      }
    }
    .scroll-move {
      position: sticky;
      bottom: rem(10);
      z-index: 3;
      span {
        display: block;
        font-size: rem(14);
        font-weight: 400;
        line-height: 1.07;
        margin-top: rem(10);
        color: $white;
        text-align: center;
        @include tablet {
          font-size: rem(16);
        }
        @include desktop {
          font-size: rem(20);
          margin-bottom: rem(11);
        }
      }
      svg {
        display: block;
        margin: 0 auto;
      }
      ellipse {
        animation: "scrollMove" 1.5s infinite;
      }
      &.scroll-move-static {
        position: relative;
        margin: 0 auto;
      }
    }
  }
  &-txt-bx {
    position: absolute;
    top: rem(200);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    &-logo {
      width: rem(295);
      margin:0 auto;
      position: relative;
      opacity: 0;
      @include tablet {
        width: rem(431);
      }
      @include desktop {
        width: rem(680);
      }
      &-sticker {
        position: absolute;
        bottom: rem(-20);
        right: rem(-124);
        opacity: 0;
        transform: scale(0);
      }
    }
    &-title {
      font-size: rem(28);
      font-weight: 700;
      line-height: 1.07;
      letter-spacing: 0;
      margin-top: rem(40);
      opacity: 0;
      @include tablet {
        font-size: rem(44);
      }
      @include desktop {
        font-size: rem(37);
      }
    }
         &-radio-controls {
       width:100%;
       margin-top:rem(12);
       display:flex;
       align-items:center;
       column-gap:rem(3);
       opacity: 0;
       &-boll {
         width:rem(14);
         height:rem(14);
         border-radius:50%;
         background:$black;
         flex-shrink:0;
       }
       &-line {
         height:rem(4);
         background:$black;
         border-radius:rem(100);
         flex-shrink:0;
         &:first-child {
           width: 0; // 첫 번째 line 초기값
         }
         &:last-child {
           width:calc(100% - rem(10)); // 두 번째 line 초기값
         }
       }
     }
  }
  &-item-bx {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  &-bg {
    width: 100%;
    min-height: 100vh;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-item {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
    &-01 {
      bottom: 4.5%;
    }
    &-03 {
      transition-duration: 0.8s;
      z-index: 2;
    }
  }
}