<div data-layer-id="energy-refrigerator">
  <div class="layer-content-section">
    <h3 class="heading">Fits your lifestyle, maxes freshness</h3>
    <div class="layer-content-grid">
      <div class="layer-content-image">
        <img src="./assets/images/products/product_02.png" alt="Refrigerators with AI Saving Mode">
      </div>
      <div class="layer-content-text">
        <h4 class="heading">AI Saving Mode</h4>
        <p>LG ThinQ™<sup>¹⁾</sup> optimises cooling during low-use times.</p>
        <p>The AI Saving Mode™<sup>²⁾</sup> analyses year usage patterns over a 3-week period and identifies when the refrigerator door is opened less frequently, reducing energy consumption while keeping your food fresh.</p>
      </div>
    </div>
    <div class="layer-content-grid">
      <div class="layer-content-text">
        <h4 class="heading">Enhanced energy efficiency</h4>
        <p>The LG Smart Inverter Compressor™ adjusts cooling power as needed, reducing energy use while operating quietly and reliably. It also comes with a 10-year warranty.</p>
      </div>
      <div class="layer-content-image">
        <img src="./assets/images/products/product_02.png" alt="Energy efficiency rating">
      </div>
    </div>
  </div>
  
  <div class="layer-content-disclaimer">
    <p>*Product images are for illustrative purposes only and may differ from actual product.</p>
    <p>** Model: GBB530AVV</p>
    <ul class="disclaimer-list-primary">
      <li>
        <span class="disclaimer-label">1) LG ThinQ™</span>
        <ul class="disclaimer-list-secondary">
          <li>To use ThinQ features, you need to install the 'LG ThinQ' app from the Google Play Store or Apple App Store on your smartphone and connect to Wi-Fi. LG ThinQ™ app available on compatible Android 9.0 or higher, iOS 16.0 or higher smartphones. Phone and Home Wi-Fi Data connection and product registration with LG ThinQ™ required.</li>
          <li>LG ThinQ™ functions may vary depending on the product and country.</li>
        </ul>
      </li>
      <li>
        <span class="disclaimer-label">2) AI Saving Mode</span>
        <ul class="disclaimer-list-secondary">
          <li>The AI saving mode can be adjusted in two stages (up to 1% for stage 1 and up to 5% for stage 2), and the savings rate varies depending on the product's energy rating and specifications.</li>
          <li>The AI savings rate for each stage may vary depending on actual usage conditions.</li>
          <li>
            The specific test details for the savings rate are as follows
            <ol class="disclaimer-list-tertiary">
              <li>Test Model: GBBW322CEV</li>
              <li>Test Conditions: Freezer at -18°C, Refrigerator at 3°C, No Load</li>
              <li>Installation Conditions: Room temperature at 25°C, humidity at 55%</li>
              <li>Test Method: 8-hour opening, 16-hour no opening Total opening times during the opening hours: Refrigerator 28 times, Freezer 6 times Energy results for each AI saving mode stage over 3 days are converted to 24-hour energy consumption and compared.</li>
              <li>When using the AI saving mode, the frost removal cycle and compressor speed may be adjusted according to the surrounding environment. Applying stage 2 may result in an increase in internal temperature of the freezer and refrigerator.</li>
              <li>The test results have been verified by TÜV Rheinland Inc. using their specified testing method, but they may vary depending on the actual usage environment.</li>
              <li>The AI saving mode is only supported through the LG ThinQ app, and LG ThinQ may have some limitations in terms of supported environments and usage methods.</li>
            </ol>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
