<!-- S : faq -->
<section class="faq">
  <div class="inner">
    <div class="faq-content-bx">
      <div class="faq-title-bx">
        <figure class="logo-bx fade-in-up">
          <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_black.svg" width="40" height="40" alt="Lg" loading="lazy">
        </figure>
        <div class="section-title-bx">
          <h2 class="title heading fade-in-up">
            What you need to<br> 
            know before you visit
          </h2>
        </div>
      </div>
      <div class="faq-list-bx">
        <ul class="faq-list">
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-0" aria-expanded="false" aria-controls="faq-answer-0">
              <span class="text heading">Where can I find the ISE 2026<br> floor plan?</span>
            </button>
            <div class="faq-answer" id="faq-answer-0" role="region" aria-labelledby="faq-question-0">
              <p class="text">
                To view the ISE 2026 floor plan, visit the "Floor Plan" section on the official <br class="br-pc">ISE 2026 website and go to the dedicated "Floor Plan" page. <br class="br-pc">For direct access, click here: <a class="faq-link" href="https://ise2026.mapyourshow.com/8_0/floorplan/index.cfm?st=keyword&sv=LG&hallID=B&selectedBooth=3K100" target="_blank" rel="noopener noreferrer">ISE 2026 Floor Plan.</a> <br>You can also find the location of the LG booth, which will be located at Hall 3, 3K100.
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-1" aria-expanded="false" aria-controls="faq-answer-1">
              <span class="text heading">How can I get free admission to <br>ISE 2026?</span>
            </button>
            <div class="faq-answer" id="faq-answer-1" role="region" aria-labelledby="faq-question-1">
              <p class="text">
                To attend ISE 2026 for free, simply register in advance using LG's free <br class="br-pc"><a class="faq-link" href="https://register.visitcloud.com/survey/0hztq4lbmv5rp?actioncode=ISE260710" target="_blank" rel="noopener noreferrer">invitation code : ISE260710.</a> Be sure to enter the code on the registration page.
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-2" aria-expanded="false" aria-controls="faq-answer-2">
              <span class="text heading">What LG products were exhibited<br> at ISE 2025?</span>
            </button>
            <div class="faq-answer" id="faq-answer-2" role="region" aria-labelledby="faq-question-2">
              <p class="text">
                At ISE 2025, LG showcased a diverse lineup of cutting-edge products, including:<br><br>

                <strong>Meeting Room Displays:</strong> The UP5Q display, featuring fire safety certification and 4K OSD, was highlighted for its high-performance capabilities. A 105-inch Stretch Signage display demonstrated a 21:9 format designed for advanced video conferencing setups.<br>

                <strong>LG CreateBoard Series:</strong> Multiple models of LG CreateBoard were displayed, offering hands-on experience with interactive screens in a smart classroom environment.<br>

                <strong>LED Technology Zone:</strong> The LG MAGNIT, Micro LED Screen was featured alongside a range of indoor and outdoor LED displays.<br>

                <strong>Integrated Software Business Solutions:</strong> Each zone included tailored business software solutions like LG SuperSign Cloud, LG Pro:Centric Cloud, allowing visitors to explore how LG products integrate seamlessly into real-world business environments. <br><br>For more details, visit LG official ISE 2025 showcase page: <a class="faq-link" href="https://www.lg-informationdisplay.com/ise2025" target="_blank" rel="noopener noreferrer">LG ISE 2025.</a>
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-3" aria-expanded="false" aria-controls="faq-answer-3">
              <span class="text heading">What were the standout highlights<br> at ISE 2025?</span>
            </button>
            <div class="faq-answer" id="faq-answer-3" role="region" aria-labelledby="faq-question-3">
              <p class="text">
                At ISE 2025, LG captivated attendees with two major innovations:<br><br>
                <strong>Kinetic LED Display:</strong> A 7,180 x 4,090mm screen composed of 88 connected LED panels. Its rotating cube-shaped modules created dynamic visual effects enhanced by AI integration. Visitors could upload photos via QR code, which LG’s generative AI transformed into Pop Art-style images displayed on the Kinetic LED.<br>
                <strong>AM Micro LED Display:</strong> The 136-inch AM Micro LED with a 0.78mm pixel pitch was a technological marvel, as the most complete AM display product at ISE 2025.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- E : faq -->