<section class="faq">
  <div class="inner">
    <div class="faq-content-bx">
      <div class="faq-title-bx">
        <figure class="logo-bx fade-in-up">
          <img src="./assets/images/ic_lg_black.svg" width="40" height="40" alt="Lg" loading="lazy">
        </figure>
        <div class="section-title-bx">
          <h2 class="title heading fade-in-up">
            What you need to<br> 
            know before you Go
          </h2>
        </div>
      </div>
      <div class="faq-list-bx">
        <ul class="faq-list">
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-0" aria-expanded="false" aria-controls="faq-answer-0">
              <span class="text heading">Where can I find the ISE 2026<br> floor plan?</span>
            </button>
            <div class="faq-answer" id="faq-answer-0" role="region" aria-labelledby="faq-question-0">
              <p class="text">
                To view the ISE 2026 floor plan, visit the "Floor Plan" section on the official ISE 2026 website and go to the dedicated "Floor Plan" page. <br>For direct access, click here: <a href="https://ise2026.mapyourshow.com/8_0/floorplan/index.cfm" target="_blank" rel="noopener noreferrer">ISE 2026 Floor Plan.</a> <br>You can also find the location of the LG booth, which will be <br>located at 3K100. 
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-1" aria-expanded="false" aria-controls="faq-answer-1">
              <span class="text heading">How can I get free admission to <br>ISE 2026?</span>
            </button>
            <div class="faq-answer" id="faq-answer-1" role="region" aria-labelledby="faq-question-1">
              <p class="text">
                To attend ISE 2026 for free, simply register in advance using LG's free invitation code : ISE260710. <br>Be sure to enter the code on the registration page.
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-2" aria-expanded="false" aria-controls="faq-answer-2">
              <span class="text heading">What LG products were exhibited<br> at ISE 2025?</span>
            </button>
            <div class="faq-answer" id="faq-answer-2" role="region" aria-labelledby="faq-question-2">
              <p class="text">
                At ISE 2025, LG showcased a diverse lineup of cutting-edge products, including:<br><br>

                Meeting Room Displays: The UP5Q display, featuring fire safety certification and 4K OSD, was highlighted for its high-performance capabilities. A 105-inch Stretch Signage display demonstrated a 21:9 format designed for advanced video conferencing setups.<br>

                LG CreateBoard Series: Multiple models of LG CreateBoard were displayed, offering hands-on experience with interactive screens in a smart classroom environment.<br>

                LED Technology Zone: The LG MAGNIT Micro LED Screen was featured alongside a range of indoor and outdoor LED displays.<br>

                Integrated Software Business Solutions: Each zone included tailored business software solutions like LG Business Cloud, allowing visitors to explore how LG products integrate seamlessly into real-world business environments.<br><br>

                For more details, visit LG official ISE 2025 showcase page: <a href="https://www.lg-informationdisplay.com/ise2025">LG ISE 2025.</a>
              </p>
            </div>
          </li>
          <li class="faq-item fade-in-up">
            <button type="button" class="faq-question" id="faq-question-3" aria-expanded="false" aria-controls="faq-answer-3">
              <span class="text heading">What were the standout highlights<br> at ISE 2025?</span>
            </button>
            <div class="faq-answer" id="faq-answer-3" role="region" aria-labelledby="faq-question-3">
              <p class="text">
                At ISE 2025, LG captivated attendees with two major innovations:<br><br>
                Kinetic LED Display: A 7,180 x 4,090 mm screen composed of 88 connected LED panels. Its rotating cube-shaped modules created dynamic visual effects enhanced by AI integration. Visitors could upload photos via QR code, which LG’s generative AI transformed into Pop Art-style images displayed on the Kinetic LED.<br>
                AM Micro LED Display: The 136-inch AM Micro LED with a 0.78mm pixel pitch was a technological marvel, hailed by TechTarget as the most complete AM display product at ISE 2025.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>