@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.overview {
  background-color: $black;
  text-align: center;
  color: $white;  
  position: relative;
  overflow: hidden;
  padding: rem(48) 0 rem(96);
  .logo-bx {
    margin-bottom: rem(85);
    img {
      max-width: 100%;
      height: auto;
    }
    @include tablet {
      margin-bottom: rem(87);
    }
    @include desktop {
      margin-bottom: rem(180);
    }
  }
  .video-bx {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inner {
    position: relative;
    z-index: 2;
  }
  .countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(12);
    width: 100%;
    margin-bottom: rem(40);
    p {
      display: flex;
      position: relative;
      padding-top: rem(15);
      .text {
        @include font(8,100%,400);
        color: rgba(255,255,255,0.5);
        position: absolute;
        top: 0;
        right: 0;
        @include tablet {
          font-size: rem(14);
        }
      }
    }
    img {
      max-width: 100%;
      height: min(rem(31.23), 8vw);
      object-fit: contain;
    }
    @include tablet {
      gap: rem(66);
      margin-bottom: rem(54);
      p {
        padding-top: rem(32);
      }
      img {
        height: min(rem(80), 8vw);
      }
    }
    @include desktop {
      gap: rem(80);
      margin-bottom: rem(75);
      img {
        height: rem(90);
      }
    }
  }
  .text-bx {
    margin-bottom: rem(56);
    .title {
      font-family: "LG EI Headline";
      @include font(16,140%,550);
      margin-bottom: rem(16);
    }
    .text {
      @include font(12,140%,250);
      color: #AFAFAF;
      max-width: rem(820);
      margin: 0 auto;
      strong {
        font-weight: 700;
      }
    }
    @include tablet {
      margin-bottom: rem(75);
      .title {
        font-size: rem(40);
        margin-bottom: rem(17)
      }
      .text {
        font-size: rem(22);
      }
    }
    @include desktop {
      margin-bottom: rem(124);
      .title {
        margin-bottom: rem(40);
      }
    }
  }
  .add-to-calendar-btn {
    @include btn($white, true);
    margin: 0 auto;
  }
}