<!-- S : overview -->
<section class="overview">
  <div class="video-bx">
    <video playsinline muted loop autoplay preload="auto" poster="/theme/rbFront/img/w/ise/ise2026/overview_poster.jpg" aria-label="bg line video">
      <source src="/theme/rbFront/img/w/ise/ise2026/overview.mp4" type="video/mp4">
    </video>
  </div>
  <div class="inner">
    <figure class="logo-bx fade-in-up">
      <picture>
        <source srcset="/theme/rbFront/img/w/ise/ise2026/overview_logo.png" media="(min-width: 768px)">
        <source srcset="/theme/rbFront/img/m/ise/ise2026/overview_logo_m.png" media="(max-width: 767px)">
        <img src="/theme/rbFront/img/m/ise/ise2026/overview_logo.png" alt="overview image" loading="lazy">
      </picture>
    </figure>
    <div class="countdown">
      <p class="day fade-in-up">
        <span class="text">DAYS</span>
      </p>
      <p class="hour fade-in-up">
        <span class="text">HOURS</span>
      </p>
      <p class="minute fade-in-up">
        <span class="text">MINUTES</span>
      </p>
      <p class="second fade-in-up">
        <span class="text">SECONDS</span>
      </p>
    </div>
    <div class="text-bx">
      <h2 class="title heading fade-in-up">
        Mark the moment innovation comes alive
      </h2>
      <p class="text fade-in-up">
        Experience how LG, together with various partners, transforms solutions to you at ISE 2026. <br>Our solutions evolve into a vibrant circle that supports diverse industries and <br>symbolizes the harmony of hardware and software, including the latest LED technologies.
      </p>
    </div>
    <div class="btn-bx fade-in-up" data-delay="1.2">
      <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=LG%20ISE%202026%20:%20Fira%20de%20Barcelona&dates=20260203T100000/20260206T000000&details=February%203-6%20|%203K%20100%20|%20Fira%20de%20Barcelona,%20Gran%20Via,%20Spain&location=Fira%20de%20Barcelona,%20Gran%20Via,%20Spain" class="add-to-calendar-btn" target="_blank" rel="noopener noreferrer">Add to calendar</a>
    </div>
  </div>
</section>
<!-- E : overview -->