@import "_mixin";
* {
  font-family: LGEI Text;
}
.a11y-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.campaign-2025 {
  button {
    cursor: pointer;
    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
  /*2025 게이트 페이지*/
  &.gate {
    .mobile-only {
      display: block;
      @include tablet {
        display: none;
      }
    }
    .play-btn {
      width: rem(32);
      height: rem(32);
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../images/lifes-good-campaign-2025-live-human-lgcom-gate-img-icon_pause.svg");
      margin-top: rem(40);
      cursor: pointer;
      &.active {
        background-image: url("../images/lifes-good-campaign-2025-live-human-lgcom-gate-img-icon_play.svg");
      }
    }
    .section {
      &:not(.hero-visual) {
        position: relative;
        z-index: 2;
      }
      //메인 영상 영역
      &.hero-visual {
        width: 100%;
        height: 100svh;
        position: sticky;
        top: 0;
        max-width: 1440px;
        margin: 0 auto;
        .inner {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1;
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.2);
            position: absolute;
            top: 0;
            left: 0;
          }
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(130deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
          }
          .video-bx {
            width: 100%;
            height: 100%;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .txt-bx {
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            .title {
              img {
                display: block;
                width: rem(157);
                margin-left: auto;
                margin-right: auto;
                margin-bottom: rem(8);
              }
              span {
                font-family: "LGEI Headline";
                font-weight: 600;
                font-size: rem(52);
                color: $white;
              }
              strong {
                display: block;
                font-family: "LGEI Headline";
                font-weight: 600;
                font-size: rem(80);
                color: $white;
                margin-top: rem(64);
              }
            }
            .btn {
              margin: rem(40) auto 0;
            }
          }
          @keyframes scrollMove {
            /* 시작: 바닥에 위치 */
            0% {
              transform: translateY(0);
              /* 바닥에서 출발할 때는 빠르게 상승 */
              animation-timing-function: ease-out;
            }
            /* 약 30% 시점에 최고 높이(-10rem)에 도달 */
            50% {
              transform: translateY(rem(-10));
              /* 최고점에서 다시 떨어질 때는 속도를 줄여 자연스럽게 */
              animation-timing-function: ease-in;
            }
            /* 나머지 시간동안 바닥에 머무름 */
            100% {
              transform: translateY(0);
            }
          }
          .scroll-move {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            bottom: rem(28);
            z-index: 2;
            ellipse {
              animation: "scrollMove" 1.5s infinite;
            }
          }
        }
      }
      //article-banner
      &.article-banner {
        width: 100%;
        padding: rem(80) rem(16) rem(15);
        background-color: #F0ECE4;
        @include tablet {
          padding: rem(120) rem(24) rem(23);
        }
        @include desktop {
          padding: rem(160) rem(24) rem(63);
        }
        .inner {
          max-width: rem(816);
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include tablet {
            padding: 0;
          }
        }
        .article-banner-logo {
          width: rem(95);
          opacity: 0;
          transform: translateY(rem(20));
          transition: all 0.3s;
          @include tablet {
            width: rem(126);
          }
          @include desktop {
            width: rem(148);
          }
          img {
            width: 100%;
          }
        }
        .title {
          font-family: "LGEI Headline";
          font-weight: 600;
          font-size: rem(28);
          text-align: center;
          line-height: 1.12;
          margin-top: rem(8);
          background: linear-gradient(130deg, rgba(253,49,46,1) 2%, rgba(249,20,235,1) 57%, rgba(180,50,245,1) 79%, rgba(130,39,255,1) 97%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          opacity: 0;
          transform: translateY(rem(20));
          transition: all 0.3s;
          @include tablet {
            font-size: rem(44);
          }
          @include desktop {
            font-size: rem(56);
          }
        }
        .txt {
          font-size: rem(20);
          line-height: 1.14;
          text-align: center;
          margin-top: rem(16);
          opacity: 0;
          transform: translateY(rem(20));
          transition: all 0.3s;
          @include tablet {
            font-size: rem(28);
          }
          @include desktop {
            margin-top: rem(20);
          }
        }
        &.active {
          .article-banner-logo,
          .title,
          .txt {
            opacity: 1;
            transform: translateY(0);
          }
          .title {
            transition-delay: 0.4s;
          }
          .txt {
            transition-delay: 0.8s;
          }
        }
      }
      //overview
      &.overview {
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        .img-list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100vh;
          @supports (-ms-ime-align: auto) {
            height: -webkit-fill-available;
          }
          li {
            width: 23.1%;
            border-radius: rem(28);
            overflow: hidden;
            position: absolute;
            will-change: transform;
            img {
              display: block;
              width: 100%;
              max-width: 100%;
              aspect-ratio: 1;
              object-fit: cover;
              object-position: center;
            }
            @for $i from 1 to 7 {
              &:nth-child(#{$i}) {
                z-index: 7 - $i;
              }
            }
          }
        }
        .txt-bx {
          width: 100%;
          transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50%;
          .bx {
            max-width: 610px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 7;
            &.bx-1 {
              max-width: 666px;
            }
          }
          .title {
            font-family: "LGEI Headline";
            font-weight: 600;
            font-size: rem(56);
            margin-bottom: rem(8);
            opacity: 0;
            transform: translateY(rem(10));
            @include tablet {
              br {
                display: none;
              }
            }
          }
          p {
            font-size: rem(28);
            line-height: 1.167;
            opacity: 0;
            transform: translateY(rem(10));
            & + p {
              margin-top: rem(28);
            }
          }
          img.title {
            margin-top: rem(40);
          }
        }
        .red-point {
          width: 100vw;
          display: block;
          transform: translateX(-50%) scale(10);
          position: absolute;
          left: 50%;
          bottom: -14vh;
          opacity: 0;
          z-index: -2;
          &.active {
            @include tablet {
              width: rem(72) !important;
            }
            opacity: 1 !important;
            transition: all 0.3s;
          }
        }
      }
      //intelligence
      &.intelligence {
        width: 100%;
        min-height: 100vh;
        background-color: #f0ece4;
        position: relative;
        .sticky {
          width: 100%;
          background-color: #f0ece4;
          border-bottom: 1px solid #cbc8c2;
          position: sticky;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 5;
          transition: opacity 0.3s;
          &.active {
            opacity: 1;
          }
          .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(96);
            img {
              width: rem(95);
              margin-right: rem(16);
            }
            span {
              font-family: "LGEI Headline";
              font-weight: 600;
              font-size: rem(40);
              line-height: 1.1;
              background: linear-gradient(
                90deg,
                rgba(253, 49, 46, 1) 2%,
                rgba(249, 20, 235, 1) 54%,
                rgba(130, 39, 255, 1) 97%,
                rgba(180, 50, 245, 1) 8799%
              );
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
            }
          }
        }
        ul {
          margin-top: rem(-1);
          li {
            display: flex;
            justify-content: center;
            transition: background-color 0.3s;
            .content-bx {
              width: 50%;
              height: rem(560);
              position: relative;
              overflow: hidden;
              z-index: 1;
              video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s;
              }
              .play-btn {
                position: absolute;
                transform: translate(-50%);
                left: 50%;
                bottom: rem(25);
                background-image: url("../images/lifes-good-campaign-2025-live-human-lgcom-gate-img-icon_play.svg");
                &.active {
                  background-image: url("../images/lifes-good-campaign-2025-live-human-lgcom-gate-img-icon_pause.svg");
                }
              }
            }
            .des-bx {
              width: 50%;
              padding: rem(80) rem(20) rem(80) rem(110);
              dt {
                font-family: "LGEI Headline";
                font-weight: 600;
                font-size: rem(56);
                margin-bottom: rem(16);
                max-width: 610px;
              }
              dd {
                font-size: rem(24);
                line-height: 1.167;
                color: #333333;
                max-width: 610px;
                a {
                  margin-top: rem(16);
                }
              }
            }
            @include tablet {
              position: relative;
              border-top: 1px solid #cbc8c2;
              &:last-child {
                border-bottom: 1px solid #cbc8c2;
              }
              &:hover {
                background-color: #f6f4f0;
                .content-bx {
                  video {
                    transform: scale(1.05);
                  }
                }
              }
            }
          }
        }
      }
      //stories
      &.stories {
        background-color: #f0ece4;
        .inner {
          padding: rem(56) 0 rem(56) rem(16);
          margin: 0 auto;
          @include tablet {
            width: min(calc(100% - rem(40)), 1440px);
            padding: rem(120) 0;
          }
          .title {
            font-family: "LGEI Headline";
            font-weight: 600;
            font-size: rem(56);
          }
          .slide-bx {
            margin-top: rem(20);
            .swiper-slide {
              height: auto;
              background-color: $white;
              border-radius: rem(28);
              overflow: hidden;
              img {
                width: 100%;
                aspect-ratio: 464 / 300;
                object-fit: cover;
              }
              .txt-bx {
                padding: rem(20) rem(28) rem(92);
                dl {
                  dt {
                    font-weight: 300;
                    font-size: rem(36);
                    line-height: 1.2;
                    margin-bottom: rem(8);
                  }
                  dd {
                    font-size: rem(24);
                    line-height: 1.1;
                    text-wrap: balance;
                    color: #333333;
                  }
                }
                .white-btn {
                  position: absolute;
                  bottom: rem(28);
                  left: rem(28);
                }
              }
            }
            .slide-controller {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: rem(16);
              margin-top: rem(20);
              margin-right: rem(16);
              button {
                display: block;
                width: rem(32);
                height: rem(32);
                position: relative;
                cursor: pointer;
                &::after {
                  content: "";
                  width: rem(8);
                  height: rem(12);
                  transform: translate(-50%, -50%);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  background: url("../images/lifes-good-campaign-2025-live-human-lgcom-gate-img-slide_arrow.svg") no-repeat;
                  background-position: center;
                  background-size: rem(8);
                }
                &.slide-button-next {
                  transform: rotate(180deg);
                }
              }
            }
            @include desktop {
              .swiper-wrapper {
                flex-wrap: nowrap;
                gap: rem(24);
                .swiper-slide {
                  width: calc(100% / 3 - rem(16));
                }
              }
            }
            @include tablet {
              .slide-controller {
                display: none;
              }
            }
          }
        }
      }
    }
    .section-wrap {
      background-color: #f6f3eb;
      position: relative;
      z-index: 2;
    }
    .layer-pop {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      .video-bx {
        width: min(calc(100% - rem(40)), 1280px);
        .close-btn {
          display: block;
          width: rem(56);
          height: rem(56);
          position: relative;
          margin-left: auto;
          margin-bottom: rem(10);
          &:focus-visible {
            outline: -webkit-focus-ring-color auto 1px;
          }
          &::after,
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
          }
          &::after {
            transform: rotate(-45deg);
          }
          &::before {
            transform: rotate(45deg);
          }
        }
        .iframe-bx {
          position: relative;
          padding-bottom: 56.25%;
          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .btn {
    @include btn($red);
  }
  .white-btn {
    @include btn($white);
  }
}
@media screen and (max-width: 1439px) {
  /*2025 게이트 페이지*/
  .campaign-2025 {
    &.gate {
      .section {
        //메인 영상 영역
        &.hero-visual {
          .inner {
            .txt-bx {
              .title {
                img {
                  width: rem(138);
                  margin-bottom: rem(4);
                }
                span {
                  font-size: rem(44);
                }
                strong {
                  font-size: rem(64);
                  margin-top: rem(46);
                }
              }
              .play-btn {
                margin-top: rem(32)
              }
            }
            .scroll-move {
              svg {
                transform: scale(0.944);
              }
            }
          }
        }
        //overview
        &.overview {
          .img-list {
            li {
              width: 35%;
              &:nth-child(2),
              &:nth-child(4) {
                opacity: 0;
                visibility: hidden;
              }
            }
          }
          .txt-bx {
            .title {
              font-size: rem(44);
            }
            img.title {
              width: rem(220);
            }
            p {
              font-size: rem(24);
            }
            .bx {
              max-width: 470px;
              width: calc(100% - rem(40));
              &.bx-1 {
                max-width: 520px;
              }
            }
          }
          .red-point {
            transform: translateX(-50%) scale(5);
            bottom: -16svh;
          }
        }
        //article-banner
        &.article-banner {
          min-height: unset;
          .txt-bx {
            max-width: rem(600);
            .title {
              margin-bottom: rem(16);
              img {
                width: rem(105.56);
                margin-bottom: rem(8);
              }
              span {
                font-size: rem(44);
              }
            }
            .txt {
              font-size: rem(24);
            }
          }
        }
        //intelligence
        &.intelligence {
          ul {
            li {
              align-items: center;
              .des-bx {
                padding: rem(76) rem(24) rem(76) rem(76);
                dt {
                  font-size: rem(44);
                }
                dd {
                  font-size: rem(20);
                }
              }
            }
          }
        }
        //stories
        &.stories {
          .inner {
            .slide-bx {
              .swiper-slide {
                .txt-bx {
                  dl {
                    dd {
                      font-weight: 400;
                      font-size: rem(16);
                    }
                  }
                }
              }
            }
            @include tablet {
              .swiper-wrapper {
                flex-wrap: nowrap;
                gap: rem(16);
                .swiper-slide {
                  width: calc(100% / 3 - rem(10.66));
                }
              }
              .slide-controller {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .campaign-2025 {
    /*2025 게이트 페이지*/
    &.gate {
      .section {
        //메인 영상 영역
        &.hero-visual {
          .inner {
            .txt-bx {
              padding: 0 rem(25);
              .title {
                img {
                  width: rem(96);
                  margin-bottom: rem(5);
                }
                span {
                  font-size: rem(24);
                }
                strong {
                  font-size: rem(44);
                  margin-top: rem(28);
                }
              }
              .btn {
                margin-top: rem(24);
              }
              .play-btn {
                margin-top: rem(24)
              }
            }
            .scroll-move {
              svg {
                transform: scale(0.83);
              }
            }
          }
        }
        //overview
        &.overview {
          .img-list {
            li {
              width: min(50%, rem(200));
            }
          }
          .txt-bx {
            width: 100%;
            .bx {
              width: calc(100% - rem(32));
            }
            .title {
              font-size: rem(28);
              line-height: 1.1428;
            }
            img.title {
              width: rem(172);
            }
            p {
              font-size: rem(20);
              text-wrap: balance;
              letter-spacing: 0.0164em;
            }
          }
          .red-point {
            transform: translateX(-50%) scale(3);
            bottom: -26svh;
            &.active {
              width: rem(56) !important;
            }
          }
        }
        //article-banner
        &.article-banner {
          .txt-bx {
            .title {
              span {
                font-size: rem(28);
                line-height: 1.14;
              }
            }
            .txt {
              font-size: rem(20);
            }
          }
        }
        //intelligence
        &.intelligence {
          .sticky {
            .title {
              height: rem(64);
              padding: rem(10) 0;
              img {
                width: rem(63.33);
                margin-right: rem(8);
              }
              span {
                font-size: rem(24);
              }
            }
          }
          ul {
            li {
              display: block;
              padding: 0 rem(16);
              .content-bx {
                width: 100%;
                height: auto;
                min-height: unset;
                overflow: hidden;
                video {
                  position: static;
                  aspect-ratio: 9 / 16;
                  border-radius: rem(20);
                  overflow: hidden;
                }
                .play-btn {
                  transform: translate(-50%, -50%);
                  top: 50%;
                }
              }
              .des-bx {
                width: 100%;
                padding: rem(12) 0 0;
                border: 0;
                dt {
                  font-size: rem(28);
                  line-height: 1.1428;
                  margin-bottom: rem(8);
                  max-width: unset;
                }
                dd {
                  font-size: rem(16);
                  max-width: unset;
                  a {
                    margin-top: rem(12);
                  }
                }
              }
              & + li {
                margin-top: rem(40);
              }
            }
          }
        }
        //stories
        &.stories {
          .inner {
            .title {
              font-size: rem(28);
              line-height: 1.1428;
            }
            .slide-bx {
              margin-top: rem(12);
              .swiper-slide {
                .txt-bx {
                  padding: rem(16) rem(20) rem(102);
                  dl {
                    dt {
                      font-size: rem(24);
                    }
                    dd {
                      font-size: rem(16);
                    }
                  }
                  .white-btn {
                    left: rem(20);
                    bottom: rem(24);
                  }
                }
              }
            }
          }
        }
      }
      .section-wrap {
        .logo-wrap {
          &.png-bx {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .campaign-2025 {
    /*2025 게이트 페이지*/
    &.gate {
      .section {
        //overview
        &.overview {
          .red-point {
            bottom: -20svh;
          }
        }
        //intelligence
        &.intelligence {
          .sticky {
            .title {
              img {
                width: rem(55);
              }
              span {
                font-size: rem(20);
              }
            }
          }
        }
      }
    }
  }
}