<div data-layer-id="circularity-home-appliances-tv">
  <div class="layer-content-section">
    <h3 class="heading">Expanding the use of recycled plastics</h3>
    
    <!-- 제품 리스트 -->
    <div class="layer-content-product-list">
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG PuriCare™ Objet Collection AeroFurniture">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG PuriCare™ AI Objet Collection AeroFurniture</h4>
          <p>More than 60% (2.8kg) of the total plastic used in this product consists of recycled plastics.</p>
          <p class="layer-content-model">* Model: AS065PWHA.AKOR</p>
        </div>
      </div>
      
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG WHISEN Objet Collection Wall-Mounted Air Conditioner">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG WHISEN Objet Collection Wall-Mounted Air Conditioner</h4>
          <p>More than 40% of the total plastic used in this product consists of recycled plastics.</p>
          <p class="layer-content-model">* Model: SQ06FA1WDS.BKOR</p>
        </div>
      </div>
      
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG PuriCare™ Objet Collection Water Purifier">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG PuriCare™ Objet Collection Water Purifier</h4>
          <p>More than 73% of the total plastic used in this product consists of recycled plastics.</p>
          <p class="layer-content-model">* Model: WU923AS</p>
        </div>
      </div>
      
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG TROMM Objet Collection Dryer">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG TROMM Objet Collection Dryer</h4>
          <p>More than 50% (6.8kg) of the total plastic used in this product consists of recycled plastics.</p>
          <p class="layer-content-model">* Model: RC90V9AV2Q.BBWQKUK</p>
        </div>
      </div>
      
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG tiiun mini">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG tiiun mini</h4>
          <p>More than 95% of the total plastic used in this product consists of recycled plastics.</p>
          <p class="layer-content-model">* Model: L023E1P12-3</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layer-content-section">
    <h3 class="heading">A great journey toward "Plastic-Free"</h3>
    
    <div class="layer-content-product-list">
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="LG OLED TV">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">LG OLED TV</h4>
          <p>The amount of plastic used in the 65-inch OLED evo has been dramatically reduced to around 40% compared to an LCD TV of the same size. We anticipate a reduction of approximately 16,000 tons of plastic usage.</p>
          <p class="layer-content-model">* Model: OLED TV</p>
        </div>
      </div>
      
      <div class="layer-content-product-item">
        <div class="layer-content-image">
          <img src="./assets/images/products/product_04.png" alt="Eco-friendly pulp mold cushioning">
        </div>
        <div class="layer-content-text">
          <h4 class="heading">Eco-friendly pulp mold cushioning</h4>
          <p>By introducing 100% recycled pulp molds, we ensure the safe packaging of large home appliances weighing over 20kg. We have reduced carbon emissions during distribution by optimizing packaging to improve loading efficiency, and we are leading resource circulation by replacing single-use Styrofoam (EPS) with reusable materials. From carbon reduction to a plastic-zero future, we are realizing sustainable packaging solutions.</p>
        </div>
      </div>
    </div>
  </div>
</div>
