@use './variable' as *;
@use './mixin' as *;

.ise-container {
  width:100%;
  margin:0 auto;
  
  section {
    padding: rem(47) 0 rem(44);
    @include desktop {
      padding: rem(100) 0 rem(132);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100dvh;
      &.faq {
        justify-content: flex-start;
      }
    }
  }
  
  .inner {
    width:100%;
    max-width: $inner;
    margin:0 auto;
    padding:0 rem(34);
  }
  
  .toast-popup {
    background-color: #DADADA;
    padding: rem(10) rem(40) rem(10) rem(40);
    border-radius: rem(10);
    position: absolute;
    transform: translate(-50% ,50%);  
    bottom: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    .inner {
      display: flex;
      align-items: center;
      gap: rem(10);
      &::before {
        content: '';
        display: inline-block;
        display: block;
        width: rem(22);
        height: rem(22);
        background-image: url('../../assets/images/ic_copy_popup.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
      .text {
        color: $black;
        @include font(17,100%,400);
        white-space: nowrap;
        span {
          color: $primary;
        }
      }
    }
  }

  .section-title-bx {
    .title {
      @include font(50,110%,700);
      margin-bottom: rem(40);
    }
    .text {
      @include font(22,140%,400);
    }
  }

  .heading {
    font-family: 'LGEI Headline', sans-serif;
  }

  .a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
  }
  /* fade-up animation */
  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s cubic-bezier(0.16, 1, 0.3, 1), transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.16, 1, 0.3, 1);
    &.is-visible {
      opacity: 1;
    }
  }
}