@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.booth-map {
  background-color: #FD312E;
  @include tablet {
    padding: rem(50) 0 rem(80);
  }
  @include desktop {
    padding: 0;
  }
  .inner {
    @include desktop {
      padding-top: rem(88+70);
    }
  }
  .section-tit-bx {
    color: $white;
    margin-bottom: rem(20);
    @include tablet {
      margin-bottom: rem(60);
    }
  }

  .slide-bx {
    width: calc(100% - rem(60));
    margin: 0 auto;
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    @include tablet {
      width: calc(100% - rem(96));
      max-width: rem(664);
    }
    @include desktop {
      max-width: rem(1200);
      padding-bottom: rem(150);
    }
    .swiper-slide {
      height: auto;
    }
    &.is-transitioning {
      opacity: 0;
    }
    .img-list {
      position: relative;
      width: 100%;
      height: 100%;
      .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.6s ease-in-out;
        pointer-events: none;
        border-radius: rem(20);
        overflow: hidden;
        &:first-child {
          position: relative;
          opacity: 1;
          pointer-events: auto;
        }
        
        &.active {
          opacity: 1;
          z-index: 2;
          pointer-events: auto;
        }
  
        picture, img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: rem(20);
        }
      }
    }
    .booth-bx {
      width: 100%;
      height: 100%;
      background-color: $black;
      border-radius: rem(20);
      overflow: hidden;
      position: relative;
      @include tablet {
        border-radius: rem(20);
      }
      @include desktop {
        display: flex;
        justify-content: space-between;
        gap: rem(10);
        padding-right: rem(50);
        border-radius: rem(30);
      }
      .booth-thumb {
        max-width: rem(542);
        width: 100%;
        position: relative;
        img {
          aspect-ratio: 216/146;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          clip-path: polygon(100% 0,100% 100%,57% 100%,0 73%,0 0);
          @include desktop {
            aspect-ratio: 542/438;
            clip-path: none;
          }
        }
        .booth-num {
          font-family: $font-headline;
          @include font(167,100%,550,$white);
          position: absolute;
          
          @include tablet {
            font-size: rem(40);
            left: rem(16);
            bottom: 0;
            transform: translateY(rem(8));
          }
          @include desktop {
            font-size: rem(167);
            top: rem(51.3);
            bottom: inherit;
            left: inherit;
            right: rem(6);
          }
        }
        picture {
          display: block;
        }
      }
      .booth-info {
        display: flex;
        gap: rem(40);
        position: relative;
        @include tablet {
          height: calc(100% - rem(146));
          min-height: rem(146);
          margin-top: rem(8);
          padding-bottom: rem(20);
        }
        @include desktop {
          width: calc(100% - rem(612));
          height: rem(274);
          min-height: auto;
          margin-top: rem(100);
          padding-bottom: 0;
        }
        .booth-info-bx {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
        }
        .booth-txt-bx {
          @include tablet {
            padding-left: rem(16);
          }
          @include desktop {
            padding-left: 0;
            padding-right: 0;
          }
          .booth-name {
            font-family: $font-headline;
            @include font(46,100%,550);
            color: $white;
            span {
              display: none;
              font-family: $font-headline;
              @include font(32,100%,550);
              margin-top: rem(8);
            }
            @include tablet {
              max-width: rem(125);
              font-size: rem(15);
              margin-bottom: rem(4);
            }
            @include desktop {
              max-width: unset;
              font-size: rem(46);
              margin-bottom: rem(20);
              span {
                display: block;
              }
            }
          }
          .booth-desc {
            font-family: $font-headline;
            @include font(15,1.2,250);
            color: $white;
            @include tablet {
              font-size: rem(9);
              max-width: rem(97);
            }
            @include desktop {
              font-size: rem(15);
              max-width: unset;
            }
          }
        }
      }
      .booth-location {
        flex-shrink: 0;
        position: absolute;
        top: rem(23);
        right: rem(16);
        @include tablet {
          img {
            width: rem(80);
            height: rem(70);
            object-fit: cover;
          }
        }
        @include desktop {
          position: static;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      gap: rem(44);
      width: fit-content;
      position: relative;
      margin: rem(82) auto 0;
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $white;
        position: absolute;
        bottom: rem(14);
        left: 0;
        z-index: -1;
      }
      &.swiper-pagination-bullets-dynamic {
        font-size: inherit;
        transform: translateX(0);
        overflow: unset;
      }
      .swiper-pagination-bullet {
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 0;
        opacity: 1;
        margin: 0;
        transform: scale(1);

        .bullet-wrap {
          position: relative;
        }
        .bullet-num {
          display: flex;
          align-items: center;
          justify-content: center;
          @include font(15,1.2,550);
          width: rem(28);
          height: rem(28);
          border-radius: 50%;
          background-color: $white;
          transition: all 0.4s;
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
        .bullet-text {
          @include font(14,1,550);
          position: absolute;
          bottom: rem(34);
          transform: translateX(-50%) translateY(5px);
          font-family: $font-headline;
          color: $white;
          white-space: nowrap;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
        }
        &.swiper-pagination-bullet-active {
          .bullet-num {
            background-color: $black;
            color: $white;
          }
          .bullet-text {
            color: $black;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0px);
          }
        }
      }
    }
    .btn {
      @include btn($white, false, $primary);
      margin: rem(16) auto 0;
      @include tablet {
        margin-top: 0;
      }
      @include desktop {
        margin: unset;
      }
    }
  }
}