<section class="sustainability-banner" id="banner">
  <div class="inner">
    <div class="sustainability-banner-content">
      <div class="sustainability-banner-text">
        <h2 class="sustainability-banner-title heading">Digital Library</h2>
        <p class="sustainability-banner-desc">LG Electronics transparently discloses its Sustainability Report and ESG-related policies through the website to communicate its ESG activities and performance with stakeholders.</p>
        <a href="https://www.lg.com/global/sustainability/policies-reports/" class="sustainability-banner-link">Learn more</a>
      </div>
      <div class="sustainability-banner-image">
        <img src="./assets/images/banner/banner_main.png" alt="A scene of a father and child giving each other a high five in a living room while a robot vacuum cleaner is operating on the floor">
      </div>
    </div>
  </div>
</section>
