<!-- S : booth map-->
<section class="section booth-map">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_white.svg" alt="LG" loading="lazy">
      <h2 class="title">
        Booth location & information
      </h2>
      <p class="text">
        Explore LG’s solutions for retail, corporate, hospitality, <br>
        and education—zone by zone—online, as if you were at ISE 2026.
      </p>
    </div>
  </div>
  <div class="slide-bx">
    <div class="swiper-wrapp">
      <div class="swiper-slide">
        <ol class="img-list">
          <li class="item active" data-slide-index="0">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_1.png" alt="Booth map 1" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="1">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_2.png" alt="Booth map 2" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="2">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_3.png" alt="Booth map 3" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="3">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_4.png" alt="Booth map 4" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="4">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_5.png" alt="Booth map 5" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="5">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_6.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_6.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_6.png" alt="Booth map 6" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="6">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_7.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_7.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_7.png" alt="Booth map 7" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="7">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_8.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_8.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_8.png" alt="Booth map 8" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="8">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_9.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_9.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_9.png" alt="Booth map 9" loading="lazy">
            </picture>
          </li> 
          <li class="item" data-slide-index="9">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_10.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_10.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_10.png" alt="Booth map 10" loading="lazy">
            </picture>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- E : booth map-->