<!-- S : booth map-->
<section class="section booth-map">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_white.svg" alt="LG" loading="lazy" class="logo-img">
      <h2 class="title">
        Booth location & information
      </h2>
      <p class="text">
        Explore LG’s solutions for retail, corporate, hospitality, <br>
        and education—zone by zone—online, as if you were at ISE 2026.
      </p>
    </div>
  </div>
  <div class="slide-bx swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <ol class="img-list">
          <li class="item active" data-slide-index="0">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_1.png" alt="Booth map 1" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="1">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_2.png" alt="Booth map 2" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="2">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_3.png" alt="Booth map 3" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="3">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_4.png" alt="Booth map 4" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="4">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_5.png" alt="Booth map 5" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="5">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_6.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_6.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_6.png" alt="Booth map 6" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="6">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_7.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_7.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_7.png" alt="Booth map 7" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="7">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_8.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_8.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_8.png" alt="Booth map 8" loading="lazy">
            </picture>
          </li>
          <li class="item" data-slide-index="8">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_9.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_9.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_9.png" alt="Booth map 9" loading="lazy">
            </picture>
          </li> 
          <li class="item" data-slide-index="9">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_map_10.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_map_10.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_map_10.png" alt="Booth map 10" loading="lazy">
            </picture>
          </li>
        </ol>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_1.png" alt="Key Attractor Booth info" loading="lazy">
            </picture>
            <p class="booth-num">1</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Key Attractor
                <span>(Brand Facade)</span>
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_1.png" alt="Booth location 1" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_2.png" alt="LG Business solutions Booth info" loading="lazy">
            </picture>
            <p class="booth-num">2</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                LG Business solutions
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_2.png" alt="Booth location 2" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_3.png" alt="K-Culture shop Booth info" loading="lazy">
            </picture>
            <p class="booth-num">3</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                K-Culture shop
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_3.png" alt="Booth location 3" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_4.png" alt="Drive-thru Booth info" loading="lazy">
            </picture>
            <p class="booth-num">4</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Drive-thru
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_4.png" alt="Booth location 4" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_5.png" alt="Meeting room Booth info" loading="lazy">
            </picture>
            <p class="booth-num">5</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Meeting room
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_5.png" alt="Booth location 5" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_6.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_6.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_6.png" alt="Control room Booth info" loading="lazy">
            </picture>
            <p class="booth-num">6</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Control room
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_6.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_6.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_6.png" alt="Booth location 6" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_7.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_7.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_7.png" alt="E-Paper display Booth info" loading="lazy">
            </picture>
            <p class="booth-num">7</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                E-Paper display
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_7.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_7.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_7.png" alt="Booth location 7" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_8.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_8.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_8.png" alt="Learning zone Booth info" loading="lazy">
            </picture>
            <p class="booth-num">8</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Learning zone
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_8.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_8.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_8.png" alt="Booth location 8" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_9.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_9.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_9.png" alt="Hotel zone Booth info" loading="lazy">
            </picture>
            <p class="booth-num">9</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                Hotel zone
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_9.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_9.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_9.png" alt="Booth location 9" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="booth-bx">
          <div class="booth-thumb">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_thumb_10.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_thumb_10.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_thumb_10.png" alt="LED tech zone Booth info" loading="lazy">
            </picture>
            <p class="booth-num">10</p>
          </div>
          <div class="booth-info">
            <div class="booth-txt-bx">
              <h3 class="booth-name">
                LED tech zone
              </h3>
              <p class="booth-desc">
                Experience a tower-style display powered<br class="pc-only"> by fine-pitch LED and T-Mesh— <br class="pc-only">where media art meets premium advertising.
              </p>
            </div>
            <a href="" class="btn">Learn more</a>
          </div>
          <div class="booth-location">
            <picture>
              <source srcset="/theme/rbFront/img/w/ise/ise2026/booth_location_10.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/booth_location_10.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/booth_location_10.png" alt="Booth location 10" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- E : booth map-->