<section class="overview">
  <div class="inner">
    <div class="overview-heading">
      <p class="overview-heading-eyebrow font-headline">ISE 2026</p>
      <h1 class="overview-heading-title font-headline">
        Redefining<br class="mo-only">visual experience<br class="mo-only">with LED
      </h1>
      <p class="overview-heading-description">
        The iconic commercial media tower features a three-sided LED screen and 52.5-meter transparent mesh<br class="tab-pc">
        display, designed to elevate K-Culture branding and retail application.
      </p>
    </div>
    <div class="overview-video">
      <video playsinline muted loop autoplay data-keepplaying preload="auto" aria-label="bg line video">
        <source src="/theme/rbFront/img/w/ise/ise2026/led-media-art.mp4" type="video/mp4">
      </video>
    </div>
    <div class="overview-content">
      <h2 class="overview-content-title font-headline">
        Tradition in motion
      </h2>
      <div class="overview-content-item">
        <p class="overview-content-item-description">
          This attractor represents K-Culture's tradition and modernity with "jagae-jang,” furniture inlaid with mother-of-pearl, as the highlight. It was used for storing cherished belongings or presented as meaningful gifts, with delicately embedded shell pieces glimmering in iridescence amidst a lacquered surface.
        </p>
        <div class="overview-content-item-cta">
          <a href="/product/led-signage/indoor-led/LSCC012" class="overview-content-item-cta-link">
            View product info
          </a>
        </div>
      </div>
    </div>
  </div>
</section>