@use "../../assets/scss/variable"as *;
@use "../../assets/scss/mixin"as *;

.invitation {
  background-color: $primary;
  color: $white;
  text-align: center;
  .flip-btn {
    width: rem(50);
    height: rem(50);
    @include font(14,100%,400);
    color: $white;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    top: rem(-10);
    left: 50%;
    transition: all 0.3s;
    &::after {
      content: '';
      display: block;
      width: rem(18);      
      height: rem(12);
      background-image: url('../../assets/images/ic_arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: rem(7) auto 0;
      transition: all 0.3s;
    }
    &:hover {
      color: $black;
      &::after {
        background-image: url('../../assets/images/ic_arrow_active.svg');
      }
    }
    @include tablet {
      transform: translateY(-50%);
      top: calc(50% + rem(6));
      left: unset;
    }
  }
  .text-bx {
    .title {
      @include font(50,100%,700);
      margin-bottom: rem(10);
      img {
        margin-bottom: rem(20);
      }
    }
    .text {
      @include font(22,140%,400);
      max-width: rem(434);
      margin: 0 auto;
    }
    @include tablet {
      .title {
        margin-bottom: rem(14);
        img {
          margin-bottom: rem(2);
        }
      }
    }
    @include desktop {
      .title {
        margin-bottom: rem(40);
        img {
          margin-bottom: rem(1);
        }
      }
    }
  }
  .card-bx {
    max-width: rem(849);
    margin: rem(57) auto rem(30);
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    @include tablet {
      margin: rem(24) auto rem(20);
    }
    @include desktop {
      margin: rem(92) auto;
    }
    &.flipped {
      transform: rotateY(180deg);
    }
    
    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    
    .card-front {
      display: flex;  
      border-radius: rem(20);
      position: relative;
      transform: rotateY(0deg);
      z-index: 2;
      background-image: url('../../assets/images/invitation_card_front_m.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      
      @include tablet {
        background-image: none;
        &::after {
          display: none;
          content: '';
          display: block;
          width: rem(116);
          align-self: stretch;
          background-image: url('../../assets/images/invitation_pattern.png');
          background-size: cover;
          background-position: right center;
          border-radius: 0 rem(20) rem(20) 0;
        }
      }
      .card-front-inner {
        width: 100%;
        padding: 24.2vw rem(20) rem(17);
        border-radius: rem(20) 0 0 rem(20);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - rem(116));
          background-color: $black;
          background-image: url('../../assets/images/invitation_barcode.svg');
          background-size: rem(46.19) rem(26.79);
          background-position: rem(45) rem(33);
          padding: rem(33) rem(45) rem(16);
        }
        @include desktop {
          background-size: rem(52) rem(32);
          background-position: rem(50) rem(36.68);
          padding: rem(36) rem(50) rem(17);
        }
        .text-bx {
          margin-bottom: rem(42);
          .sub-title {
            @include font(16,140%,250);
          }
          .code {
            @include font(39,100%,550);
            color: $white;
            cursor: pointer;
            &::after {
              content: '';
              display: inline-block;
              width: rem(38);
              height: rem(38);
              vertical-align: rem(2);
              background-image: url('../../assets/images/ic_copy.svg');
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              margin-left: rem(10);
              transition: all 0.3s;
            }
            &:hover {
              &::after {
                background-image: url('../../assets/images/ic_copy_active.svg');
              }
            }
          }
          @include tablet {
            margin-top: rem(30);
            margin-bottom: 0;
            .sub-title {
              @include font(27,140%,250);
            }
            .code {
              @include font(99,100%,550);
            }
          }
          @include desktop {
            margin-top: rem(36);
            .sub-title {
              @include font(30,140%,250);
            }
            .code {
              @include font(110,100%,550);
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid $white;
          padding-top: rem(14);
          .text {
            @include font(18,140%,400);
            & + .text {
              &::before {
                content: '';
                display: inline-block;
                width: rem(1);
                height: rem(12);
                background-color: $white;
                margin: 0 rem(31) 0 rem(20);
              }
            }
          }
        }
      }
      .flip-btn {
        @include tablet {
          right: rem(-30);
        }
      }
    }
    
    .card-back {
      transform: rotateY(180deg);
      z-index: 1;
      height: auto;
      
      .card-back-inner {
        width: 100%;
        border-radius: rem(20);
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .flip-btn {
        @include tablet {
          left: rem(-30);
        }
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
  .btn-bx {
    .btn {
      @include btn($black);
      margin: 0 auto;
    }
  }
}