<section class="invitation">
  <div class="inner">
    <div class="text-bx">
      <h2 class="title heading fade-in-up">
        <img src="./assets/images/ic_lg_white.svg" alt="LG"> <br>
        Your free entry to ISE 2026
      </h2>
      <p class="text fade-in-up">
        Join us at ISE 2026 (Feb 3-6) and register for free entry with your invitation code.
      </p>
    </div>
    <div class="card-bx-wrap fade-in-up">
      <div class="card-bx">
        <div class="card-front">
          <div class="card-front-inner">
            <div class="text-bx">
              <p class="sub-title">Invitation code</p>
              <button type="button" class="code heading">ISE260710</button>
            </div>
            <div class="info">
              <p class="text">3K 100</p>
              <p class="text">Fira de Barcelona, Gran Via, Spain</p>
            </div>
            <div class="toast-popup">
              <div class="inner">
                <p class="text">Your <span>invitation code</span> has been copied.</p>
              </div>
            </div>
          </div>
          <button type="button" class="flip-btn">
            Booth<br>location
          </button>
        </div>
        <div class="card-back">
          <div class="card-back-inner">
            <img src="./assets/images/invitation_card_back.png" alt="Find out where to visit the LG booth">
          </div>
          <button type="button" class="flip-btn">
            Invitation<br>code
          </button>
        </div>
      </div>
    </div>
    <div class="btn-bx fade-in-up">
      <a href="https://register.visitcloud.com/survey/0hztq4lbmv5rp?actioncode=ISE260710" target="_blank" rel="noopener noreferrer" class="btn">Register now</a>
    </div>
  </div>
</section>