@use "../../assets/scss/variable"as *;
@use "../../assets/scss/mixin"as *;

.invitation {
  background-color: $primary;
  color: $white;
  padding: rem(78) 0 rem(119);
  @include tablet {
    text-align: center;
  }
  .flip-btn {
    width: rem(50);
    height: rem(50);
    @include font(12,100%,400);
    color: $white;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    top: rem(-28);
    left: 50%;
    transition: all 0.3s;
    &::after {
      content: '';
      display: block;
      width: rem(18);      
      height: rem(12);
      background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: rem(7) auto 0;
      transition: all 0.3s;
    }
    &:hover {
      color: $black;
      &::after {
        background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_arrow_active.svg');
      }
    }
    @include tablet {
      font-size: rem(14);
      transform: translateY(-50%);
      top: calc(50% + rem(6));
      left: unset;
    }
  }
  .text-bx {
    .title {
      font-family: "LG EI Headline";
      @include font(30,100%,700);
      text-wrap: balance;
      margin-bottom: rem(10);
      max-width: rem(220);
      @include tablet {
        max-width: none;
      }
      img {
        margin-bottom: rem(20);
      }
    }
    .text {
      @include font(14,140%,400);
      max-width: rem(434);
      margin: 0 auto;
      text-wrap: balance;
    }
    @include tablet {
      .title {
        font-size: rem(50);
        margin-bottom: rem(14);
        img {
          margin-bottom: rem(2);
        }
      }
      .text {
        font-size: rem(22);
      }
    }
    @include desktop {
      .title {
        margin-bottom: rem(40);
        img {
          margin-bottom: rem(1);
        }
      }
    }
  }
  .card-bx {
    max-width: rem(250);
    margin: rem(80) auto rem(30);
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    @include tablet {
      max-width: rem(849);
      margin: rem(24) auto rem(20);
    }
    @include desktop {
      margin: rem(92) auto;
    }
    &.flipped {
      transform: rotateY(180deg);
    }
    
    &::before {
      content: '';
      width: 100%;
      height: calc(100% + rem(3));
      background-image: url('/theme/rbFront/img/m/ise/ise2026/invitation_card_shadow_m.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: rem(-3);
      z-index: 1;
      backface-visibility: hidden;
      @include tablet {
        height: 100%;
        background-image: url('/theme/rbFront/img/w/ise/ise2026/invitation_card_shadow.png');
        top: rem(3);
        right: rem(-4);
      }
    }
    
    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    
    .card-front {
      border-radius: rem(16);
      position: relative;
      transform: rotateY(0deg);
      z-index: 2;
      background-image: url('/theme/rbFront/img/m/ise/ise2026/invitation_card_front_m.png');
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: rem(71);
        background-image: url('/theme/rbFront/img/m/ise/ise2026/invitation_pattern_m.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0 0 rem(10) rem(16);
        z-index: 1;
      }
      @include tablet {
        display: flex;  
        border-radius: rem(20);
        background-image: none;
        &::after {
          display: none;
          content: '';
          display: block;
          width: rem(116);
          height: 100%;
          align-self: stretch;
          background-image: url('/theme/rbFront/img/w/ise/ise2026/invitation_pattern.png');
          background-size: cover;
          background-position: right center;
          border-radius: 0;
          position: static;
        }
      }
      .card-front-inner {
        width: 100%;
        padding:rem(88) rem(20) rem(67);
        border-radius: rem(20) 0 0 rem(20);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - rem(116));
          background-color: $black;
          background-image: url('/theme/rbFront/img/w/ise/ise2026/invitation_barcode.svg');
          background-size: rem(46.19) rem(26.79);
          background-position: rem(45) rem(33);
          padding: rem(33) rem(45) rem(16);
        }
        @include desktop {
          background-size: rem(52) rem(32);
          background-position: rem(50) rem(36.68);
          padding: rem(36) rem(50) rem(17);
        }
        .text-bx {
          margin-bottom: rem(42);
          .sub-title {
            font-family: "LG EI Headline";
            @include font(16,140%,250);
            margin-bottom: rem(10);
          }
          .code {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            max-width: rem(206);
            font-family: "LG EI Headline";
            @include font(39,100%,550);
            color: $white;
            cursor: pointer;
            @include tablet {
              align-items: center;
              max-width: unset;
            }
            &::after {
              content: '';
              display: inline-block;
              width: rem(22.59);
              height: rem(22.59);
              vertical-align: rem(2);
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_copy.svg');
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              margin-left: rem(10);
              transition: all 0.3s;
              margin-bottom: rem(6);
              @include tablet {
                width: rem(38);
                height: rem(38);
                margin-bottom: 0;
              }
            }
            &:hover {
              &::after {
                background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_copy_active.svg');
              }
            }
          }
          @include tablet {
            margin-top: rem(44);
            margin-bottom: 0;
            .sub-title {
              @include font(27,140%,250);
            }
            .code {
              display: inline-block;
              @include font(99,100%,550);
            }
          }
          @include desktop {
            margin-top: rem(46);
            .sub-title {
              @include font(30,140%,250);
            }
            .code {
              @include font(110,100%,550);
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid $white;
          padding-top: rem(8);
          @include tablet {
            padding-top: rem(14);
          }
          .text {
            @include font(10,140%,400);
            & + .text {
              &::before {
                content: '';
                display: inline-block;
                width: rem(1);
                height: rem(12);
                background-color: $white;
                width: rem(1);
                height: rem(8);
                margin: 0 rem(5);
              }
            }
            @include tablet {
              font-size: rem(18);
              & + .text {
                &::before {
                  width: rem(1);
                  height: rem(12);
                  margin: 0 rem(31) 0 rem(20);
                }
              }
            }
          }
        }
      }
      .flip-btn {
        @include tablet {
          right: rem(-30);
        }
      }
    }
    
    .card-back {
      transform: rotateY(180deg);
      z-index: 1;
      height: auto;
      
      .card-back-inner {
        width: 100%;
        border-radius: rem(20);
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .flip-btn {
        @include tablet {
          left: rem(-30);
        }
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
  .btn-bx {
    .btn {
      @include btn($black);
      margin: 0 auto;
    }
  }
}