<!-- S : sound -->
<section class="sound">
    <h2 class="sound-title">Songs made just for you</h2>
    <div class="sound-swiper swiper">
        <div class="swiper-wrapper">
            <!-- S : slide item 01 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-album-01.png" alt="The Cutest Poodle in the Whole Wide World album" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-track-01.png" alt="The Cutest Poodle in the Whole Wide World lp" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers" role="group"
                        aria-label="Audio player: The Cutest Poodle in the Whole Wide World">
                        <audio id="audio-1" preload="metadata">
                            <source src="/src/assets/audios/lifes-good-campaign-2025-radio-optimism-lgcom-audios-sound-track-01.mp3" type="audio/mpeg">
                            오디오 대체텍스트 위치
                        </audio>
                        <button class="sound-txtbx-controllers-btn" aria-controls="audio-1" aria-label="play"
                            aria-pressed="false"></button>
                        <div class="progress-container" aria-controls="audio-1" aria-label="audio progress">
                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                                <div class="progress-circle" role="slider" aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="0" aria-valuetext="0%"></div>
                            </div>
                        </div>
                        <button class="volume-btn" aria-controls="audio-1" aria-label="unmute" aria-pressed="false"></button>
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper"> The Cutest Poodle in the Whole Wide World
                        </div>
                    </h3>
                    <p>By Lindsey J.</p>
                </div>
            </div>
            <!-- E : slide item 01 -->
            <!-- S : slide item 02 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-album-02.png" alt="The Ballad of Grandpa Stephen album" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-track-01.png" alt="The Ballad of Grandpa Stephen lp" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers" role="group"
                        aria-label="Audio player: The Ballad of Grandpa Stephen">
                        <audio id="audio-1" preload="metadata">
                            <source src="/src/assets/audios/lifes-good-campaign-2025-radio-optimism-lgcom-audios-sound-track-01.mp3" type="audio/mpeg">
                            오디오 대체텍스트 위치
                        </audio>
                        <button class="sound-txtbx-controllers-btn" aria-controls="audio-1" aria-label="play"
                            aria-pressed="false"></button>
                        <div class="progress-container" aria-controls="audio-1" aria-label="audio progress">
                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                                <div class="progress-circle" role="slider" aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="0" aria-valuetext="0%"></div>
                            </div>
                        </div>
                        <button class="volume-btn" aria-controls="audio-1" aria-label="unmute" aria-pressed="false"></button>
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper"> The Ballad of Grandpa Stephen
                        </div>
                    </h3>
                    <p>By Anne T.</p>
                </div>
            </div>
            <!-- E : slide item 02 -->
            <!-- S : slide item 03 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-album-03.png" alt="Walts For Emilia's Bela Fich album" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-track-01.png" alt="Walts For Emilia's Bela Fich lp" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers" role="group"
                        aria-label="Audio player: Walts For Emilia's Bela Fich">
                        <audio id="audio-1" preload="metadata">
                            <source src="/src/assets/audios/lifes-good-campaign-2025-radio-optimism-lgcom-audios-sound-track-01.mp3" type="audio/mpeg">
                            오디오 대체텍스트 위치
                        </audio>
                        <button class="sound-txtbx-controllers-btn" aria-controls="audio-1" aria-label="play"
                            aria-pressed="false"></button>
                        <div class="progress-container" aria-controls="audio-1" aria-label="audio progress">
                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                                <div class="progress-circle" role="slider" aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="0" aria-valuetext="0%"></div>
                            </div>
                        </div>
                        <button class="volume-btn" aria-controls="audio-1" aria-label="unmute" aria-pressed="false"></button>
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper"> Walts For Emilia's Bela Fich
                        </div>
                    </h3>
                    <p>By James C.</p>
                </div>
            </div>
            <!-- E : slide item 03 -->
            <!-- S : slide item 04 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-album-04.png" alt="The Business Trip Blues album" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-track-01.png" alt="The Business Trip Blues lp" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers" role="group"
                        aria-label="Audio player: The Business Trip Blues">
                        <audio id="audio-1" preload="metadata">
                            <source src="/src/assets/audios/lifes-good-campaign-2025-radio-optimism-lgcom-audios-sound-track-01.mp3" type="audio/mpeg">
                            오디오 대체텍스트 위치
                        </audio>
                        <button class="sound-txtbx-controllers-btn" aria-controls="audio-1" aria-label="play"
                            aria-pressed="false"></button>
                        <div class="progress-container" aria-controls="audio-1" aria-label="audio progress">
                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                                <div class="progress-circle" role="slider" aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="0" aria-valuetext="0%"></div>
                            </div>
                        </div>
                        <button class="volume-btn" aria-controls="audio-1" aria-label="unmute" aria-pressed="false"></button>
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper"> The Business Trip Blues
                        </div>
                    </h3>
                    <p>By Phillipe M.</p>
                </div>
            </div>
            <!-- E : slide item 04 -->
        </div>
        <!-- S : swiper-pagination-->
        <div class="swiper-pagination"></div>
        <!-- E : swiper-pagination-->
        <!-- S : swiper-navigation-->
        <div class="swiper-navigation">
            <button class="swiper-button-prev swiper-btn">
                <p class="sr-only">Previous</p>
            </button>
            <button class="swiper-button-next swiper-btn">
                <p class="sr-only">Next</p>
            </button>
        </div>
        <!-- E : swiper-navigation-->
    </div>
</section>
<!-- E : sound -->