@use '../../assets/scss/mixin'as *;
@use '../../assets/scss/variable'as *;


.sound {
    // padding-bottom: rem($mo_padding);
    padding-bottom: rem(56);

    @include tablet {
        // padding-bottom: rem($tab_padding);
        padding-bottom: rem(72);
    }

    @include desktop {
        // padding-bottom: rem($pc_padding);
        padding-bottom: rem(120);
    }

    &-title {
        text-align: center;
        padding-bottom: rem(16);
        @include font(28, 32px, 550);

        @include tablet {
            padding-bottom: rem(20);
            @include font(44, 48px, 550);
        }

        @include desktop {
            padding-bottom: rem(56);
            @include font(56, 60px, 550);
        }
    }

    &-swiper {
        position: relative;

        .swiper-wrapper {
            box-sizing: border-box;

            .swiper-slide {
                min-width: rem(192);
                width: fit-content;
                height: 100%;
                margin: auto 0;
                padding: 0 rem(48);

                @include tablet {
                    min-width: rem(310);
                }

                @include desktop {
                    min-width: rem(430);
                }

                &.active {
                    min-width: calc(#{rem(217)} + #{rem(182/2)});

                    @include tablet {
                        min-width: calc(#{rem(310)} + #{rem(260/2)});
                    }

                    @include desktop {
                        min-width: calc(#{rem(430)} + #{rem(346.79/2)});
                    }
                }

                .sound-imgbx {
                    position: relative;
                    padding: 0 rem(8);

                    &-album {
                        width: 63%;
                        height: 100%;
                        aspect-ratio: 192/192;
                        opacity: 0.5;

                        &.active {
                            aspect-ratio: 217/217;
                            width: 75%;
                            opacity: 1;

                            @include tablet {
                                aspect-ratio: 310/310;
                            }

                            @include desktop {
                                aspect-ratio: 430/430;
                            }

                        }

                        img {
                            @include img(cover);
                        }
                    }

                    &-track {
                        display: none;

                        &.active {
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            z-index: -2;
                            aspect-ratio: 182/183;
                            width: 60%;
                            height: 100%;

                            @include tablet {
                                aspect-ratio: 260/260;
                            }

                            @include desktop {
                                aspect-ratio: 346.79/346.79;
                            }

                        }

                        img {
                            @include img(contain);
                        }
                    }
                }

                .sound-txtbx {
                    opacity: 0;
                    padding: rem(8) 0 rem(20);

                    &.active {
                        opacity: 1;
                    }

                    &-controllers {
                        position: relative;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: rem(16);
                        padding: rem(8) 0;

                        &-btn {
                            position: relative;
                            min-width: rem(32);
                            min-height: rem(32);
                            border: 1px solid #000;
                            border-radius: 50%;

                            &[aria-pressed=false] {
                                &::after {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    content: '';
                                    width: rem(10);
                                    height: rem(12);
                                    padding-left: 0;
                                    background: url('../../assets/images/sound-stop-ico.svg') no-repeat center;
                                    background-size: contain;
                                }
                            }

                            &[aria-pressed=true] {

                                &::after {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    content: '';
                                    width: rem(10);
                                    height: rem(12);
                                    padding-left: rem(2);
                                    background: url('../../assets/images/sound-play-ico.svg') no-repeat center;
                                    background-size: contain;
                                }
                            }
                        }

                        .progress-container {
                            position: relative;
                            width: 100%;

                            .progress-bar {
                                position: relative;
                                min-width: rem(168);
                                height: rem(4);
                                border-radius: rem(100);
                                background: #cbcbc2; // 변수화 

                                .progress-circle {
                                    position: absolute;
                                    top: rem(-6);
                                    width: rem(16);
                                    height: rem(16);
                                    border-radius: 50%;
                                    background: #ea1917; // 변수화 
                                    transform: translateX(0%);
                                }
                            }
                        }

                        .volume-btn {
                            min-width: rem(22);
                            min-height: rem(25);
                            background: url('../../assets/images/sound-volume-ico.svg') no-repeat center;
                            background-size: contain;
                        }
                    }

                    &-title {
                        position: relative;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 100%;
                        @include font(20, 24px, 550);

                        @include desktop {
                            @include font(36, 42px, 550);
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: rem(97);
                            height: 100%;
                            background: linear-gradient(90deg, rgba(240, 236, 228, 0) 0%, #F0ECE4 100%);
                        }
                    }

                    p {
                        @include font(14, 16px, 400);

                        @include tablet {
                            @include font(14, 16px, 400);
                        }

                        @include desktop {
                            @include font(24, 28px, 400);
                        }
                    }
                }
            }
        }

        .sound-swiper-controller {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(16);
            margin: 0 auto;
            width: fit-content;
            padding: rem(4);
            border-radius: rem(32);

            &-btn {
                position: absolute;
                // 수정 필요(간격)
                top: 30%;
                transform: translateY(-30%);
                width: rem(36);
                height: rem(36);
                margin-top: 0;
                border-radius: 50%;
                background: #d9d3c8;

                &::after {
                    width: rem(18);
                    height: rem(18);
                    background-image: url('../../assets/images/influence-slide-prev.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.swiper-button-next {

                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }

            .swiper-pagination {
                width: auto;
                height: rem(8);
                position: static;
                margin-top: 0;

                .swiper-pagination-bullet {
                    width: rem(8);
                    height: rem(8);
                    background-color: #B8B4AB;
                    opacity: 1;
                    transition: all 0.3s;

                    &.swiper-pagination-bullet-active {
                        width: rem(24);
                        background-color: #000;
                        border-radius: rem(4);
                    }
                }
            }
        }

    }
}