<script src="../../assets/js/sound.js" defer></script>

<!-- S : sound -->
<section class="sound">
    <h2 class="sound-title">Songs made just for you</h2>
    <div class="sound-swiper swiper">
        <div class="swiper-wrapper">
            <!-- S : slide item 01 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/sound-album-1.png" alt="" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/sound-track.png" alt="" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers">
                        <!-- 재생 프로그레스바 볼륨 -->
                        <!-- <audio src="...mp3"></audio> -->
                        <button class="sound-txtbx-controllers-btn" aria-label="멈춤" aria-pressed="true"></button>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-circle"></div>
                            </div>
                        </div>
                        <!-- <input type="range" class="volume-slider" min="0" max="1" step="0.01" value="1" /> -->
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper">The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle in the Whole Wide World The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle
                            in the Whole Wide World</div>
                    </h3>
                    <p>By Lindsey J.</p>
                </div>
            </div>
            <!-- E : slide item 01 -->
            <!-- S : slide item 02 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/sound-album-2.png" alt="" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/sound-track.png" alt="" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers">
                        <!-- 재생 프로그레스바 볼륨 -->
                        <!-- <audio src="...mp3"></audio> -->
                        <button class="sound-txtbx-controllers-btn" aria-label="멈춤" aria-pressed="true"></button>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-circle"></div>
                            </div>
                        </div>
                        <!-- <input type="range" class="volume-slider" min="0" max="1" step="0.01" value="1" /> -->
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper">The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle in the Whole Wide World The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle
                            in the Whole Wide World</div>
                    </h3>
                    <p>By Lindsey J.</p>
                </div>
            </div>
            <!-- E : slide item 02 -->
            <!-- S : slide item 03 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/sound-album-3.png" alt="" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/sound-track.png" alt="" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers">
                        <!-- 재생 프로그레스바 볼륨 -->
                        <!-- <audio src="...mp3"></audio> -->
                        <button class="sound-txtbx-controllers-btn" aria-label="멈춤" aria-pressed="true"></button>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-circle"></div>
                            </div>
                        </div>
                        <!-- <input type="range" class="volume-slider" min="0" max="1" step="0.01" value="1" /> -->
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper">The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle in the Whole Wide World The Cutest Poodle in the Whole Wide World The Cutest
                            Poodle
                            in the Whole Wide World</div>
                    </h3>
                    <p>By Lindsey J.</p>
                </div>
            </div>
            <!-- E : slide item 03 -->
            <!-- S : slide item 04 -->
            <div class="swiper-slide">
                <div class="sound-imgbx">
                    <div class="sound-imgbx-album">
                        <img src="/src/assets/images/sound-album-4.png" alt="" loading="lazy">
                    </div>
                    <div class="sound-imgbx-track">
                        <img src="/src/assets/images/sound-track.png" alt="" loading="lazy">
                    </div>
                </div>
                <div class="sound-txtbx">
                    <div class="sound-txtbx-controllers">
                        <!-- 재생 프로그레스바 볼륨 -->
                        <!-- <audio src="...mp3"></audio> -->
                        <button class="sound-txtbx-controllers-btn" aria-label="멈춤" aria-pressed="true"></button>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-circle"></div>
                            </div>
                        </div>
                        <!-- <input type="range" class="volume-slider" min="0" max="1" step="0.01" value="1" /> -->
                    </div>
                    <h3 class="sound-txtbx-title">
                        <div class="sound-txtbx-title-wrapper">
                            The Cutest Poodle in the Whole Wide World The Cutest Poodle in the
                            Whole Wide World The Cutest Poodle in the Whole Wide World The Cutest Poodle in the
                            Whole
                            Wide
                            World
                        </div>
                    </h3>
                    <p>By Lindsey J.</p>
                </div>
            </div>
            <!-- E : slide item 04 -->
        </div>
        <div class="sound-swiper-controller">
            <button type="button" class="sound-swiper-controller-btn swiper-button-prev"></button>
            <div class="swiper-pagination"></div>
            <button type="button" class="sound-swiper-controller-btn swiper-button-next"></button>
        </div>
    </div>
</section>
<!-- E : sound -->