<section class="overview">
  <div class="inner">
    <div class="overview-heading">
      <p class="overview-heading-title">
        “We scroll, swipe, and tap ‘Like’ every day.<br />
        <span class="highlight">But are we meaningfully connected</span> to one another? <br /><br />
        While social media allows us to connect with the world at any time, many of us still feel a sense of disconnection.What we may need now is a meaningful connection from heart to heart.”
      </p>
      <div class="overview-heading-img">
        <picture>
          <source srcset="./assets/images/overview-image01-mobile.jpg" media="(max-width: 768px)" />
          <source srcset="./assets/images/overview-image01-desktop.jpg" media="(min-width: 769px)" />
          <img src="./assets/images/overview-image01-mobile.jpg" alt="overview-img" />
        </picture>
        <div class="overview-heading-motion-imgs">
          <img src="./assets/images/overview-heart-icon.png" alt="overview-img" class="motion-icon heart-icon" />
          <img src="./assets/images/overview-smile-icon.png" alt="overview-img" class="motion-icon smile-icon" />
          <img src="./assets/images/overview-img-icon.png" alt="overview-img" class="motion-icon img-icon" />
          <img src="./assets/images/overview-like-icon.png" alt="overview-img" class="motion-icon like-icon01" />
          <img src="./assets/images/overview-like-icon.png" alt="overview-img" class="motion-icon like-icon02" />
          <img src="./assets/images/overview-like-icon.png" alt="overview-img" class="motion-icon like-icon03" />
        </div>
      </div>
    </div>
    <div class="overview-cont-box">
      <div class="overview-cont">
        <div class="overview-cont-img">
          <picture>
            <source srcset="./assets/images/overview-image02-mobile.png" media="(max-width: 768px)" />
            <source srcset="./assets/images/overview-image02-desktop.png" media="(min-width: 769px)" />
            <img src="./assets/images/overview-cont-image02-mobile.png" alt="overview-img" />
          </picture>
        </div>
        <p class="overview-cont-txt">
          That’s why LG created <span>Radio Optimism— a way to express our feelings</span> for those we care about through a song made just for them,<span>shared with a smile.</span> <br /><br />
          Music is a special language that <span>speaks to the heart,</span> so when <span>we dedicate a song to someone special,</span> we can spread optimism that reminds us of <span>Life’s Good.</span>
        </p>
      </div>
      <div class="overview-cont">
        <div class="overview-cont-img">
          <picture>
            <source srcset="./assets/images/overview-image03-mobile.png" media="(max-width: 768px)" />
            <source srcset="./assets/images/overview-image03-desktop.png" media="(min-width: 769px)" />
            <img src="./assets/images/overview-cont-image03-mobile.png" alt="overview-img" />
          </picture>
        </div>
        <p class="overview-cont-txt">
          Think of someone precious, create a song for them, and <span>send it with a smile </span> now.<br />
          This will <span>bridge heart to heart</span> with a true connection.
        </p>
        <div class="overview-cont-lifesgood-logo">
          <img src="./assets/images/lifesgood-logo.svg" alt="lifesgood-logo" />
        </div>
      </div>
    </div>
  </div>
</section>
