<section class="overview">
  <div class="inner">
    <div class="overview-heading">
      <p class="overview-heading-title heading">
        We scroll, swipe, and tap "likes" every day.<br />
        <span class="radio-highlight">But are we really connecting</span> with each other? <br />
        Perhaps what we need are heart-to-heart connections.
      </p>
      <div class="overview-heading-img" aria-label="A young woman wearing a white sweater and jeans is lying on a sofa, liking her friend's post on social media with her phone.">
        <picture>
          <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image01-mobile.jpg" media="(max-width: 768px)" />
          <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image01-desktop.jpg" media="(min-width: 769px)" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image01-mobile.jpg" alt="" />
        </picture>
        <div class="overview-heading-motion-imgs">
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-heart-icon.png" alt="" class="motion-icon heart-icon" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-smile-icon.png" alt="" class="motion-icon smile-icon" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-img-icon.png" alt="" class="motion-icon img-icon" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-like-icon.png" alt="" class="motion-icon like-icon01" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-like-icon.png" alt="" class="motion-icon like-icon02" />
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-like-icon.png" alt="" class="motion-icon like-icon03" />
        </div>
      </div>
    </div>
    <div class="overview-cont-box">
      <div class="overview-cont">
        <div class="overview-cont-img">
          <picture>
            <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image02-mobile.png" media="(max-width: 768px)" />
            <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image02-desktop.png" media="(min-width: 769px)" />
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-cont-image02-mobile.png" alt="A young man and woman are sitting at a desk, enjoying the Radio Optimism campaign on a laptop." />
          </picture>
        </div>
        <p class="overview-cont-txt">
          It's why we're bringing our “Life’s Good“ message through the universal language of music. <br>
          Create a tune for your someone special with LG Radio Optimism.<br>
          It’s easy. Think of someone special and put in a few words about them.<br>
          Then a one and only song comes to life, ready to be shared with a smile.
        </p>
      </div>
      <div class="overview-cont">
        <div class="overview-cont-img">
          <picture>
            <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image03-mobile.png" media="(max-width: 768px)" />
            <source srcset="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-image03-desktop.png" media="(min-width: 769px)" />
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-cont-image03-mobile.png" alt="overview-img" />
          </picture>
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-heart-tower.png" alt="A woman smiles brightly as she looks at her laptop in a spacious room." class="overview-heart-tower-img" />
        </div>
        <p class="overview-cont-txt">
          The moment you make a heartfelt song for someone,
          and the moment you receive one from other special, that's when a real connection lets us truly experience Life's Good.
        </p>
        <!-- <div class="overview-cont-lifesgood-logo">
          <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-overview-lifesgood-logo.svg" alt="lifesgood-logo" />
        </div> -->
      </div>
    </div>
  </div>
</section>
