<section class="overview">
  <div class="inner">
    <div class="overview-heading">
      <p class="overview-heading-title">
        “We scroll, swipe, and tap ‘Like’ every day.<br />
        <span>But are we meaningfully connected</span> to one another?<br />
        Social media keeps us, yet it can sometimes leave us feeling more disconnected.”
      </p>
      <div class="overview-heading-img">
        <picture>
          <source srcset="./assets/images/overview-img-mobile.png" media="(max-width: 768px)" />
          <source srcset="./assets/images/overview-img-pc.png" media="(min-width: 769px)" />
          <img src="./assets/images/overview-img-mobile.png" alt="overview-img" />
        </picture>
        <div class="overview-heading-motion-imgs">
          <img src="./assets/images/overview-img-motion-01.png" alt="overview-img" class="motion-img01" />
          <img src="./assets/images/overview-img-motion-02.png" alt="overview-img" class="motion-img02" />
          <img src="./assets/images/overview-img-motion-03.png" alt="overview-img" class="motion-img03" />
          <img src="./assets/images/overview-img-motion-04.png" alt="overview-img" class="motion-img04" />
          <img src="./assets/images/overview-img-motion-05.png" alt="overview-img" class="motion-img05" />
        </div>
      </div>
    </div>
    <div class="overview-cont">
      <div class="overview-cont-img">
        <picture>
          <source srcset="./assets/images/overview-cont-img01-mobile.png" media="(max-width: 768px)" />
          <source srcset="./assets/images/overview-cont-img01-pc.png" media="(min-width: 769px)" />
          <img src="./assets/images/overview-cont-img01-mobile.png" alt="overview-img" />
        </picture>
      </div>
      <p class="overview-cont-txt">
        That’s why LG created <span>Radio Optimism a way to express our feelings</span> 
        for those we care about through a song made just for them, <span>shared with a smile.</span>
        <br /><br />
        Music is a special language that <span>speaks to the heart,</span> 
        so when we <span>dedicate a song to someone special,</span>
        we can <span>spread optimism</span> that reminds us of <span>Life’s Good.</span>
      </p>
    </div>
    <div class="overview-cont">
      <div class="overview-cont-img">
        <picture>
          <source srcset="./assets/images/overview-cont-img02-mobile.png" media="(max-width: 768px)" />
          <source srcset="./assets/images/overview-cont-img02-pc.png" media="(min-width: 769px)" />
          <img src="./assets/images/overview-cont-img02-mobile.png" alt="overview-img" />
        </picture>
      </div>
      <p class="overview-cont-txt">
        Think of someone precious, create a song for them, and <span>send it with a smile</span> now.<br />
        This will <span>bridge heart to heart</span> with a true connection.
      </p>
      <div class="lifesgood-logo">
        <img src="./assets/images/lifesgood-logo.png" alt="lifesgood-logo" />
      </div>
    </div>

  </div>
</section>
