<!-- S : highlights -->
<section class="section highlights">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_white.svg" alt="LG" loading="lazy" class="logo-img">
      <h2 class="title">
        Feel the energy of ISE 2026
      </h2>
      <p class="text">
        Breaking news, captivating videos, and fresh photos straight from the on-site.
      </p>
    </div>
  </div>
  <div class="slide-wrap">
    <div class="inner">
      <div class="main-slide">
        <button type="button" class="slide-prev">
          <span class="a11y-hidden">slide prev</span>
        </button>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-item">
                <a href="javascript:void(0)" class="link-btn" target="_blank" rel="noopener noreferrer">
                  <img src="/theme/rbFront/img/w/ise/ise2026/hightlights_yt_overview.svg" alt="LG" loading="lazy">
                  <span>Learn more</span>
                </a>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_main_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-item">
                <a href="javascript:void(0)" class="link-btn" target="_blank" rel="noopener noreferrer">
                  <img src="/theme/rbFront/img/w/ise/ise2026/hightlights_yt_overview.svg" alt="LG" loading="lazy">
                  <span>Learn more</span>
                </a>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_main_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-item">
                <a href="javascript:void(0)" class="link-btn" target="_blank" rel="noopener noreferrer">
                  <img src="/theme/rbFront/img/w/ise/ise2026/hightlights_yt_overview.svg" alt="LG" loading="lazy">
                  <span>Learn more</span>
                </a>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_main_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="slide-next">
          <span class="a11y-hidden">slide next</span>
        </button>
        <div class="swiper-pagination"></div>
      </div>
      <div class="sub-slide-wrap">
        <div class="sub-slide swiper">
          <button type="button" class="slide-prev">
            <span class="a11y-hidden">slide prev</span>
          </button>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_sub_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="Highlights" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <button type="button" class="slide-next">
            <span class="a11y-hidden">slide next</span>
          </button>
        </div>
        <a href="javascript:void(0)" class="news-btn" target="_blank" rel="noopener noreferrer">
          <div class="txt-bx">
            <p class="news-item-sub-title">
              <span>Newsroom</span>
            </p>
            <h3 class="news-item-title">LG Showcases Digital Signage Solutions</h3>
            <p class="news-item-desc">LG Electronics (LG) is unveiling its latest digital signage innovations at Integrated LG Electronics (LG) is unveiling its latest digital signage innovations at Integrated...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- E : highlights -->