<!-- S : highlights -->
<section class="section highlights">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_white.svg" alt="LG" loading="lazy" class="logo-img">
      <h2 class="title">
        Feel the energy of <br class="mo-only">ISE 2026
      </h2>
      <p class="text">
        Breaking news, captivating videos, <br class="mo-only">and fresh photos straight from the event.
      </p>
    </div>
  </div>
  <div class="slide-wrap">
    <div class="inner">
      <div class="main-slide">
        <button type="button" class="slide-prev">
          <span class="a11y-hidden">slide prev</span>
        </button>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-item">
                <div class="link-btn" target="_blank">
                  <p class="title">Step Inside Booth Tour</p>
                  <a href="https://www.youtube.com/watch?v=qaEs0jArn8g" target="_blank" rel="noopener noreferrer" class="yt-link">Learn more</a>
                </div>
                <figure class="img-bx">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/highlights_main_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/highlights_main_1.jpg" alt="youtube" loading="lazy">
                  </picture>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="slide-next">
          <span class="a11y-hidden">slide next</span>
        </button>
        <div class="swiper-pagination"></div>
      </div>
      <div class="sub-slide-wrap">
        <div class="sub-slide swiper">
          <button type="button" class="slide-prev">
            <span class="a11y-hidden">slide prev</span>
          </button>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_1.jpg" alt="K-Culture Stores booth" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_2.jpg" alt="LED Tech Zone booth" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_3.jpg" alt="Key Attractor" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_4.jpg" alt="LG SoundCast booth" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_5.jpg" alt="LG Business Cloud" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_6.jpg" alt="Control Room" loading="lazy">
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sub-slide-item">
                <p class="sub-slide-item-sub-title"><span>Photos</span></p>
                <figure class="img-bx">
                  <img src="/theme/rbFront/img/w/ise/ise2026/highlights_sub_7.jpg" alt="E-Paper Display" loading="lazy">
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <button type="button" class="slide-next">
            <span class="a11y-hidden">slide next</span>
          </button>
        </div>
        <a href="https://www.lg.com/global/newsroom/news/media-entertainment-solution/lg-electronics-presents-b2b-customer-tailored-display-and-software-solutions-at-ise-2026/" class="news-btn" target="_blank" rel="noopener noreferrer">
          <div class="txt-bx">
            <p class="news-item-sub-title">
              <span>Newsroom</span>
            </p>
            <h3 class="news-item-title">LG Electronics Presents B2B Customer-Tailored Display and Software Solutions at ISE 2026</h3>
            <p class="news-item-desc">LG Electronics Showcases “Solutions Beyond Displays,” With Integrated B2B Software Ecosystems, Next-Gen Micro LED and Immersive K-Culture Retail Experiences</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- E : highlights -->