<script src="../../assets/js/banner.js" defer></script>

<!-- S : Banner -->
<section class="banner">
    <div class="banner-wrapper">
        <div class="banner-imgbx-1" aria-hidden="true">
            <img src="/src/assets/images/banner-1-desktop.png" alt loading="lazy">
        </div>
        <div class="inner">
            <div class="banner-main-area">
                <div class="banner-main-area-imgbx">
                    <img src="/src/assets/images/banner-optimism.gif" alt="radio optimism" loading="lazy">
                </div>
                <h2 class="banner-main-area-title">
                    <div class="top">
                        <p>THE TWENTY FOUR SEVEN</p>
                    </div>
                    <div class="bottom">
                        <p>DEDICATION</p>
                        <p>STATION</p>
                    </div>
                </h2>
                <div class="banner-main-area-controls">
                    <button type="button" class="prev-btn" aria-label="previous"></button>
                    <button type="button" class="stop-btn" aria-label="play" aria-pressed="true"></button>
                    <button type="button" class="next-btn" aria-label="next"></button>
                </div>
                <div class="banner-main-area-startbtn">
                    <p>Make your song now</p>
                    <div class="blendbx" aria-hidden="true">
                        <div class="blendbx-blend-1 blend"></div>
                        <div class="blendbx-blend-2 blend"></div>
                        <div class="blendbx-blend-3 blend"></div>
                        <div class="blendbx-blend-4 blend"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-imgbx-2" aria-hidden="true">
            <picture>
                <source srcset="/src/assets/images/banner-2-desktop.png" media="(min-width: 769px)">
                <source srcset="/src/assets/images/banner-2-mobile.png" media="(max-width: 768px)">
                <img src="/src/assets/images/banner-2-mobile.png" alt loading="lazy">
            </picture>
        </div>
    </div>

</section>
<!-- E : Banner -->