@import '../../assets/scss/mixin';

body {
    &.noscroll {
        overflow-y: hidden;
    }
}

.banner {
    margin: 0 auto;
    position: relative;
    padding: 0 rem(16) rem($mo_padding);

    @include tablet {
        padding: 0 rem(24) rem($tab_padding);
    }

    @include desktop {
        padding: 0 0 rem($pc_padding);
    }

    .banner-wrapper {
        max-width: 1920px;
        background: #e6e1d6;
        border-radius: rem(20);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            border-radius: rem(24);
        }

        @include desktop {
            padding: 0;
            border-radius: rem(28);
        }
    }

    .inner {
        padding: rem(40) rem(36.5) rem(38);

        @include tablet {
            padding: rem(24) 0;
        }

        @include desktop {
            padding: rem(40) 0;
        }
    }

    &-imgbx-1 {
        width: 100%;
        height: 100%;
        position: relative;
        display: none;

        img {
            @include img(cover);
        }

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: rem(212);
        }
    }

    &-imgbx-2 {
        position: relative;
        margin-top: rem(24);
        width: 100%;

        @include tablet {
            margin-top: 0;
        }

        img {
            @include img(cover);
        }
    }

    &-main-area {
        &-imgbx {
            width: 100%;
            margin-bottom: rem(8);

            @include tablet {
                margin-bottom: rem(24);
            }

            img {
                @include img(cover);
            }
        }

        &-title {
            font-family: "LGEI Headline";
            width: fit-content;
            padding: 0 rem(16);
            padding-bottom: rem(16);

            @include tablet {
                padding: 0 rem(16);
                padding-bottom: rem(8);
            }

            .top {
                width: 100%;
                p {
                    @include font(20, 24px, 550);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    @include font(20, 24px, 550);
                }
            }
        }

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(36);
            padding: 0 rem(16.29);

            .prev-btn {
                width: rem(27.43);
                height: rem(16);
                background: url('/src/assets/images/banner-arrow-ico.svg') no-repeat center;
                cursor: pointer;
            }

            .stop-btn {
                width: rem(18);
                height: rem(24);
                cursor: pointer;

                &[aria-pressed=false] {
                    // 새로운 svg 아이콘 필요
                    background: url('/src/assets/images/banner-play-ico.svg') no-repeat center;
                }

                &[aria-pressed=true] {
                    background: url('/src/assets/images/banner-stop-ico.svg') no-repeat center;
                }
            }

            .next-btn {
                width: rem(27.43);
                height: rem(16);
                background: url('/src/assets/images/banner-arrow-ico.svg') no-repeat center;
                transform: rotate(180deg);
                cursor: pointer;
            }
        }

        &-startbtn {
            position: sticky;
            bottom: 5%;
            z-index: 10;
            width: rem(248);
            height: rem(48);
            padding: 0 rem(8) 0 rem(10);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            will-change: transform;
            background: $red;
            border-radius: rem(32);
            cursor: pointer;

            &:hover {
                background: $white;
                border: 1px solid $black;

                p {
                    color: $black;
                }

                .blendbx {
                    background: $red;

                    .blend {
                        background: $white;
                    }
                }
            }

            @include tablet {
                width: rem(261);
                height: rem(56);
            }

            p {
                min-width: rem(188);
                text-align: center;
                @include font(18, 20px, 600, $white);
            }

            .blendbx {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: rem(2);
                width: rem(32);
                height: rem(32);
                background: $white;
                border-radius: 50%;

                @keyframes blend1Animation {
                    0% {
                        height: rem(6);
                    }

                    25% {
                        height: rem(12);
                    }

                    50% {
                        height: rem(4);
                    }

                    75% {
                        height: rem(8);
                    }

                    100% {
                        height: rem(6);
                    }
                }

                @keyframes blend2Animation {
                    0% {
                        height: rem(16);
                    }

                    25% {
                        height: rem(8);
                    }

                    50% {
                        height: rem(10);
                    }

                    75% {
                        height: rem(6);
                    }

                    100% {
                        height: rem(12);
                    }
                }

                @keyframes blend3Animation {
                    0% {
                        height: rem(12);
                    }

                    25% {
                        height: rem(14);
                    }

                    50% {
                        height: rem(6);
                    }

                    75% {
                        height: rem(12);
                    }

                    100% {
                        height: rem(8);
                    }
                }

                @keyframes blend4Animation {
                    0% {
                        height: rem(8);
                    }

                    25% {
                        height: rem(10);
                    }

                    50% {
                        height: rem(14);
                    }

                    75% {
                        height: rem(10);
                    }

                    100% {
                        height: rem(10);
                    }
                }

                .blend {
                    width: rem(3);
                    border-radius: rem(20);
                    background: $red;
                }

                &-blend-1 {
                    animation: blend1Animation 1s ease-in-out infinite;
                }

                &-blend-2 {
                    animation: blend2Animation 1s ease-in-out infinite;
                }

                &-blend-3 {
                    animation: blend3Animation 1s ease-in-out infinite;
                }

                &-blend-4 {
                    animation: blend4Animation 1s ease-in-out infinite;
                }
            }
        }
    }
}