<!-- S : kv -->
<section class="section kv">
  <div class="inner">
    <div class="text-bx">
      <h1 class="title fade-in-up">
        Life's Good with<br> 
        <strong class="highlight-text">solutions beyond displays</strong>
      </h1>
      <p class="info fade-in-up" data-delay="0.2">
        <span class="text date">February 3-6, 2026</span><span class="text location">Hall 3, 3K100</span><span class="text">Fira de Barcelona, Gran Via, Spain</span>
      </p>
    </div>
    <div class="video-bx">
      <div class="video-title fade-in" data-delay="7">ISE</div>
      <video playsinline webkit-playsinline muted preload="auto" data-keepplaying poster="/theme/rbFront/img/w/ise/ise2026/kv_poster.png">
      </video>
      <figure class="video-figure">
        <img src="/theme/rbFront/img/w/ise/ise2026/kv_date.svg" alt="Feb 3-6, 2026" class="fade-in-up">
      </figure>
      <div class="video-date heading fade-in" data-delay="7">2026</div>
    </div>
    <div class="text-bx fade-in-up">
      <p class="des">
        <strong class="sub-title">Innovative hardware-software integration based on cutting-edge LED technology.</strong>
        Experience integrated solutions at ISE 2026 that go beyond visionary and connect directly to real business value.<br> 
        From LG MAGNIT’s hardware competitiveness driven by diverse technological innovations to collaborations with leading K-brands in the retail industry, we deliver immersive commercial space experiences. <br>
        Through these solutions, we offer a business-centric value proposition that goes beyond simple product displays.
      </p>
    </div>
  </div>
</section>
<!-- E : kv -->
