<!-- S : kv -->
<section class="section kv">
  <div class="inner">
    <div class="txt-bx">
      <h1 class="title fade-in-up">
        Life's Good with<br> 
        <strong class="highlight-text">solutions beyond displays</strong>
      </h1>
      <p class="info fade-in-up" data-delay="0.2">
        <span class="text date">February 3-6, 2026</span><span class="text location">Hall 3, 3K100</span><span class="text">Fira de Barcelona, Gran Via, Spain</span>
      </p>
    </div>
    <div class="video-bx">
      <div class="video-title fade-in" data-delay="7">ISE</div>
      <video playsinline muted preload="auto" data-keepplaying poster="/theme/rbFront/img/w/ise/ise2026/kv_poster.png">
      </video>
      <figure class="video-figure">
        <img src="/theme/rbFront/img/w/ise/ise2026/kv_date.svg" alt="Feb 3-6, 2026" class="fade-in-up">
      </figure>
      <div class="video-date heading fade-in" data-delay="7">2026</div>
    </div>
    <div class="txt-bx fade-in-up">
      <figure class="logo-bx">
        <picture>
          <source srcset="/theme/rbFront/img/w/ise/ise2026/kv_logo.png" media="(min-width: 768px)">
          <source srcset="/theme/rbFront/img/m/ise/ise2026/kv_logo.png" media="(max-width: 767px)">
          <img src="/theme/rbFront/img/w/ise/ise2026/kv_logo.png" alt="Customized hardware-software integration">
        </picture>
      </figure>
      <p class="des">
        <strong class="sub-title">Experience seamless hardware-software synergy</strong>
        Experience how LG integrates hardware and software to create solutions that go beyond <br>
        displays—delivering real, measurable business value across industries.
      </p>
    </div>
  </div>
</section>
<!-- E : kv -->
