@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.kv {
  background-color: $black;
  color: $white;  
  position: relative;
  padding: rem(110) 0 rem(50);
  .fp-overflow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - rem(160));
    @include tablet {
      min-height: calc(100% - rem(171));
    } 
    @include desktop {
      min-height: 100vh;
    }
  }
  @include tablet {
    padding: rem(124) 0 rem(47);
  }
  @include desktop {
    padding: 0;
  }
  
  .inner {
    position: relative;
    @include desktop {
      padding: rem(178) rem(30) rem(90);
    }
    .txt-bx {
      margin: 0 auto;
      text-align: center;
      text-wrap: balance;
      .title {
        font-family: $font-headline;
        @include font(20,110%,550);
        margin-bottom: rem(28);
        .highlight-text {
          font-family: $font-headline;
          @include font(40,110%,700);
        }
        @include tablet {
          font-size: rem(32);
          margin-bottom: rem(15);
          .highlight-text {
            font-size: rem(50);
          }
        }
        @include desktop {
          font-size: rem(32);
          margin-bottom: rem(20);
          .highlight-text {
            font-size: rem(63);
            margin-top: rem(4);
          }
        }
      }
      .info {
        margin-top: rem(26);
        @include tablet {
          margin-top: 0;
        }
        .text {
          @include font(13,140%,250);
          @include tablet {
            font-weight: 550;
            font-size: rem(18);
          }
          &.date::after {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(12);
            background-color: #6A6A6A;
            margin: 0 rem(7);
          }
          @include tablet {
            &:not(:last-child)::after {
              content: '';
              display: inline-block;
              width: rem(0.5);
              height: rem(12);
              background-color: #6A6A6A;
              margin: 0 rem(16);
            }
          }
          &.date,
          &.location {
            &::before {
              content: '';
              display: inline-block;
              margin-right: rem(3);
              background-size: contain;
              background-repeat: no-repeat;
              transform: translateY(rem(1));
              @include tablet {
                margin-right: rem(5);
                transform: translateY(rem(3));
              }
            }
          }
          &.date {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_calendar.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &.location {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_location.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &:last-child {
            display: block;
            font-size: rem(14);
            @include tablet {
              font-size: rem(18);
              display: inline;
            }
          }
        }
      }
      .sub-title {
        display: block;
        font-family: $font-headline;
        @include font(16,140%,400);
        margin-bottom: rem(8);
        color: $white;
        @include desktop {
          font-size: rem(22);
        }
      }
      .des {
        @include font(14,140%,400);
        color: #7E7C77;
        @include desktop {
          font-size: rem(20);
        }
      }
    }
    .video-bx {
      width: fit-content;
      margin: rem(32) auto rem(47);
      position: relative;
      @include tablet {
        width: calc(100% - rem(60));
        height: 42dvh;
        margin: rem(35) auto rem(36);
      }
      @include desktop {
        width: fit-content;
        margin: rem(52) auto rem(53);
      }
      .video-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(33);
        height: rem(33);
        background-image: url('/theme/rbFront/img/m/ise/ise2026/ise_round_m.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ise_round.svg');
          width: rem(66);
          height: rem(66);
          left: rem(-36);
        }
        @include desktop {
          width: rem(94);
          height: rem(94);
        }
      }
      .video-date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(22);
        height: rem(22);
        border: 1px solid $white;
        border-radius: 50%;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          width: rem(43);
          height: rem(43);
          right: rem(-35);
        }
        @include desktop {
          width: rem(61);
          height: rem(61);
        }
      }
      .video-figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        img {
          width: rem(189);
          @include tablet {
            width: rem(252);
          }
          @include desktop {
            width: auto;
          }
        }
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      @media all and (min-width: 1921px) {
        height: 100%;
      }
    }
    .logo-bx {
      margin-bottom: rem(15);
      img {
        width: rem(120);
        @include tablet {
          width: rem(106);
        }
        @include desktop {
          width: auto;
        }
      }
    }
  }
}