@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

header {
  position: fixed;
  width: 100%;
  height: rem(88);
  background: #fff;
  z-index: 1000;
}

.kv {
  background-color: $black;
  color: $white;  
  position: relative;
  .inner {
    position: relative;
    padding: 0 rem(30);
    @include desktop {
      padding: 0 rem(80);
    }
    .txt-bx {
      margin: 0 auto;
      text-align: center;
      text-wrap: balance;
      .title {
        font-family: $font-headline;
        @include font(32,110%,550);
        .highlight-text {
          font-family: $font-headline;
          @include font(63,110%,700);
        }
      }
      @include desktop {
        h1 {
          font-size: rem(32);
          margin-bottom: rem(19.6);
          strong {
            font-size: rem(63);
          }
        }
      }
      .info {
        margin-top: rem(26);
        @include tablet {
          margin-top: 0;
        }
        .text {
          @include font(13,140%,250);
          @include tablet {
            font-weight: 550;
            font-size: rem(18);
          }
          &.date::after {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(12);
            background-color: #6A6A6A;
            margin: 0 rem(7);
          }
          @include tablet {
            &:not(:last-child)::after {
              content: '';
              display: inline-block;
              width: rem(0.5);
              height: rem(12);
              background-color: #6A6A6A;
              margin: 0 rem(16);
            }
          }
          &.date,
          &.location {
            &::before {
              content: '';
              display: inline-block;
              margin-right: rem(3);
              background-size: contain;
              background-repeat: no-repeat;
              transform: translateY(rem(1));
              @include tablet {
                margin-right: rem(5);
                transform: translateY(rem(3));
              }
            }
          }
          &.date {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_calendar.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &.location {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_location.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &:last-child {
            display: block;
            font-size: rem(14);
            @include tablet {
              font-size: rem(18);
              display: inline;
            }
          }
        }
      }
      .sub-title {
        display: block;
        font-family: $font-headline;
        @include font(16,140%,400);
        margin-bottom: rem(8);
        color: $white;
        @include desktop {
          font-size: rem(22);
        }
      }
      .des {
        @include font(14,140%,400);
        color: #7E7C77;
        @include desktop {
          font-size: rem(20);
        }
      }
    }
    .video-bx {
      width: fit-content;
      margin: rem(38.69) auto rem(93.94);
      position: relative;
      @include tablet {
        height: 42dvh;
        margin: rem(68) auto rem(63);
      }
      .video-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(33);
        height: rem(33);
        background-image: url('/theme/rbFront/img/m/ise/ise2026/ise_round_m.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ise_round.svg');
          width: rem(84.6);
          height: rem(84.6);
          left: rem(-47);
        }
        @include desktop {
          width: rem(94);
          height: rem(94);
        }
      }
      .video-date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(22);
        height: rem(22);
        border: 1px solid $white;
        border-radius: 50%;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          width: rem(55);
          height: rem(55);
          right: rem(-47);
        }
        @include desktop {
          width: rem(61);
          height: rem(61);
        }
      }
      .video-figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        img {
          width: rem(189);
          @include tablet {
            width: auto;
          }
        }
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      @media all and (min-width: 1921px) {
        height: 100%;
      }
    }
    .logo-bx {
      margin-bottom: rem(15);
    }
  }
}