<div data-layer-id="energy-washing">
  <div class="layer-content-section">
    <h3 class="heading">Save energy, wash powerfully</h3>
    <div class="layer-content-grid">
      <div class="layer-content-image">
        <img src="./assets/images/products/product_01.png" alt="Washing Machines">
      </div>
      <div class="layer-content-text">
        <h4 class="heading">39 minutes of intense washing</h4>
        <p>TurboWash™ 360° technology cuts energy usage by 28% due to shorter wash, rinse, and spin times, and gently thoroughly cleaned by 360° spray nozzles in just 39 minutes.</p>
      </div>
    </div>
    <div class="layer-content-grid">
      <div class="layer-content-text">
        <h4 class="heading">High energy efficiency</h4>
        <p>40% lower in the Energy Efficiency Index compared to the minimum threshold of energy efficiency class A as defined by EU Regulation 2019/2014.</p>
      </div>
      <div class="layer-content-image">
        <img src="./assets/images/products/product_01.png" alt="Energy efficiency rating">
      </div>
    </div>
    <div class="layer-content-disclaimer">
      <p>*Product images are for illustrative purposes only and may differ from actual product.</p>
      <p>** Model: G005SHADY</p>
    </div>
  </div>
  
</div>
