<div data-layer-id="home-steam-sterilization">
  <div class="layer-content-section">
    <h3 class="heading">Steam™/Steam+™</h3>
    
    <div class="layer-content-image-wide">
      <img src="./assets/images/products/product_03.png" alt="Steam-powered allergen reduction">
    </div>
    
    <div class="layer-content-text-block">
      <h4 class="heading">Steam-powered allergen reduction</h4>
      <p>LG Steam™ penetrates deep into fabrics to reduce allergens such as house dust mites and decreases clothing wrinkles by 30%, providing a more pleasant environment. You can trust the reduction effects through our Allergy Care Course, which is certified by the British Allergy Foundation (BAF).</p>
    </div>
    <div class="layer-content-disclaimer">
      <p>* Actual effects may vary depending on the type of clothing and usage environment.</p>
      <p>** The Wrinkle Care function is available as an option for select courses (9 courses in total).</p>
    </div>
  </div>
  
  <div class="layer-content-section">
    <h3 class="heading">TrueSteam™</h3>
    
    <div class="layer-content-image-wide">
      <img src="./assets/images/products/product_03.png" alt="TrueSteam products">
    </div>
    
    <div class="layer-content-text-block">
      <h4 class="heading">A cleaner daily life with TrueSteam</h4>
      <ul>
        <li>
          Styler: Through the TrueSteam™ function, boiling water is used to sterilize 99.99% of 10 harmful bacteria and 11 types of viruses within fabrics. It also eliminates 100% of bedbugs, bedbug eggs, and house dust mites, while removing over 90% of 5 types of pollen allergens. Furthermore, it deodorizes more than 99% of 18 types of everyday odors, including sweat, tobacco, garlic, and even fishy smells. In addition to clothing, it easily sterilizes and deodorizes bedding, pillows, scarves, hats, and plush toys.
        </li>
        <li>
          Dishwashers: TrueSteam™ technology ensures hygienic washing and sterilization with reduced water spots and no missed spots during the dishwashing process.
        </li>
        <li>
          Washers/Dryers: TrueSteam™ Washing provides peace of mind by sterilizing 99.99% of house dust mites, allergens, and harmful bacteria. TrueSteam™ Drying allows for easy sterilization and deodorization of laundry that is difficult to wash daily, while also managing everyday wrinkles.
        </li>
      </ul>
    </div>
  </div>
</div>
