<section class="sustainability-vision">
  <div class="vision-content">
    <div class="vision-text">
      <h2 class="vision-title">Products and Service for All</h2>
      <p class="vision-desc">Vision description text goes here.</p>
    </div>
    <div class="vision-images">
      <div class="vision-image-item v-item-1"></div>
      <div class="vision-image-item v-item-2"></div>
      <div class="vision-image-item v-item-3"></div>
      <div class="vision-image-item v-item-4"></div>
      <div class="vision-image-item v-item-5"></div>
      <div class="vision-image-item v-item-6"></div>
      <div class="vision-image-item v-item-7"></div>
      <div class="vision-image-item v-item-8"></div>
      <div class="vision-image-item v-item-9"></div>
      <div class="vision-image-item v-item-10"></div>
    </div>
  </div>
</section>
