<!-- S : stories -->
<section class="stories">
    <div class="inner">
        <h2 class="stories-title">Learn about Life's Good</h2>
        <div class="stories-slide-bx">
            <div class="swiper" role="region" aria-label="스토리 슬라이드쇼">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <div class="img-bx">
                            <picture>
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-desktop.png" media="(min-width: 769px)">
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-mobile.png" media="(max-width: 768px)">
                                <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-mobile.png" alt="대체텍스트 1" loading="lazy">
                            </picture>
                        </div>
                        <div class="txt-bx">
                            <h3>Less artificial, more human</h3>
                            <p>LG Affectionate Intelligence.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <div class="img-bx">
                            <picture>
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-desktop.png" media="(min-width: 769px)">
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-mobile.png" media="(max-width: 768px)">
                                <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-mobile.png" alt="People enjoying camping with smiles, embracing the power of optimism." loading="lazy">
                            </picture>
                        </div>
                        <div class="txt-bx">
                            <h3>Optimism your feed</h3>
                            <p>Bring a smile back to your social media.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <div class="img-bx">
                            <picture>
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-desktop.png" media="(min-width: 769px)">
                                <source srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-mobile.png" media="(max-width: 768px)">
                                <img src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-mobile.png" alt="The child's face is clearly visible in front of the candlelit cake, and the LG InstaView refrigerator is faintly visible in the background. " loading="lazy">
                            </picture>
                        </div>
                        <div class="txt-bx">
                            <h3>We don’t make life good, you do</h3>
                            <p>Embrace Life’s Good moment.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-btnbx">
                    <div class="swiper-btnbx-prev"></div>
                    <div class="swiper-btnbx-next"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- E : stories -->