<script src="../../assets/js/stories.js" defer></script>

<!-- S : stories -->
<section class="stories">
    <div class="inner">
        <h2 class="stories-title">Learn about Life's Good</h2>
        <div class="stories-slide-bx">
            <div class="swiper" role="region" aria-label="스토리 슬라이드쇼">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <picture>
                            <source srcset="/src/assets/images/stories-1-desktop.png" media="(min-width: 769px)">
                            <source srcset="/src/assets/images/stories-1-mobile.png" media="(max-width: 768px)">
                            <img src="/src/assets/images/stories-1-mobile.png" alt="대체텍스트 1" loading="lazy">
                        </picture>
                        <div class="txt-bx">
                            <strong>Optimism your feed</strong>
                            <p>Bring a smile back to your social media.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <picture>
                            <source srcset="/src/assets/images/stories-2-desktop.png" media="(min-width: 769px)">
                            <source srcset="/src/assets/images/stories-2-mobile.png" media="(max-width: 768px)">
                            <img src="/src/assets/images/stories-2-mobile.png" alt="대체텍스트 2" loading="lazy">
                        </picture>
                        <div class="txt-bx">
                            <strong>We don’t make life good, you do</strong>
                            <p>Embrace Life’s Good moment.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-roledescription="슬라이드">
                        <picture>
                            <source srcset="/src/assets/images/stories-3-desktop.png" media="(min-width: 769px)">
                            <source srcset="/src/assets/images/stories-3-mobile.png" media="(max-width: 768px)">
                            <img src="/src/assets/images/stories-3-mobile.png" alt="대체텍스트 3" loading="lazy">
                        </picture>
                        <div class="txt-bx">
                            <strong>Life’s Good when you dive in smile first</strong>
                            <p>Optimism is a hard thing to choose. But Once you do, you'll see why.</p>
                            <a href="" class="white-btn">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-btnbx">
                    <div class="swiper-btnbx-prev"></div>
                    <div class="swiper-btnbx-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- E : stories -->