<!-- S : stories -->
<section class="stories">
  <!-- <div class="inner"> -->
  <div class="inner">
    <h2 class="stories-title heading">Learn about Life's Good</h2>
  </div>
  <div class="stories-slide-bx">
    <div class="swiper" role="region" aria-label="stories slide carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide" role="group" aria-roledescription="stories slide">
          <div class="img-bx">
            <picture>
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-desktop.png"
                media="(min-width: 769px)">
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-mobile.png"
                media="(max-width: 768px)">
              <img
                src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-01-mobile.png"
                alt="A scene where the camera captures a man and a woman lying together on the living room sofa from a distance."
                loading="lazy">
            </picture>
          </div>
          <div class="txt-bx">
            <h3>Less artificial, more human</h3>
            <p>LG Affectionate Intelligence.</p>
            <a href="https://www.lg.com/global/lifes-good-in-action/less-artificial-more-human/" class="white-btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide" role="group" aria-roledescription="stories slide">
          <div class="img-bx">
            <picture>
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-desktop.png"
                media="(min-width: 769px)">
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-mobile.png"
                media="(max-width: 768px)">
              <img
                src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-02-mobile.png"
                alt="People enjoying camping with smiles, embracing the power of optimism." loading="lazy">
            </picture>
          </div>
          <div class="txt-bx">
            <h3>Optimism your feed</h3>
            <p>Bring a smile back to your social media.</p>
            <a href="https://www.lg.com/global/lifes-good-in-action/optimism-your-feed/" class="white-btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide" role="group" aria-roledescription="stories slide">
          <div class="img-bx">
            <picture>
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-desktop.png"
                media="(min-width: 769px)">
              <source
                srcset="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-mobile.png"
                media="(max-width: 768px)">
              <img
                src="/src/assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-learn-about-03-mobile.png"
                alt="The child's face is clearly visible in front of the candlelit cake, and the LG InstaView refrigerator is faintly visible in the background. "
                loading="lazy">
            </picture>
          </div>
          <div class="txt-bx">
            <h3>We don’t make life good, you do</h3>
            <p>Embrace Life’s Good moment.</p>
            <a href="https://www.lg.com/global/lifes-good-in-action/product-story-washtower/" class="white-btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="swiper-btnbx">
        <div class="swiper-btnbx-prev"></div>
        <div class="swiper-btnbx-next"></div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
<!-- E : stories -->