<section class="sustainability-overview">
  <div class="inner">
    <div class="sustainability-overview-heading">
      <h2 class="sustainability-overview-heading-title heading">Our commitment to sustainability</h2>
      <p class="sustainability-overview-heading-desc">To promote sustainability management for a 'Better Life for All,' we have established the 'Better Life Plan 2030,' presenting specific goals and implementation plans while strengthening internal guidelines and external transparency. We will continue to deliver tangible results under the banner of 'Better Life for All' to contribute to the sustainable development of both the company and society.</p>
    </div>
    <div class="sustainability-sticky-bar">
      <nav class="sticky-bar-nav">
        <ul class="sticky-bar-nav-list">
          <li><a href="#achievement">Our achievement</a></li>
          <li><a href="#eco-products">Eco-conscious products</a></li>
          <li><a href="#accessibility">Accessibility</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#explore">Explore more</a></li>
        </ul>
      </nav>
      <div class="sticky-bar-cta">
        <a href="javascript:void(0)" class="sticky-bar-cta-link">
          Sustainability Report 2025
        </a>
      </div>
    </div>
  </div>
</section>
