@import "_mixin";

body {
  background:$bg;
  width:100%;
  overflow-x:hidden;
  &.noscroll {
    overflow-y:hidden;
  }
}
.heading {
  font-family:'LGEI Headline';
}
.btn {
  @include btn($white);
  &.red {
    @include btn($red);
  }
}
.article-container {
  width:100%;
  margin:auto;
  section {
    max-width:1920px;
    margin:0 auto;
    .inner {
      width:100%;
      max-width:$inner;
      padding:rem($mo_padding) rem(16);
      margin:0 auto;
      @include tablet{
        padding:0 rem(24) rem($tab_padding);
      }
      @include desktop {
        padding:0 0 rem($pc_padding);
      }
    }
  }
  .kv {
    .inner {
      padding:rem($mo_padding) 0 0;
      @include tablet {
        padding:rem($tab_padding) rem(24) 0;
      }
      @include desktop {
        padding:rem($pc_padding) 0 0;
      }
    }
    &-title {
      padding:0 rem(16);
      @include font(52,100%,550);
      @include tablet {
        padding:0;
        @include font(96);
      }
      @include desktop {
        font-size:rem(136);
      }
    }
    &-conbx {
      width:100%;
      display:flex;
      flex-direction:column;
      margin-top:rem(32);
      row-gap:rem(32);
      @include tablet {
        margin-top:rem(48);
        flex-direction:row;
        justify-content:flex-end;
        flex-wrap:wrap;
        column-gap:rem(82);
      }
      @include desktop {
        margin-top:rem(64);
        column-gap:rem(60);
      }
      &-desc{
        padding:0 rem(16);
        @include font(16,125%,$cl:$warmGray);
        @include tablet {
          width:calc(30% - rem(41));
          padding:0;
          @include font(20,120%);
          margin-right:auto;
        }
        @include desktop {
          width:calc(30% - rem(30));
          @include font(24,116%);
        }
      }
      &-video {
        width:100%;
        overflow:hidden;
        position:relative;
        aspect-ratio:16/9;
        &-thumb {
          display:none;
          @include tablet {
            display:flex;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index: 1;
            img {
              @include img(cover);
            }
          }
        }
        iframe,
        video {
          @include img(cover);
          position: relative;
          z-index:1;
        }
        @include tablet {
          width:calc(70% - rem(41));
          aspect-ratio:16/9;
          border-radius:rem(28);
        }
        @include desktop {
          width:calc(70% - rem(30));
          flex-shrink:0;
        }
      }
    }
  }
  .overview {
    width:100%;
    max-width:rem(696);
    padding:rem(80) rem(20);
    @include tablet {
    padding:rem(120) rem(24);
    }
    @include desktop {
    padding:rem(160) rem(0);
    }
    .inner {
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    @include tablet {
      padding:0;
    }
    }
    .article-banner-logo {
    width:rem(95);
    @include tablet {
      width:rem(136);
    }
    img {
      @include img();
    }
    }
    .title {
    @include font(28,115%,550,$ls:-0.224px);
    margin-top:rem(8);
    background: linear-gradient(
      90deg,
      rgba(253, 49, 46, 1) 2%,
      rgba(249, 20, 235, 1) 54%,
      rgba(130, 39, 255, 1) 97%,
      rgba(180, 50, 245, 1) 8799%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    @include tablet {
      @include font(44,1.1,$ls:0);
    }
    }
    .txt {
    @include font(20,120%,$cl:$warmGray);
    text-align:center;
    margin-top:rem(16);
    @include tablet {
      @include font(24,116%,$cl:$black);
    }
    @include desktop {
      margin-top:rem(20);
    }
    }
  }

  .products {
    overflow:hidden;
    @include tablet {
      max-width:unset;
      height:100vh;
    }
    .inner {
      padding:0 rem(16) rem(40);
      @include tablet {
        width:100%;
        height:100%;
        max-width:100%;
        padding:0 rem(24);
        display:flex;
        align-items:center;
        justify-content:flex-end;
        position:relative;
        transform-origin:center center;
      }
      @include desktop {
        padding:0;
      }
    }
    &-video {
      width:100%;
      aspect-ratio:9/16;
      border-radius:rem(20);
      overflow:hidden;
      position:relative;
      @include tablet {
        width:100%;
        aspect-ratio:16/9;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        transform-origin:center left;
        border-radius:0;
      }
      video {
        @include img(cover);
      }
      picture {
        @include img(cover);
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        img {
          @include img(cover);
        }
      }
      &-btn {
        width:rem(48);
        height:rem(48);
        display:flex;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:0;
        &[aria-pressed=false] {
          background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-btn-movie-play.svg');
          background-size:contain;
        }
        &[aria-pressed=true] {
          background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-btn-movie-pause.svg');
          background-size:contain;
        }
        @include tablet {
          width:rem(32);
          height:rem(32);
        }
      }
      &-title {
        display:none;
        @include tablet {
          @include font(52,110%,550,$white);
          text-align:center;
          display:flex;
          border-radius:0;
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
        }
        @include desktop {
          @include font(64);
          white-space:nowrap;
        }
      }
    }
  }

  .products-static {
    display:flex;
    flex-direction:column;
    row-gap:rem(40);
    .inner {
      padding-top:0;
      padding-bottom:0;
    }
    @include tablet {
      row-gap:rem(72);
    }
    @include desktop {
      row-gap:rem(80);
    }
    &-title {
      @include font(32,112%,550);
      text-align:center;
      @include tablet {
        @include font(52,110%);
      }
      @include desktop {
        @include font(64);
      }
    }
    &-item {
      width:100%;
      .inner {
        display:flex;
        flex-direction:column;
        row-gap:rem(20);
        @include tablet {
          flex-direction:row;
          row-gap:0;
          justify-content:space-between;
          align-items:center;
        }
      }
      &.reverse {
        .inner {
          @include tablet {
            flex-direction:row-reverse;
          }
        }
      }
      &-video {
        width:100%;
        aspect-ratio:16/9;
        border-radius:rem(20);
        overflow:hidden;
        position:relative;
        cursor:pointer;
        @include tablet {
          width:calc(50% - rem(33));
          border-radius:rem(28);
          flex-shrink:0;
        }
        @include desktop {
          width:calc(50% - rem(49));
        }
        video {
          @include img(cover);
        }
        picture {
          @include img(cover);
          position:absolute;
          top:0;
          left:0;
          z-index:-1;
          img {
            @include img(cover);
          }
        }
        &-btn {
          width:rem(48);
          height:rem(48);
          display:flex;
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          font-size:0;
          &[aria-pressed=false] {
            background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-btn-movie-play.svg');
            background-size:contain;
          }
          &[aria-pressed=true] {
            background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-btn-movie-pause.svg');
            background-size:contain;
          }
          @include tablet {
            width:rem(32);
            height:rem(32);
          }
        }
      }
      &-textbx {
        width:100%;
        @include tablet {
          width:calc(50% - rem(33));
        }
        @include desktop {
          width:calc(50% - rem(49));
        }
        &-title {
          @include font(28,114%,550);
          margin-bottom:rem(8);
          @include tablet {
            @include font(44,110%);
          }
          @include desktop {
            @include font(56,107%);
          }
        }
        &-desc {
          @include font(16,125%,$cl:$warmGray);
          margin-bottom:rem(12);
          @include tablet {
            @include font(20,120%);
            margin-bottom:rem(24);
          }
          @include desktop {
            @include font(24,116%);
          }
          span {
            font-weight:700;
          }
        }
      }
    }
  }

  .promotion {
    &-title {
      @include font(28,114%,550);
      @include tablet {
        @include font(44,109%);
      }
      @include desktop {
        @include font(56,107%);
      }
    }
    &-conbx {
      width:100%;
      position:relative;
      margin-top:rem(12);
      @include tablet {
        margin-top:rem(72);
      }
      @include desktop {
        margin-top:rem(120);
      }
      &-imgbx {
        width:100%;
        border-radius:rem(20);
        overflow:hidden;
        @include tablet {
          border-radius:rem(28);
        }
        img {
          @include img(cover);
        }
      }
      &-txtbx {
        width:100%;
        position:absolute;
        top:0;
        left:0;
        padding:rem(20);
        @include tablet {
          padding:0 rem(32);
          top:50%;
          transform:translateY(-50%);
        }
        @include desktop {
          padding:0 rem(80);
        }
        &-eyebrow {
          @include font(14,114%);
          margin-bottom:rem(8);
          @include tablet {
            @include font(16,125%,$cl:#ccc);
          }
          @include desktop {
            @include font(16,112%,$cl:$white);
          }
        }
        &-title {
          @include font(24,116%,600);
          margin-bottom:rem(12);
          @include tablet {
            @include font(36,$cl:$white);
            margin-bottom:rem(24);
          }
          @include desktop {
            @include font(40,105%);
          }
          &.bk {
            color:$warmGray;
          }
        }
      }
    }
  }

  .stories {
    .inner {
      padding:0 0 rem($mo_padding) rem(16);
      @include tablet{
        padding:0 rem(24) rem($tab_padding);
      }
      @include desktop {
        padding:0 0 rem($pc_padding);
      }
    }
    &-title {
      @include font(28,114%,550);
      @include tablet {
        @include font(44,109%);
      }
      @include desktop {
        @include font(56,107%);
      }
    }
    &-conbx {
      width:100%;
      margin-top:rem(12);
      &-item {
        width:rem(310);
        position:relative;
        @include tablet {
          width:rem(480);
        }
        @include desktop {
          width:rem(464);
        }
        &-imgbx {
          border-radius:rem(20);
          overflow:hidden;
          @include tablet {
            border-radius:rem(28);
          }
          img {
            @include img(cover);
          }
        }
        &-txtbx {
          position:absolute;
          top:0;
          left:0;
          padding:rem(24) rem(30);
          @include tablet {
            padding:rem(32);
          }
          &-title {
            @include font(28,116%,$cl:$white);
            margin-bottom:rem(8);
            @include tablet {
              @include font(40);
            }
            @include desktop {
              @include font(40,112%);
            }
          }
          &-desc {
            @include font(16,125%,$cl:$white);
            margin-bottom:rem(12);
            @include tablet {
              margin-bottom:rem(24);
            }
            @include desktop {
              @include font(24,116%);
            }
          }
        }
      }
    }
    &-swiper-btnbx {
      width:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      margin-top:rem(20);
      gap:rem(16);
      .stories-swiper-button-prev {
        width:rem(24);
        height:rem(14);
        background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-stories-swiper-btn.svg') no-repeat;
        background-size:contain;
        transform:rotate(-180deg);
      }
      .stories-swiper-button-next {
        width:rem(24);
        height:rem(14);
        background:url('../images/lifes-good-campaign-2025-live-human-lgcom-ai-mobility-img-stories-swiper-btn.svg') no-repeat;
        background-size:contain;
      }
      .stories-swiper-pagination {
        width:auto;
        @include font(14,114%,$cl:$warmGray);
        text-transform:capitalize;
      }
      .swiper-button-disabled {
        opacity:50%;
      }
      @include desktop {
        display:none;
      }
    }
  }
}