@import "_mixin";

html {
  min-width: 1280px;
}
.a11y-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.ultra-gear-container {
  background-color: #F0ECE4;
  position: relative;
  * {
    font-family: LGEI Text;
  }
  section {
    .inner {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .gnb {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  /*kv*/
  .ultra-gear-kv {
    width: 100%;
    height: 100vh;
    background-color: $black;
    .inner {
      width: 100%;
      height: 100%;
      .video-container {
        width: 100%;
        height: 100%;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  /*overview*/
  .ultra-gear-overview {
    background-color: $black;
    overflow: hidden;
    padding-bottom: rem(120);
    margin-top: -20%;
    .ultra-gear-logo {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      padding: rem(120) 0;
    }
    .ultra-gear-list-container {
      padding: rem(48) rem(48) 0;
      .ultra-gear-list {
        display: flex;
        gap: rem(24);
        li {
          position: relative;
          border-radius: rem(28);
          overflow: hidden;
          .slide-bx {
            max-width: rem(489);
            width: 100%;
            .slide-control { 
              display: flex;
              align-items: center;
              position: absolute;
              bottom: rem(32);
              right: rem(32);
              z-index: 2;
              .play-btn {
                width: rem(16);
                height: rem(16);
                background-image: url("../images/ultra-gear-pause-btn.svg");
                background-size: rem(16) rem(16);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                margin: 0 rem(12);
                &.active {
                  background-image: url("../images/ultra-gear-play-btn.svg");
                }
              }
              .slide-btn {
                width: rem(16);
                height: rem(16);
                background-image: url("../images/ultra-gear-slide-arrow.svg");
                background-size: rem(7) rem(12);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                &.slide-button-prev {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .center-txt {
            position: absolute;
            left: 50%;
            bottom: rem(32);
            transform: translateX(-50%);
            color: $white;
            font-family: 'LG Smart UI';
            font-weight: 400;
            font-size: rem(32);
            text-align: center;
            width: 100%;
          }
          .txt-bx {
            position: absolute;
            bottom: rem(32);
            left: rem(32);
            z-index: 2;
            color: $white;
            p {
              font-family: 'LG Smart UI';
              font-weight: 400;
              font-size: rem(20);  
              margin-bottom: rem(8);
            }
            strong {
              font-weight: 700;
              font-size: rem(48);
            }
          }
          .title-txt {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            color: $white;
            font-weight: 700;
            font-size: rem(100);
          }
        }
        &.list-01 {
          li {
            &:nth-child(2) {
              width: 20%;
              overflow: unset;
              z-index: 2;
              img {
                max-width: 80%;
                position: absolute;
                bottom: 0;
                right: rem(-40);
              }
              .txt-bx {
                left: 25%;
                strong {
                  font-size: rem(64);
                }
              }
            }
            &:nth-child(3) {
              .txt-bx {
                strong {
                  font-size: rem(64);
                }
              }
            } 
            &:not(:nth-child(2)) {
              max-width: rem(489);
              width: 28%;
              img {
                aspect-ratio: 489 / 286;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
        &.list-02 {
          video,
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          li {
            &:nth-child(1) {
              video {
                max-height: rem(288);
                aspect-ratio: 768 / 288;
              }
            }
          }
          .title-txt {
            font-size: rem(140);
          }
        }
        &.list-03 {
          video,
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        & + .ultra-gear-list {
          margin-top: rem(24);
        }
      }
    } 
  }
  /*feature*/
  .ultra-gear-feature {
    background-color: $black;
    margin-top: rem(-1);
    position: relative;
    overflow: hidden;
    video,
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .txt-bx {
      max-width: 860px;
      position: absolute;
      top: rem(48);
      transform: translateX(-50%);
      left: 50%;
      z-index: 2;
      text-align: center;
      font-weight: 400;
      color: $white;
      .title {
        font-size: rem(56);
        margin-bottom: rem(8);
      }
      .txt {
        font-size: rem(24);
      }
    }
    .play-btn {
      width: rem(32);
      height: rem(32);
      background-image: url("../images/ultra-gear-video-pause-btn.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      position: absolute;
      bottom: rem(80);
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      cursor: pointer;
      &.active {
        background-image: url("../images/ultra-gear-video-play-btn.svg");
      }
    }
  }
  /*specs*/
  .ultra-gear-specs {
    background-color: $black;
    margin-top: rem(-1);
    padding: rem(120) 0;
    color: $white;
    .border-bx {
      border-radius: rem(28);
      position: relative;
      overflow: hidden;
      img {
        display: block;
        max-width: 100%;
      }
    }
    .inner {
      max-width: 1440px;
      width: calc(100% - rem(96));
      margin-left: auto;
      margin-right: auto;
      .banner {
        position: relative;
        .txt-bx {
          width: 44%;
          position: absolute;
          top: rem(80);
          left: rem(80);
          z-index: 2;
          .title {
            font-size: rem(56);
            margin-bottom: rem(8);
          }
          .txt  {
            line-height: 1.25;
          }
        }
        ul {
          display: flex;
          align-items: center;
          gap: rem(24);
          position: absolute;
          bottom: rem(80);
          left: rem(80);
        }
      }
      .play-btn {
        width: rem(32);
        height: rem(32);
        background-image: url("../images/ultra-gear-video-pause-btn.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        position: absolute;
        bottom: rem(24);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        cursor: pointer;
        &.active {
          background-image: url("../images/ultra-gear-video-play-btn.svg");
        }
      }
      .video-list {
        display: flex;
        gap: rem(24);
        margin-top: rem(20);
        padding-bottom: rem(64);
        li {
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .txt-bx {
            margin-top: rem(20);
            .title {
              font-size: rem(36);
              margin-bottom: rem(8);
            }
            .txt {
              font-size: rem(24);
              line-height: 1.16;
              text-wrap: balance;
            }
          }
        }
      }
      .flex-bx {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24);
        & + .flex-bx {
          margin-top: rem(96);
        }
        &.reverse {
          flex-direction: row-reverse;
        }
        .img-bx {
          width: 50%;
          border-radius: rem(28);
          overflow: hidden;
        }
        .txt-bx {
          max-width: 620px;
          width: 50%;
          .title {
            font-weight: 600;
            font-size: rem(56);
            margin-bottom: rem(8);
          }
          .txt {
            font-size: rem(24);
            line-height: 1.16;
          }
        }
      }
    }
  }
  /*products*/
  .ultra-gear-products {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  /*banner*/
  .ultra-gear-banner {
    padding: rem(72) 0 rem(48);
    .inner {
      max-width: 1440px;
      width: calc(100% - rem(96));
      margin-left: auto;
      margin-right: auto;
      .banner-link {
        display: block;
        max-width: 100%;
        border-radius: rem(28);
        overflow: hidden;
        position: relative;
        .txt-bx {
          position: absolute;
          top: rem(48);
          left: rem(48);
          z-index: 2;
          strong {
            font-family: LGEI Headline;
            font-weight: 700;
            font-size: rem(48);
            color: $white;
          }
          img {
            display: block;
            margin-top: rem(44);
          }
        }
        .bg {
          display: block;
          max-width: 100%;
          min-height: rem(240);
          object-fit: cover;
          object-position: right;
        }
      } 
    }
  }
  /*faq*/
  .ultra-gear-faq {
    padding: rem(48) 0 rem(64);
    .inner {
      max-width: 1440px;
      width: calc(100% - rem(96));
      margin-left: auto;
      margin-right: auto;
      .title {
        font-weight: 700;
        font-size: rem(56);
        padding-bottom: rem(20);
        border-bottom: rem(1) solid #cbc8c2;
      }
      ul {
        li {
          margin-top: rem(20);
          .question {
            font-size: rem(20);
            margin-bottom: rem(20);
            position: relative;
            padding-left: rem(30);
            &::before {
              content: 'Q.';
              position: absolute;
              left: 0;
              color: $black;
            }
          }
          .answer {
            font-size: rem(16);
            line-height: 1.25;
            background-color: $white;
            padding: rem(24);
            border-radius: rem(28);
            p {
              max-width: 1000px;
              position: relative;
              padding-left: rem(30);
              &::before {
                content: 'A.';
                font-size: rem(20);
                position: absolute;
                top: rem(-2);
                left: 0;
                color: $black;
              }
            }
          }
        }
      }
    }
    
  }
  /*info*/
  .ultra-gear-info {
    .inner {
      max-width: 1440px;
      width: calc(100% - rem(96));
      margin-left: auto;
      margin-right: auto;
      .title {
        font-weight: 700;
        font-size: rem(56);
      }
    }
    & + .ultra-gear-info { 
      padding-top: rem(56);
      margin-top: rem(49);
      border-top: 1px solid #CBC8C2;
    }
    }
  .ultra-gear-bottom {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .ultra-gear-footer {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}