<!-- S : kv -->
<section class="kv">
  <div class="inner">
    <div class="text-bx heading">
      <h1 class="title fade-in-up">
        Life's good with<br> 
        <strong>Solutions beyond displays</strong>
      </h1>
      <p class="info fade-in-up" data-delay="0.2">
        <span class="text date">February 3–6</span>
        <span class="text location">3K 100</span>
        <span class="text">Fira de Barcelona, Gran Via, Spain</span>
      </p>
    </div>
    <div class="video-bx">
      <div class="video-title heading fade-in" data-delay="7">ISE</div>
      <video playsinline muted loop autoplay preload="auto" poster="./assets/images/kv_poster.jpg">
        <source src="./assets/videos/kv_intro.mp4" type="video/mp4">
      </video>
      <div class="countdown white">
        <p class="day"></p>
        <p class="hour"></p>
        <p class="minute"></p>
        <p class="second"></p>
      </div>
      <div class="video-date heading fade-in" data-delay="7">2026</div>
    </div>
    <div class="btn-link-bx fade-in">
      <button type="button" class="btn share-btn">
        share
      </button>
      <a href="https://www.linkedin.com/company/lginformationdisplay" target="_blank" rel="noopener noreferrer" class="sns-btn linkedin">
        <span class="a11y-hidden">share on linkedin</span>
      </a>
      <a href="https://www.instagram.com/lg_informationdisplay/" target="_blank" class="sns-btn instagram">
        <span class="a11y-hidden">share on instagram</span>
      </a>
      <a href="https://www.facebook.com/LGInformationDisplay" target="_blank" class="sns-btn facebook">
        <span class="a11y-hidden">share on facebook</span>
      </a>
      <a href="https://bit.ly/LGID_Youtube" target="_blank" class="sns-btn youtube">
        <span class="a11y-hidden">share on youtube</span>
      </a>
    </div>
    <div class="scroll-down-btn-bx">
      <button class="scroll-down-btn" type="button">
        <img src="./assets/images/ic_scroll.svg" alt="scroll down button">
      </button>
    </div>
    <!-- layer-popup -->
    <div class="layer-popup" role="dialog" aria-hidden="true">
      <div class="inner">
        <h2 class="title">
          share to
        </h2>
        <ul class="sns-list">
          <li class="sns-item">
            <a href="https://www.linkedin.com/company/lginformationdisplay" target="_blank" rel="noopener noreferrer" class="sns-btn linkedin">
              <span class="a11y-hidden">share on linkedin</span>
            </a>
          </li>
          <li class="sns-item">
            <a href="https://www.facebook.com/LGInformationDisplay" target="_blank" class="sns-btn facebook">
              <span class="a11y-hidden">share on facebook</span>
            </a>
          </li>
          <li class="sns-item">
            <a href="https://www.instagram.com/lg_informationdisplay/" target="_blank" class="sns-btn instagram">
              <span class="a11y-hidden">share on instagram</span>
            </a>
          </li>
          <li class="sns-item">
            <a href="https://bit.ly/LGID_Youtube" target="_blank" class="sns-btn youtube">
              <span class="a11y-hidden">share on youtube</span>
            </a>
          </li>
        </ul>
        <h3 class="title">
          Or copy link
        </h3>
        <div class="copy-link-bx">
          <span class="copy-link-text">lg-informationdisplay.com/ise2026</span>
          <button type="button" class="copy-link-btn">
            copy
          </button>
        </div>
        <button type="button" class="close-btn">
          <span class="a11y-hidden">close popup button</span>
        </button>
        <div class="toast-popup">
          <div class="inner">
            <p class="text"><span>link</span> has been copied.</p>
          </div>
        </div> 
      </div>
    </div>       
  </div>
</section>
<!-- E : kv -->
