@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.kv {
  background-color: $black;
  color: $white;  
  position: relative;
  padding: rem(61) 0 rem(53);
  .inner {
    position: relative;
    padding: 0 rem(30);
    @include tablet {
      padding: 0 rem(80);
    }
    .text-bx {
      text-align: center;
      h1 {
        @include font(20,110%,700);
        strong {
          @include font(41,110%,700);
        }
      }
      @include tablet {
        h1 {
          font-size: rem(32);
          margin-bottom: rem(19.6);
          strong {
            font-size: rem(63);
          }
        }
      }
      .info {
        margin-top: rem(26);
        @include tablet {
          margin-top: 0;
        }
        .text {
          @include font(14,140%,550);
          @include tablet {
            font-size: rem(18);
          }
          &.date::after {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(12);
            background-color: #6A6A6A;
            margin: 0 rem(7);
          }
          @include tablet {
            &:not(:last-child)::after {
              content: '';
              display: inline-block;
              width: rem(0.5);
              height: rem(12);
              background-color: #6A6A6A;
              margin: 0 rem(7);
            }
          }
          &.date,
          &.location {
            &::before {
              content: '';
              display: inline-block;
              margin-right: rem(5);
              background-size: contain;
              background-repeat: no-repeat;
              transform: translateY(rem(1));
              @include tablet {
                transform: translateY(rem(3));
              }
            }
          }
          &.date {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_calendar.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &.location {
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_location.svg');
              width: rem(12);
              height: rem(12);
              @include tablet {
                width: rem(20);
                height: rem(20);
              }
            }
          }
          &:last-child {
            display: block;
            @include tablet {
              display: inline;
            }
          }
        }
      }
    }
    .video-bx {
      width: fit-content;
      margin: rem(38.69) auto rem(93.94);
      position: relative;
      @include tablet {
        height: 50dvh;
        margin: rem(68) auto rem(63);
      }
      .video-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(33);
        height: rem(33);
        background-image: url('/theme/rbFront/img/m/ise/ise2026/ise_round_m.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ise_round.svg');
          width: rem(84.6);
          height: rem(84.6);
          left: rem(-47);
        }
        @include desktop {
          width: rem(94);
          height: rem(94);
        }
      }
      .video-date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(22);
        height: rem(22);
        border: 1px solid $white;
        border-radius: 50%;
        @include font(7,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: rem(-12);
        z-index: 2;
        @include tablet {
          font-size: rem(10);
          width: rem(55);
          height: rem(55);
          right: rem(-47);
        }
        @include desktop {
          width: rem(61);
          height: rem(61);
        }
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      @media all and (min-width: 1921px) {
        height: 100%;
      }
    }
    .countdown {
      width: min(rem(205), 80vw);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(14);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      @include tablet {
        width: min(rem(333), 80vw);
        gap: rem(26);
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: rem(1);
        @include tablet {
          gap: rem(3);
        }
        img {
          display: block;
          width: 100%;
          height: rem(20);
          object-fit: contain;
          @include tablet {
            height: min(rem(30), 5vw);
          }
        }
      }
    }
    .btn-link-bx {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(2);
      margin-bottom: rem(16);
      @include desktop {
        margin-bottom: rem(70);
      }
      .btn {
        @include btn($white, true);
        margin-right: rem(5);
      }
      .sns-btn {
        display: none;
        width: rem(40);
        height: rem(40);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.3s;
        $sns-list: linkedin, instagram, facebook, youtube;
        @include tablet {
          display: block;
        }
        @each $sns in $sns-list {
          &.#{$sns} {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_share_#{$sns}.svg');
          }
        }
        &:hover {
          @each $sns in $sns-list {
            &.#{$sns} {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_share_#{$sns}_active.svg');
            }
          }
        }
      }
    }
    .scroll-down-btn-bx {
      display: none;
      text-align: center;
      @include tablet {
        display: block;
      }
      .scroll-down-btn {
        cursor: pointer;
        transition: transform 0.3s ease;
        animation: float 1.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.layer-popup {
  width: min(calc(100% - rem(72)), rem(458));
  color: $black;
  opacity: 0;
  visibility: hidden;
  padding: rem(20);
  border-radius: rem(10);
  background-color: $white;
  position: absolute;
  transform: translateX(-50%);
  bottom: rem(60);
  left: 50%;
  z-index: 100;
  transition: all 0.3s;
  .inner {
    position: relative;
    padding: 0;
    .title {
      @include font(15,100%,550);
      margin-bottom: rem(8);
    }
    .sns-list {
      display: flex;
      align-items: center;
      gap: rem(8.95);
      margin-bottom: rem(12);
      @include tablet {
        gap: rem(10);
      }
      .sns-item {
        .sns-btn {
          display: block;
          width: rem(40);
          height: rem(40);
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.3s;
          $sns-list: linkedin, instagram, facebook, youtube;
          @include tablet {
            width: rem(45);
            height: rem(45);
          }
          @each $sns in $sns-list {
            &.#{$sns} {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_popup_#{$sns}.svg');
            }
          }
          &:hover {
            @each $sns in $sns-list {
              &.#{$sns} {
                background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_popup_#{$sns}_active.svg');
              }
            }
          }
        }
      }
    }
    .copy-link-bx {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EDEDED;
      border-radius: rem(73.68);
      padding: rem(4);
      &::before {
        content: '';
        display: block;
        width: rem(18);
        height: rem(18);
        background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_clipboard.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 rem(10);
        @include tablet {
          width: rem(20);
          height: rem(20);
          margin: 0 rem(20) 0 rem(13);
        }
      }
      .copy-link-text {
        @include font(12,140%,400);
        color: $black;
        width: calc(100% - rem(110));
        white-space: nowrap;
        overflow: hidden;
        @include tablet {
          font-size: rem(14);
          width: 100%;
        }
      }
      .copy-link-btn {
        @include btn($primary);
        font-size: rem(10);
        height: rem(26);
        padding: rem(7.46) rem(18.9);
        margin-left: auto;
        @include tablet {
          height: rem(42);
        }
      }
    }
    .close-btn {
      width: rem(28);
      height: rem(28);
      position: absolute;
      top: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_close.svg');
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_close_active.svg');
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: rem(80);
  }
  @include tablet {
    bottom: rem(173);
    &.active {
      bottom: rem(193);
    }
  }
}