@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.kv {
  background-color: $black;
  color: $white;  
  position: relative;
  .inner {
    position: relative;
    .text-bx {
      text-align: center;
      h1 {
        @include font(32,110%,700);
        margin-bottom: rem(19.6);
        strong {
          @include font(63,110%,700);
        }
      }
      .info {
        .text {
          @include font(18,140%,550);
          &:not(:last-child)::after {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(12);
            background-color: #6A6A6A;
            margin: 0 rem(7);
          }
          &.date,
          &.location {
            &::before {
              content: '';
              display: inline-block;
              margin-right: rem(5);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.date {
            &::before {
              background-image: url('../../assets/images/ic_calendar.svg');
              width: rem(10);
              height: rem(11);
            }
          }
          &.location {
            &::before {
              background-image: url('../../assets/images/ic_location.svg');
              width: rem(8);
              height: rem(10);
            }
          }
        }
      }
    }
    .video-bx {
      width: fit-content;
      height: 43dvh;
      margin: rem(68) auto rem(63);
      position: relative;
      .video-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(94);
        height: rem(94);
        background-image: url('../../assets/images/ise_round.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @include font(10,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: rem(-47);
      }
      .video-date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(61);
        height: rem(61);
        border: 1px solid $white;
        border-radius: 50%;
        @include font(10,100%,700);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: rem(-47);
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      @media all and (min-width: 1921px) {
        height: 100%;
      }
    }
    .countdown {
      width: rem(333);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(26);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: rem(4);
        img {
          display: block;
          width: 100%;
          height: rem(30);
          object-fit: contain;
        }
      }
    }
    .btn-link-bx {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(2);
      margin-bottom: rem(70);
      .btn {
        @include btn($white, true);
        margin-right: rem(5);
      }
      .sns-btn {
        display: block;
        width: rem(40);
        height: rem(40);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.3s;
        $sns-list: linkedin, instagram, facebook, youtube;
        @each $sns in $sns-list {
          &.#{$sns} {
            background-image: url('../../assets/images/ic_share_#{$sns}.svg');
          }
        }
        &:hover {
          @each $sns in $sns-list {
            &.#{$sns} {
              background-image: url('../../assets/images/ic_share_#{$sns}_active.svg');
            }
          }
        }
      }
    }
    .scroll-down-btn-bx {
      text-align: center;
      .scroll-down-btn {
        cursor: pointer;
        transition: transform 0.3s ease;
        animation: float 1.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.layer-popup {
  width: rem(458);
  color: $black;
  opacity: 0;
  visibility: hidden;
  padding: rem(20);
  border-radius: rem(10);
  background-color: $white;
  position: absolute;
  transform: translateX(-50%);
  bottom: rem(173);
  left: 50%;
  z-index: 100;
  transition: all 0.3s;
  .inner {
    position: relative;
    padding: 0;
    .title {
      @include font(15,100%,550);
      margin-bottom: rem(8);
    }
    .sns-list {
      display: flex;
      align-items: center;
      gap: rem(10);
      margin-bottom: rem(12);
      .sns-item {
        .sns-btn {
          display: block;
          width: rem(45);
          height: rem(45);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.3s;
          $sns-list: linkedin, instagram, facebook, youtube;
          @each $sns in $sns-list {
            &.#{$sns} {
              background-image: url('../../assets/images/ic_popup_#{$sns}.svg');
            }
          }
          // &:hover {
          //   @each $sns in $sns-list {
          //     &.#{$sns} {
          //       background-image: url('../../assets/images/ic_popup_#{$sns}_active.svg');
          //     }
          //   }
          // }
        }
      }
    }
    .copy-link-bx {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EDEDED;
      border-radius: rem(73.68);
      padding: rem(4);
      &::before {
        content: '';
        display: block;
        width: rem(20);
        height: rem(20);
        background-image: url('../../assets/images/ic_clipboard.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 rem(20) 0 rem(13);
      }
      .copy-link-text {
        @include font(14,140%,400);
        color: $black;
        width: 100%;
      }
      .copy-link-btn {
        @include btn($primary);
      }
    }
    .close-btn {
      width: rem(28);
      height: rem(28);
      position: absolute;
      top: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../../assets/images/ic_close.svg');
      cursor: pointer;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: rem(193);
  }
}