@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variable" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.sound {
  padding-bottom: rem($mo_padding);

  @include tablet {
    padding-bottom: rem($tab_padding);
  }

  @include desktop {
    padding-bottom: rem($pc_padding);
  }

  &-title {
    padding-bottom: rem(20);
    text-align: center;
    @include font(28, 114%, 550);

    @include tablet {
      padding-bottom: rem(32);
      @include font(44, 109%, 550);
    }

    @include desktop {
      padding-bottom: rem(48);
      @include font(56, 107%, 550);
    }
  }

  &-swiper {
    .sound-img-active {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
      pointer-events: none;
      width: calc(25500 / 360 * 1vw);
      height: 100%;
      @include tablet {
        width: rem(437.5);
      }
      @include desktop {
        width: rem(610);
      }
    }
    .sound-imgbx {
      width: calc(25500 / 360 * 1vw);
      aspect-ratio: 308.5/238;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include tablet {
        width: rem(437.5);
        aspect-ratio: 437.5/310;
      }
      @include desktop {
        width: rem(610);
        aspect-ratio: 610/430;
      }
      &-album {
        width: calc(18000 / 360 * 1vw);
        img {
          @include img();
        }
        @include tablet {
          width: rem(310);
        }
        @include desktop {
          width: rem(430);
        }
      }
      &-track {
        width: calc(15000 / 360 * 1vw);
        position: relative;
        margin-left: calc(7500 / 360 * -1vw);
        z-index: -1;
        img {
          @include img();
        }
        @include tablet {
          width: rem(255);
          margin-left: rem(-127.5);
        }
        @include desktop {
          width: rem(360);
          margin-left: rem(-180);
        }
      }
    }
    .swiper-slide {
      width: calc(25500 / 360 * 1vw);
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        width: rem(437.5);
      }
      @include desktop {
        width: rem(610);
      }
      .sound-imgbx {
        .sound-imgbx-album {
          width: calc(18000 / 360 * 1vw);
          opacity: 0.5;
          transition: opacity 0.3s linear;
          @include tablet {
            width: rem(220);
          }
          @include desktop {
            width: rem(305);
          }
        }
        .sound-imgbx-track {
          display: none;
        }
      }
      &-active {
        .sound-imgbx {
          .sound-imgbx-album {
            opacity: 0;
            transition: opacity 0.3s linear;
          }
        }
      }
    }
    .swiper-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(16);
      width: calc(100% - rem(32));
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 2;
      pointer-events: none;

      @include tablet {
        width: calc(100% - rem(96));
      }

      button {
        width: rem(32);
        height: rem(32);
        border-radius: 50%;
        background: rgba(217, 211, 200, 0.75);
        backdrop-filter: blur(20px);
        margin-top: 0;
        position: static;
        bottom: rem(24);
        right: rem(24);
        cursor: pointer;
        transition: all 0.3s linear;
        pointer-events: auto;

        @include tablet {
          width: rem(48);
          height: rem(48);
        }

        &::after {
          content: "";
          display: block;
          width: rem(16);
          height: rem(16);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;

          @include tablet {
            width: rem(24);
            height: rem(24);
          }
        }

        &:hover {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), rgba(217, 211, 200, 0.75);
        }

        &.swiper-button-prev {
          &::after {
            background-image: url("../images/lifes-good-campaign-2025-radio-optimism-lgcom-images-how-to-next-icon.svg");
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }

        &.swiper-button-next {
          &::after {
            background-image: url("../images/lifes-good-campaign-2025-radio-optimism-lgcom-images-how-to-next-icon.svg");
          }
        }
      }

      @include desktop {
        width: rem(calc(1200 - 48));
      }
    }
  }

  &-txt-swiper {
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sound-txtbx {
        width: 100%;
        padding: rem(8) rem(48) 0;

        @include tablet {
          max-width: calc(#{rem(310)} + #{rem(calc(260 / 2))});
          width: 100%;
          padding: rem(8) 0 0;
          padding-bottom: rem(8);
        }

        @include desktop {
          max-width: calc(#{rem(427)} + #{rem(calc(360 / 2))});
          padding-bottom: rem(16);
        }

        &-controllers {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          gap: rem(16);
          padding: rem(8) 0;

          @include tablet {
            padding: rem(12) 0 rem(8);
          }

          @include desktop {
            padding: rem(16) 0 rem(16);
          }

          &-btn {
            position: relative;
            min-width: rem(32);
            min-height: rem(32);
            padding: rem(8);
            border: rem(1) solid #000;
            border-radius: 50%;
            cursor: pointer;

            @include tablet {
              width: rem(40);
              height: rem(40);
              padding: rem(12);
              border: rem(1.4) solid #000;
            }

            @include desktop {
              width: rem(48);
              height: rem(48);
              border: rem(2) solid #000;
            }

            &[aria-pressed="true"] {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(16);
                height: rem(16);
                background: url("../../assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-stop-icon.svg") no-repeat center;
                background-size: contain;

                @include desktop {
                  width: rem(24);
                  height: rem(24);
                }
              }
            }

            &[aria-pressed="false"] {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(16);
                height: rem(16);
                background: url("../../assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-play-icon.svg") no-repeat center;
                background-size: contain;

                @include desktop {
                  width: rem(24);
                  height: rem(24);
                }
              }
            }
          }

          .progress-container {
            position: relative;
            flex: 1 1 auto;

            .progress-bar {
              position: relative;
              min-width: rem(168);
              height: rem(4);
              border-radius: rem(100);
              background: #cbcbc2;
              cursor: pointer;

              @include tablet {
                min-width: rem(280);
              }

              @include desktop {
                min-width: rem(426);
              }

              .progress-fill {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: #ea1917;
                border-top-left-radius: rem(100);
                border-bottom-left-radius: rem(100);
              }

              .progress-circle {
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 1;
                transform: translateY(-50%);
                width: rem(16);
                height: rem(16);
                border-radius: 50%;
                background: #ea1917;

                @include tablet {
                  width: rem(12);
                  height: rem(12);
                }

                @include desktop {
                  width: rem(16);
                  height: rem(16);
                }
              }
            }
          }

          .volume-btn {
            position: relative;
            min-width: rem(32);
            min-height: rem(32);

            cursor: pointer;

            @include tablet {
              width: rem(40);
              height: rem(40);
            }

            @include desktop {
              width: rem(48);
              height: rem(48);
            }

            &[aria-pressed="true"] {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(30);
                height: rem(30);
                background: url("../../assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-mute-icon.svg") no-repeat center;
                background-size: contain;

                @include tablet {
                  width: rem(34);
                  height: rem(34);
                }

                @include desktop {
                  width: rem(48);
                  height: rem(48);
                }
              }
            }

            &[aria-pressed="false"] {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(20);
                height: rem(20);
                background: url("../../assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-sound-unmute-icon.svg") no-repeat center;
                background-size: contain;

                @include tablet {
                  width: rem(22.76);
                  height: rem(22.76);
                }

                @include desktop {
                  width: rem(32);
                  height: rem(32);
                }
              }
            }
          }
        }

        &-title {
          position: relative;
          overflow: hidden;
          width: 100%;
          padding-bottom: rem(4);
          @include font(20, 120%, 550);

          @include tablet {
            @include font(28, 114%, 550);
          }

          @include desktop {
            padding-bottom: rem(8);
            @include font(36, 116%, 550);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: rem(-1);
            width: rem(97);
            height: 100%;
            background: linear-gradient(90deg, rgba(240, 236, 228, 0) 0%, #f0ece4 100%);
          }

          &-wrapper {
            display: flex;
            white-space: nowrap;
          }

          .repeat-text {
            flex-shrink: 0;
          }

          .repeat-gap {
            display: inline-block;
            width: calc(100% - rem(80));
            height: 1px;
            flex-shrink: 0;

            @include tablet {
              width: calc(100% - rem(200));
            }

            @include desktop {
              width: calc(100% - rem(300));
            }
          }
        }

        p {
          color: #333333;
          @include font(16, 125%, 400);

          @include tablet {
            @include font(20, 120%, 400);
          }

          @include desktop {
            @include font(24, 116%, 400);
          }
        }
      }
    }

    .swiper-pagination {
      width: auto;
      height: rem(16);
      position: static;
      margin-top: rem(20);

      @include tablet {
        height: rem(12);
        margin-top: rem(32);
      }

      @include desktop {
        height: rem(12);
        margin-top: rem(48);
      }

      .swiper-pagination-bullet {
        width: rem(8);
        height: rem(8);
        background-color: #b8b4ab;
        opacity: 1;
        transition: all 0.3s;

        @include tablet {
          width: rem(12);
          height: rem(12);
          margin: 0 rem(6);
        }

        @include desktop {
          width: rem(12);
          height: rem(12);
          margin: 0 rem(6);
        }

        &.swiper-pagination-bullet-active {
          width: rem(20);
          background-color: #000;
          border-radius: rem(12);

          @include tablet {
            width: rem(32);
          }
        }
      }
    }
  }
}
