<script src="./assets/js/influence.js" defer></script>

<!-- S : influence -->
<section class="influence-container">
  <h2 class="influence-title heading">
    Listen more stories. Feel more optimism
  </h2>
  <div class="influence-slide swiper">
    <div class="swiper-wrapper">
      <!-- S : slide item 01-->
      <div class="swiper-slide">
        <div class="influence-video-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-01.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
            <p>이 동영상은 새로운 제품의 기능을 설명하는 영상입니다.</p>
          </video>
          <button class="influence-video-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong>Optimism life with LG</strong>
            <span>@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 01-->
      <!-- S : slide item 02-->
      <div class="swiper-slide">
        <div class="influence-video-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-02.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-video-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong>Optimism life with LG</strong>
            <span>@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 02-->
      <!-- S : slide item 03-->
      <div class="swiper-slide">
        <div class="influence-video-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-03.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-video-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong>Optimism life with LG</strong>
            <span>@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 03-->
      <!-- S : slide item 04-->
      <div class="swiper-slide">
        <div class="influence-video-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-04.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-video-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong>Optimism life with LG</strong>
            <span>@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 04-->
      <!-- S : slide item 05-->
      <div class="swiper-slide">
        <div class="influence-video-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-05.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-video-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong>Optimism life with LG</strong>
            <span>@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 05-->
    </div>
    <div class="influence-slide-controller">
      <button type="button" class="influence-slide-controller-btn swiper-button-prev"></button>
      <div class="swiper-pagination"></div>
      <button type="button" class="influence-slide-controller-btn swiper-button-next"></button>
    </div>
  </div>
</section>
<!-- E : influence -->