<script src="./assets/js/influence.js" defer></script>

<!-- S : influence -->
<section class="influence-container">
  <h2 class="influence-title heading" data-tp="copy">
    Listen more stories. Feel more optimism.
  </h2>
  <div class="influence-slide swiper">
    <div class="swiper-wrapper">
      <!-- S : slide item 01-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-01" muted playsinline preload="metadata" poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-01.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-01.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-01" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-01" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Shop.with.caroline</strong>
            <span data-tp="copy">@Shop.with.caroline</span>
          </h3>
          <a href="https://www.instagram.com/reel/DMJixNYvFMb/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA%3D%3D" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 01-->
      <!-- S : slide item 02-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-02" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-02.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-02.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-02" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-02" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Jasmine Luv-Barrett</strong>
            <span data-tp="copy">@luv_jjp</span>
          </h3>
          <a href="https://www.instagram.com/reel/DL-g3BtvA61/?igsh=dmk0cnR2MTY5dW10" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 02-->
      <!-- S : slide item 03-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-03" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-03.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-03" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-03" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Sara Karrit</strong>
            <span data-tp="copy">@afrobysara</span>
          </h3>
          <a href="https://www.tiktok.com/@afrobysara/video/7525846897664298247?is_from_webapp=1&web_id=7458183843036661279" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 03-->
      <!-- S : slide item 04-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-04" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-04.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-04.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-04" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-04" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Ben and Zara</strong>
            <span data-tp="copy">@ben.and.zara</span>
          </h3>
          <a href="https://www.instagram.com/reel/DL6_AlduXO1/?igsh=MWo2N2Y0eWdhZXNlMQ%3D%3D" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 04-->
      <!-- S : slide item 05-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-05" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-05.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-05.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-05" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-05" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Shivam Sharma</strong>
            <span data-tp="copy">@shivoryx</span>
          </h3>
          <a href="https://www.instagram.com/reel/DL1r0N6Sdo-/?igsh=M3RnMWg1OWV1d2U5" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 05-->
      <!-- S : slide item 06-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-06" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-06.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-06.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-06" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-06" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Areezs Gandhi</strong>
            <span data-tp="copy">@iplixmedia</span>
          </h3>
          <a href="https://www.instagram.com/reel/DL97FNby-8i/?igsh=MTYxMjV5dndocmZucA%3D%3D" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 06-->
      <!-- S : slide item 07-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video id="influence-video-07" muted playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-07.jpg" aria-label="Optimism life with LG campaign video">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-07.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-play-btn" aria-label="pause video" aria-controls="influence-video-07" aria-pressed="true">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
          <button class="influence-content-bx-sound-btn" aria-label="sound on" aria-controls="influence-video-07" aria-pressed="false">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-unmute-icon.svg" alt="sound on">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Tarini Shah</strong>
            <span data-tp="copy">@bigbangsocl</span>
          </h3>
          <a href="https://www.instagram.com/reel/DL-B8gftJlM/?igsh=d2gwYXZheDZzZDVu" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 07-->
    </div>
    <!-- S : swiper-navigation-->
    <div class="influence-slide-navigation swiper-navigation">
      <button class="swiper-button-prev">
        <p class="sr-only">Previous</p>
      </button>
      <button class="swiper-button-next">
        <p class="sr-only">Next</p>
      </button>
    </div>
    <!-- E : swiper-navigation-->
    <!-- S : swiper-pagination-->
    <div class="influence-slide-pagination swiper-pagination"></div>
    <!-- E : swiper-pagination-->
  </div>
</section>
<!-- E : influence -->