<script src="./assets/js/influence.js" defer></script>

<!-- S : influence -->
<section class="influence-container">
  <h2 class="influence-title heading" data-tp="copy">
    Listen more stories. Feel more optimism
  </h2>
  <div class="influence-slide swiper">
    <div class="swiper-wrapper">
      <!-- S : slide item 01-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <img class="influence-content-bx-thumbnail" src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-01.jpg" alt="Optimism life with LG" data-tp="alt">
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Optimism life with LG</strong>
            <span data-tp="copy">@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 01-->
      <!-- S : slide item 02-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-02.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Optimism life with LG</strong>
            <span data-tp="copy">@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 02-->
      <!-- S : slide item 03-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-03.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Optimism life with LG</strong>
            <span data-tp="copy">@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 03-->
      <!-- S : slide item 04-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-04.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Optimism life with LG</strong>
            <span data-tp="copy">@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 04-->
      <!-- S : slide item 05-->
      <div class="swiper-slide">
        <div class="influence-content-bx">
          <video muted loop playsinline poster="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-thumb-05.jpg">
            <source src="./assets/videos/lifes-good-campaign-2025-radio-optimism-lgcom-videos-influence-03.mp4" type="video/mp4">
          </video>
          <button class="influence-content-bx-btn" aria-label="pause video">
            <img src="./assets/images/lifes-good-campaign-2025-radio-optimism-lgcom-images-influence-slide-pause.svg" alt="pause video">
          </button>
        </div>
        <div class="influence-txt-bx">
          <h3 class="influence-txt-bx-title">
            <strong data-tp="copy">Optimism life with LG</strong>
            <span data-tp="copy">@lg_global</span>
          </h3>
          <a href="javascript:void(0)" class="influence-txt-bx-btn" data-tp="link copy">Learn more</a>
        </div>
      </div>
      <!-- E : slide item 05-->
    </div>
    <!-- S : swiper-navigation-->
    <div class="influence-slide-navigation swiper-navigation">
      <button class="swiper-button-prev">
        <p class="sr-only">Previous</p>
      </button>
      <button class="swiper-button-next">
        <p class="sr-only">Next</p>
      </button>
    </div>
    <!-- E : swiper-navigation-->
    <!-- S : swiper-pagination-->
    <div class="influence-slide-pagination swiper-pagination"></div>
    <!-- E : swiper-pagination-->
  </div>
</section>
<!-- E : influence -->