@use '../../assets/scss/mixin' as *;
@use '../../assets/scss/variable' as *;

.influence {
  &-container {
    padding: rem(64) 0;
    overflow: hidden;
    @include tablet {
      padding: rem(80) 0;
    }
    @include desktop {
      padding: rem(120) 0;
    }
  }
  &-title {
    font-family: LGEI Text;
    font-weight: 600;
    font-size: rem(28);
    text-align: center;
    margin-bottom: rem(70);
    text-wrap: balance;
    @include tablet {
      font-size: rem(44);
      margin-bottom: rem(87.84);
    }
    @include desktop {
      font-size: rem(56);
      margin-bottom: rem(136);
    }
  }
  &-content-bx {
    width: 100%;
    height: 100%;
    border-radius: rem(28);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: bottom 0.5s;
    video,
    &-thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 9/16;
    }
    &-play-btn {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 2;
      cursor: pointer;
      transition: all 0.3s;
    }
    &-sound-btn {
      width: rem(32);
      height: rem(32);
      position: absolute;
      bottom: rem(20);
      right: rem(20);
      background: rgba(217, 211, 200, 0.75);
      backdrop-filter: blur(10px);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), rgba(217, 211, 200, 0.75);
      }
      img {
        width: rem(20);
      }
    }
  }
  &-txt-bx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &-title {
      flex: 1;
      min-width: 0;
      strong {
        font-weight: 600;
        font-size: rem(20);
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include desktop {
          font-size: rem(24);
        }
      }
      span {
        display: block;
        margin-top: rem(4);
      }
    }
    &-btn {
      flex-shrink: 0;
      @include btn($white);
      &:hover {
        border: 1px solid #ea1917;
      }
    }
  }
  &-slide {
    overflow: visible;
    .swiper-slide {
      width: calc(100% / 3 - rem(48));
      opacity: 0.4;
      .influence-content-bx-play-btn,
      .influence-content-bx-sound-btn {
        opacity: 0;
        visibility: hidden;
      }
      &-active {
        opacity: 1;
        .influence-content-bx {
          cursor: default;
          &-play-btn {
            opacity: 1;
            visibility: visible;
            @include desktop {
              opacity: 0;
              visibility: hidden;
              &.is-pause {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          &-sound-btn {
            opacity: 1;
            visibility: visible;
          }
        }
        .influence-txt-bx {
          opacity: 1;
          visibility: visible;
          transition-delay: 0.35s;
        }
        &:hover {
          .influence-content-bx {
            &-play-btn {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  &-slide-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);
    margin: rem(56) auto 0;
    background-color: #E6E1D6;
    width: fit-content;
    padding: rem(4);
    border-radius: rem(32);
    &-btn {
      width: rem(36);
      height: rem(36);
      margin-top: 0;
      position: static;
      &::after {
        width: rem(18);
        height: rem(18);
        background-image: url('../../assets/images/influence-slide-prev.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.swiper-button-next {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
  &-slide-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(16);
    width: calc(100% - rem(32));
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    pointer-events: none;

    @include tablet {
      width: calc(100% - rem(48));
      max-width: calc(rem(1200) - rem(48));
    }

    button {
      width: rem(32);
      height: rem(32);
      border-radius: 50%;
      background: rgba(217, 211, 200, 0.75);
      backdrop-filter: blur(20px);
      margin-top: 0;
      position: static;
      bottom: rem(24);
      right: rem(24);
      cursor: pointer;
      transition: all 0.3s linear;
      pointer-events: auto;

      @include tablet {
        width: rem(48);
        height: rem(48);
      }

      &::after {
        content: "";
        display: block;
        font-size: 0;
        width: rem(16);
        height: rem(16);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        @include tablet {
          width: rem(24);
          height: rem(24);
        }
      }

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), rgba(217, 211, 200, 0.75);
      }

      &.swiper-button-prev {
        &::after {
          background-image: url("../images/lifes-good-campaign-2025-radio-optimism-lgcom-images-how-to-next-icon.svg");
          transform: translate(-50%, -50%) rotate(180deg);

          [dir="rtl"] & {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }

      &.swiper-button-next {
        &::after {
          background-image: url("../images/lifes-good-campaign-2025-radio-optimism-lgcom-images-how-to-next-icon.svg");
        
          [dir="rtl"] & {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }
    }

    @include desktop {
      width: rem(calc(1200 - 48));
    }
  }
  &-slide-pagination {
    width: auto;
    position: static;
    margin-top: rem(40);

    @include tablet {
      height: rem(12);
      margin-top: rem(32);
    }

    @include desktop {
      height: rem(12);
      margin-top: rem(48);
    }

    .swiper-pagination-bullet {
      width: rem(8);
      margin: 0 rem(5);
      background: #b8b4ab;
      opacity: 1;
      overflow: hidden;
      transition: all 0.3s linear;

      @include tablet {
        width: rem(12);
        height: rem(12);
        margin: 0 rem(6);
      }

      @include desktop {
        width: rem(12);
        height: rem(12);
        margin: 0 rem(6);
      }

      &.swiper-pagination-bullet-active {
        width: rem(20);
        border-radius: rem(12);
        background: #000000;

        @include tablet {
          width: rem(32);
        }

        @include desktop {
          width: rem(32);
        }
      }
    }
  }
}