<div data-layer-id="home-purotec">
  <div class="layer-content-section">
    <h3 class="heading">Antimicrobial Glass Powder​</h3>
    
    <p class="layer-content-subtitle">A premium antimicrobial solution elevating product value</p>
    
    <div class="layer-content-image-full">
      <img src="./assets/images/products/product_03.png" alt="Antimicrobial Glass Powder">
    </div>
    
    <div class="layer-content-value-blocks">
      <div class="layer-content-value-item">
        <div class="layer-content-value-label heading">Value 1</div>
        <h4>Enhancing product hygiene, ensuring a long-lasting clean and sanitary state.</h4>
        <p>By inhibiting the growth of microorganisms that can cause odors and stains, the product remains cleaner and more hygienic for an extended period. This makes it an ideal solution for applications where appearance and hygiene are crucial, such as in home appliances, clothing, building materials, and everyday household items.</p>
      </div>
      
      <div class="layer-content-value-item">
        <div class="layer-content-value-label heading">Value 2</div>
        <h4>Extending product lifespan.</h4>
        <p>By enhancing product durability and maintaining quality, the replacement cycle is lengthened, leading to decreased unnecessary consumption and waste.</p>
      </div>
      
      <div class="layer-content-value-item">
        <div class="layer-content-value-label heading">Value 3</div>
        <h4>Reduced risk of microbial cross-contamination.</h4>
        <p>By applying antimicrobial properties to product surfaces, the likelihood of microbial cross-contamination through hands or tools can be minimized. This can aid in preventing cross-contamination in public facilities, hospitals, kitchens, bathrooms, and other areas where hygiene is crucial.</p>
      </div>
    </div>
  </div>
</div>
