@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.led-media-art {
  background-color: $red;
  .video-bx {
    width: 100%;
    height: 100vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}