<!-- S : led-media-art -->
<section class="section led-media-art">
  <div class="video-bx">
    <video playsinline muted loop autoplay data-keepplaying preload="auto" aria-label="bg line video" poster="/theme/rbFront/img/w/ise/ise2026/led-media-art-poster.jpg">
      <source src="/theme/rbFront/img/w/ise/ise2026/overview-video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="inner">
    <div class="txt-bx">
      <div class="bx-1">
        <h2 class="title">
          Redefining <br>Visuals <br>with LED
        </h2>
        <p class="text">
          The iconic commercial media tower features a three-sided LED screen and 52.5-meter transparent mesh display, designed to elevate K-Culture branding and retail application.
        </p>
      </div>
      <div class="bx-2">
        <h3 class="title">Tradition in motion</h3>
        <p class="text">This attractor represents K-Culture's tradition and modernity with "jagae-jang,” furniture inlaid with mother-of-pearl, as the highlight. It was used for storing cherished belongings or presented as meaningful gifts, with delicately embedded shell pieces glimmering in iridescence amidst a lacquered surface</p>
      </div>
    </div>
  </div>
</section>
<!-- E : led-media-art -->