<!-- S : led-media-art -->
<section class="section led-media-art">
  <div class="video-bx">
    <video playsinline muted loop autoplay data-keepplaying preload="auto" aria-label="bg line video">
      <source src="/theme/rbFront/img/w/ise/ise2026/led-media-art.mp4" type="video/mp4">
    </video>
  </div>
  <div class="inner">
    <div class="txt-bx">
      <div class="bx-1">
        <h2 class="title">
          See LED media art <br class="mo-only">come alive
        </h2>
        <p class="text">
          Live, integrated media art unfolds through <br>the harmony of LG’s Indoor LED and dynamic <br>T-MESH displays, creating a unified, immersive <br>visual experience that transforms the booth <br>into a moving canvas.
        </p>
      </div>
      <div class="bx-2">
        <h3 class="title">Landscape mother-of-pearl inlay box</h3>
        <p class="text">Reinterpreted as the ISE 2026 Media Tower, <br>this installation bridges tradition and <br>modern design, expressing the enduring <br>cultural essence of craftsmanship through <br>a contemporary visual language.</p>
      </div>
    </div>
  </div>
</section>
<!-- E : led-media-art -->