@import "_mixin";
* {
  font-family: LGEI Text;
}
.campaign-2025 {
  button {
    cursor: pointer;
    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
  /*2025 게이트 페이지*/
  &.gate {
    max-width: 1920px;
    margin: 0 auto;
    .section {
      &:not(.hero-visual) {
        position: relative;
        z-index: 2;
      }
      //메인 영상 영역
      &.hero-visual {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 50%;
        max-width: 1920px;
        transform: translateX(-50%);
        .inner {
          width: 100%;
          height: 100%;
          .video-bx {
            width: 100%;
            height: 100%;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .txt-bx {
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            .title {
              font-family: "LGEI Headline";
              font-weight: 600;
              font-size: rem(80);
              color: $white;
            }
            .btn {
              margin: rem(40) auto 0;
            }
          }
          .play-btn {
            width: rem(32);
            height: rem(32);
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            bottom: rem(65);
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../images/icon/icon_pause.svg);
            cursor: pointer;
            &.active {
              background-image: url(../images/icon/icon_play.svg);
            }
          }
        }
      }
      //overview
      &.overview {
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        .inner {
          padding: rem(408) 0;
        }
        .txt-bx {
          width: min(calc(100% - rem(40)), 1280px);
          margin: 0 auto;
          .title {
            font-family: "LGEI Headline";
            font-weight: 600;
            font-size: rem(56);
            margin-bottom: rem(8);
            @include desktop {
              br {
                display: none;
              }
            }
          }
          p {
            font-size: rem(24);
            line-height: 1.167;
            & + p {
              margin-top: rem(28);
            }
          }
        }
      }
      //intelligence
      &.intelligence {
        width: 100%;
        min-height: 100vh;
        background-color: #f0ece4;
        .gif {
          max-width: rem(72);
          transform: translate(-50%, rem(-300));
          left: 50%;
          top: rem(390);
          position: sticky;
          opacity: 0;
        }
        .title-wrap {
          display: flex;
          align-items: center;
          gap: clamp(rem(100), 12%, rem(220));
          padding: rem(80) 0;
          .title {
            font-family: "LGEI Headline";
            font-weight: 600;
            font-size: rem(48);
            text-align: right;
            width: 50.5%;
            span {
              background: linear-gradient(
                90deg,
                rgba(253, 49, 46, 1) 2%,
                rgba(249, 20, 235, 1) 54%,
                rgba(130, 39, 255, 1) 97%,
                rgba(180, 50, 245, 1) 8799%
              );
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
            }
          }
          .des {
            font-size: rem(24);
            line-height: 1.166;
            width: 49.5%;
          }
        }
        ul {
          li {
            display: flex;
            transition: background-color 0.3s;
            .content-bx {
              width: 44.65%;
              height: rem(560);
              position: relative;
              overflow: hidden;
              video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s;
              }
            }
            .des-bx {
              width: 55.35%;
              padding: rem(79) 0 rem(79) clamp(rem(100), 12%, rem(220));
              padding-bottom: rem(79);
              border-top: 1px solid #cbc8c2;
              dt {
                font-family: "LGEI Headline";
                font-weight: 600;
                font-size: rem(56);
                margin-bottom: rem(16);
                max-width: 610px;
              }
              dd {
                font-size: rem(24);
                line-height: 1.167;
                color: #333333;
                max-width: 610px;
                a {
                  margin-top: rem(16);
                }
              }
            }
            @include desktop {
              &:hover {
                background-color: #f6f4f0;
                .content-bx {
                  video {
                    transform: scale(1.05);
                  }
                }
              }
            }
          }
        }
      }
    }
    .section-wrap {
      background-color: $white;
      position: relative;
      margin-top: 100vh;
      .logo-wrap {
        &.png-bx {
          position: relative;
          .symbol {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            &.hide {
              opacity: 0 !important;
            }
          }
        }
      }
    }
    .layer-pop {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      .video-bx {
        width: min(calc(100% - rem(40)), 1280px);
        .close-btn {
          display: block;
          width: rem(56);
          height: rem(56);
          position: relative;
          margin-left: auto;
          margin-bottom: rem(10);
          &:focus-visible {
            outline: -webkit-focus-ring-color auto 1px;
          }
          &::after,
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
          }
          &::after {
            transform: rotate(-45deg);
          }
          &::before {
            transform: rotate(45deg);
          }
        }
        .iframe-bx {
          position: relative;
          padding-bottom: 56.25%;
          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .btn {
    @include btn($red);
  }
  .white-btn {
    @include btn($white);
  }
}

@media screen and (max-width: 1025px) {
  .campaign-2025 {
    /*2025 게이트 페이지*/
    &.gate {
      .section {
        //메인 영상 영역
        &.hero-visual {
          .inner {
            .txt-bx {
              padding: 0 rem(25);
              transform: translate(0, 0);
              top: rem(40);
              left: 0;
              .title {
                font-size: rem(36);
              }
              .btn {
                margin-top: rem(12);
              }
            }
            .play-btn {
              bottom: rem(24);
            }
          }
        }
        //overview
        &.overview {
          .inner {
            padding: rem($mo_padding) rem(25) rem(156);
          }
          .txt-bx {
            width: 100%;
            .title {
              font-size: rem(28);
              line-height: 1.1428;
            }
            p {
              font-size: rem(16);
            }
          }
        }
        //intelligence
        &.intelligence {
          padding-bottom: rem($mo_padding);
          .gif {
            display: block;
            transform: translate(-50%, 0);
            top: rem(-136);
            position: absolute;
            opacity: 1;
          }
          .title-wrap {
            display: block;
            padding: rem($mo_padding) rem(16);
            .title {
              width: fit-content;
              text-align: left;
              margin-bottom: rem(8);
              span {
                display: block;
                width: rem(190);
                font-size: rem(28);
                line-height: 1.2;
              }
            }
            .des {
              font-size: rem(16);
              word-break: keep-all;
              width: 100%;
              span {
                display: inline-block;
              }
            }
          }
          ul {
            li {
              display: block;
              padding: 0 rem(16);
              .content-bx {
                width: 100%;
                min-height: unset;
                overflow: hidden;
                video {
                  position: static;
                  aspect-ratio: 328 /438;
                  border-radius: rem(20);
                  overflow: hidden;
                }
              }
              .des-bx {
                width: 100%;
                padding: rem(12) 0 0;
                border: 0;
                dt {
                  font-size: rem(28);
                  line-height: 1.1428;
                  margin-bottom: rem(8);
                  max-width: unset;
                }
                dd {
                  font-size: rem(16);
                  max-width: unset;
                  a {
                    margin-top: rem(12);
                  }
                }
              }
              & + li {
                margin-top: rem(64);
              }
            }
          }
        }
      }
      .section-wrap {
        .logo-wrap {
          &.png-bx {
            display: none;
          }
        }
      }
    }
  }
}
