@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

// 레이어 팝업이 열렸을 때 body 스크롤 방지
body.layer-open {
  overflow: hidden !important;
  
  // 모바일에서 추가 처리 (iOS 스크롤 완전 방지)
  @media (max-width: 1280px) {
    position: fixed;
    width: 100%;
  }
}

.layer-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $black;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-sizing: border-box;
  transition: opacity 0.3s;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-headline;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .layer-pop-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    margin: 0 auto;
    padding: 0 rem(30);
    @include tablet {
      width: min(100%, rem(800));
    }
    @include desktop {
      width: min(100%, rem(1260));
    }
    .layer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-shrink: 0;
      @include tablet {
        top: rem(50);
        right: rem(50);
        position: absolute;
      }
      @include desktop {
        width: auto;
        top: rem(64);
        right: rem(80);
      }
      .logo {
        width: rem(28);      
        @include tablet {
          opacity: 0;
          visibility: visible;
        }
      }
      .close-btn {
        width: rem(20);
        height: rem(20);
        background: url('/theme/rbFront/img/w/ise/ise2026/ic_close.svg') no-repeat center center / contain;
        border: none;
        cursor: pointer;
      }
    }
    
    .layer-tab {
      width: 100%;
      flex-shrink: 0;
      padding: rem(17.5) 0;
      margin-bottom: rem(20);
      position: relative;
      @include tablet {
        padding: rem(7.5) 0;
        margin-bottom: rem(10);
      }
      @include desktop {
        padding: rem(17.5) 0;
        margin-bottom: rem(20);
      }
      .layer-nav-tabs {
        display: flex;
        justify-content: space-between;
        .layer-tab-item {
          padding: 0 rem(18);
          position: relative;
          @include tablet {
            padding: 0 rem(10.8);
          }
          @include desktop {
            padding: 0 rem(18);
          }
          &:not(:last-child) {
            &::after {
              content: "";
              width: rem(1);
              height: rem(18);
              background-color: #303030;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
          .layer-tab-btn {
            @include font(18,1,550,$white);
            padding: rem(4.5) 0;
            border-bottom: rem(2) solid transparent;
            white-space: nowrap;
            transition: all 0.3s;
            @include tablet {
              font-size: rem(11);
            }
            @include desktop {
              font-size: rem(18);
            }
          }
          &.active {
            .layer-tab-btn {
              color: $primary;
              border-color: $primary;
            }
          }
          
        }
      }
      .photo-btn {
        display: inline-flex;
        align-items: center;
        @include font(24,1.16,400,$white);
        border: rem(1) solid #5C5C5C;
        cursor: pointer;
        position: absolute;
        z-index: 1002;
        transition: all 0.3s;
        &::before {
          content: "";
          display: inline-block;
          width: rem(26);
          height: rem(22);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_photo.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        @include tablet {
          gap: rem(6);
          font-size: rem(14);
          top: rem(74);
          right: rem(24);
          padding: rem(7.75) rem(18.75);
          border-radius: rem(10);
          &::before {
            width: rem(16);
            height: rem(13);
          }
        }
        @include desktop {
          gap: rem(10);
          font-size: rem(24);
          top: rem(120);
          right: rem(36);
          padding: rem(12.5) rem(28.5);
          border-radius: rem(20);
          &::before  {
            width: rem(26);
            height: rem(22);
          }
        }
        &.is-hidden {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    
    .layer-content {
      width: 100%;
      flex: 1;
      max-height: rem(610);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: background-image 0.5s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      opacity: 1;
      position: relative;
      @include tablet {
        max-height: rem(376);
      }
      @include desktop {
        max-height: rem(610);
      }
      .layer-content-inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        @include tablet {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
      
      .layer-content-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: rem(20);
      }
      
      // tablist가 있을 때의 스타일
      &.has-tablist {
        .layer-content-inner {
          @include tablet {
            padding: 0 rem(34) rem(34);
          }
          @include desktop {
            padding: 0 rem(62) rem(55);
          }
        }
        .layer-content-text {
          gap: rem(16);
        }
        
        .layer-product-list {
          width: min(100%, rem(930));
          padding: rem(16) rem(28) rem(28);
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #343434;
          border-bottom-left-radius: rem(30);
          @include tablet {
            width: min(100%, rem(573));
            padding: rem(16) rem(28) rem(28);
          }
          @include desktop {
            width: min(100%, rem(930));
            padding: rem(16) rem(28) rem(28);
          }
        }
      }
      
      // tablist가 없을 때의 스타일
      &.no-tablist {
        .layer-content-inner {
          @include tablet {
            width: min(100%, rem(590));
            padding: 0 rem(17) rem(18);
          }
          @include desktop {
            width: min(100%, rem(960));
            padding: 0 rem(47) rem(30);
          }
        }
        .layer-content-title-wrap {
          @include tablet {
            padding-left: rem(15);
          }
        }
        .layer-content-text {
          gap: rem(24);
        }
        
        .layer-product-list {          
          .product-link {
            padding: rem(16) rem(20);
          }
        }
      }
      
      // 내부 서브탭이 활성화되었을 때 home-btn 표시
      &.has-active-subtab {
        .layer-content-title .home-btn {
          display: inline-block;
        }
      }
      .layer-content-title-wrap {
        .booth-location {
          max-width: rem(82);
          @include tablet {
            display: none;
          }
        }
      }
      .layer-content-title {
        display: inline-flex;
        align-items: flex-end;
        @include font(46,1,550,$white);
        margin-bottom: rem(35);
        transition: transform 0.3s ease-in-out;
        @include tablet {
          font-size: rem(28);
          margin-bottom: rem(19);
        }
        @include desktop {
          font-size: rem(46);
          margin-bottom: rem(35);
        }
        .home-btn {
          display: none; // 기본적으로 숨김.
          @include font(14,1,550,$white);
          border: rem(1) solid $white;
          border-radius: rem(50);
          padding: rem(9) rem(14);
          margin-left: rem(15);
          cursor: pointer;
          transition: all 0.3s ease;
          @include tablet {
            font-size: rem(9);
            padding: rem(4.5) rem(12);
            margin-left: rem(10);
          }
          @include desktop {
            font-size: rem(14);
            padding: rem(9) rem(14);
            margin-left: rem(15);
          }
          &:hover {
            background: rgba(255, 255, 255, 0.3);
          }
        }
        &.active {
          transform: translateY(rem(-57));
        }
      }
      
      .layer-content-desc {
        font-size: rem(14);
        color: $white;
        line-height: 1.6;
        opacity: 0.9;
      }
      
      // Tablist 스타일
      .layer-sub-tabs {
        display: flex;
        gap: rem(8);
        list-style: none;
        flex-wrap: wrap;
        @include tablet {
          gap: rem(5);
        }
        @include desktop {
          gap: rem(8);
        }
        .layer-tab-btn {
          border: 1px solid $white;
          background-color: transparent;
          @include font(14,1,550,$white);
          cursor: pointer;
          border-radius: rem(30);
          transition: all 0.3s ease;
          @include tablet {
            font-size: rem(9);
            padding: rem(4.5) rem(12);
          }
          @include desktop {
            font-size: rem(14);
            padding: rem(9) rem(15);
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
          
          &.active {
            border-color: $white;
            background-color: $white;
            color: $black;
          }
        }
        
        .tab-detail {
          display: none;
          @include tablet {
            position: absolute;
            top: 0;
            right: 0;
            max-width: rem(166);
            height: rem(236);
            padding: rem(20) rem(18);
          }
          @include desktop {
            max-width: rem(269);
            height: rem(383);
            padding: rem(33);
          }
          &.active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(10);
          }
          
          .tab-detail-subtitle {
            display: inline-block;
            @include font(22,1.09,400);
            margin-bottom: rem(12);
            @include tablet {
              font-size: rem(14);
            }
            @include desktop {
              font-size: rem(22);
            }
          }
          
          .tab-detail-title {
            @include font(32,1,550);
            @include tablet {
              font-size: rem(20);
              letter-spacing: 0.01em;
            }
            @include desktop {
              font-size: rem(32);
            }
          }
          
          .tab-detail-desc {
            @include font(12,1.3,400);
            line-height: 1.6;
            margin-top: rem(8);
            @include tablet {
              font-size: rem(7);
            }
            @include desktop {
              font-size: rem(12);
            }
          }
        }
      }
      
      // Product List 스타일
      .layer-product-list {
        margin-top: rem(20);
        
        // 슬라이드 애니메이션
        transform: translateY(0);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        .close-product-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: rem(6);
          padding: 0 rem(15);
          @include font(14,1,550,$white);
          
          background-color: #343434;
          position: absolute;
          border-radius: rem(10) rem(10) 0 0;
          top: 0;
          right: rem(45);
          transform: translateY(rem(-27));
          @include tablet {
            height: rem(18);
            font-size: rem(10);
            padding: 0 rem(11);
            border-radius: rem(6.8) rem(6.8) 0 0;
            right: rem(45);
            transform: translateY(rem(-18));
          }
          @include desktop {
            height: rem(27);
            font-size: rem(14);
            padding: 0 rem(15);
            border-radius: rem(10) rem(10) 0 0;
            right: rem(45);
            transform: translateY(rem(-27));
          }
          &::after {
            content: "";
            display: inline-block;
            align-self: flex-end;
            width: rem(10);
            height: rem(7);
            background: url('/theme/rbFront/img/w/ise/ise2026/ic_arrow_down.svg') no-repeat center center / contain;
            margin-bottom: rem(8);
            @include tablet {
              width: rem(6);
              height: rem(3);
              margin-bottom: rem(7);
            }
            @include desktop {
              width: rem(10);
              height: rem(7);
              margin-bottom: rem(8);
            }
          }
        }
        // tablist가 있을 때
        &.has-tabs {
          // PC에서는 초기 숨김, 탭 클릭 시 JS로 표시 제어
          @media (min-width: 768px) {
            // JS에서 display 제어
          }
          
          // 모바일에서는 모두 표시 (아코디언)
          @media (max-width: 767px) {
            display: block !important;
            margin-bottom: rem(20);
          }
        }
        
        // tablist가 없을 때
        &.no-tabs {
          // 항상 표시
          display: block;
          margin-top: 0;
        }
        
        // 닫힘 상태
        &.closed {
          transform: translateY(calc(100% + rem(27)));
          pointer-events: none;
        }
        
        .product-list-title {
          font-size: rem(16);
          font-weight: 600;
          color: $white;
          margin-bottom: rem(16);
          @include tablet {
            font-size: rem(9);
            margin-bottom: rem(11);
            padding-left: rem(17);
          }
          @include desktop {
            font-size: rem(16);
            margin-bottom: rem(16);
            padding-left: rem(33);
          }
        }
        
        .product-slider {
          position: relative;
          padding: 0 rem(23);
          @include tablet {
            padding: 0 rem(15);
          }
          @include desktop {
            padding: 0 rem(23);
          }
          .swiper-wrapper {
            display: flex;
            
            @media (max-width: 767px) {
              display: block;
            }
          }
          
          .product-item {
            display: flex;
            align-items: center;
            gap:rem(13);
            cursor: pointer;    
            min-height: rem(80);
            background-color: $white;
            @include tablet {
              gap:rem(4);
              min-height: rem(50);
              padding: rem(4) rem(10);
              border-radius: rem(10);
            }
            @include desktop {
              gap:rem(13);
              min-height: rem(80);
              padding: rem(4) rem(16);
              border-radius: rem(15);
            }
            &::after {
              content: "";
              display: inline-block;
              flex-shrink: 0;
              width: rem(12);
              height: rem(12);
              background: url('/theme/rbFront/img/w/ise/ise2026/ic_outlink.svg') no-repeat center center / cover;
              @include tablet {
                width: rem(8);
                height: rem(8);
              }
              @include desktop {
                width: rem(12);
                height: rem(12);
              }
            }
            &.type01 {
              background-color: #B1DBFF;
            }
            &.type02 {
              background-color: #C7BDFB;
            }
            &.type03 {
              background-color: #CAA8FF;
            }
            &.type04 {
              background-color: #A8EBDC;
            }
            &.type05 {
              background-color: #B7BBFD;
            }
            &.type06 {
              background-color: #B1DBFF;
            }
            &.type07 {
              background-color: #D6B5FF;
            }

            .product-img-wrapper {
              position: relative;
              .product-img {
                display: block;
                width: rem(70);
                height: rem(48);
                flex-shrink: 0;
                object-fit: cover;
                @include tablet {
                  width: rem(44);
                  height: rem(30);
                }
                @include desktop {
                  width: rem(70);
                  height: rem(48);
                }
              }
              .product-label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: rem(12);
                height: rem(12);
                @include font(10,1,550,$white);
                text-transform: uppercase;
                position: absolute;
                top: rem(-6);
                left: rem(-6);
                background-color: #262626;
                border-radius: 50%;
              }
            }

            .product-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: rem(4);
              
              .product-name {
                display: block;
                @include font(14,1,550);
                @include tablet {
                  font-size: rem(8);
                }
                @include desktop {
                  font-size: rem(14);
                }
              }
              .product-description {
                display: block;
                @include font(11,1,400);
                @include tablet {
                  font-size: rem(7);
                }
                @include desktop {
                  font-size: rem(11);
                }
              }
              
              .product-code {
                display: block;
                @include font(11,1.09,400,#7E7C77);
                @include tablet {
                  font-size: rem(7);
                }
                @include desktop {
                  font-size: rem(11);
                }
              }
            }
          }
          
          .slide-prev,
          .slide-next {
            width: rem(15);
            height: rem(26);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            cursor: pointer;
            @include tablet {
              width: rem(10);
              height: rem(17);
            }
            @include desktop {
              width: rem(15);
              height: rem(26);
            }
          }
          .slide-prev {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_prev.svg');
            left: 0;
          }
          .slide-next {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_next.svg');
            right: 0;
          }
        }
      }
    }
  }
  
  // Video Layer (Photos Gallery) 스타일
  .video-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1001;
    @include tablet {
      padding: rem(27) rem(24) rem(35) rem(32);
      border-radius: rem(18);
    }
    @include desktop {
      padding: rem(43) rem(36) rem(57) rem(53);
      border-radius: rem(20);
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    
    .video-layer-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    
    .video-layer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(30);
      
      .video-layer-title {
        @include font(28,1.2,600,$white);
        
        @include desktop {
          @include font(36,1.2,600,$white);
        }
      }
      
      .video-close-btn {
        width: rem(24);
        height: rem(24);
        background: url('/theme/rbFront/img/w/ise/ise2026/ic_close.svg') no-repeat center center / contain;
        border: none;
        cursor: pointer;
        
        @include desktop {
          width: rem(32);
          height: rem(32);
        }
      }
    }
    
    .video-layer-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: rem(20);
      width: 100%;
      height: 100%;
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: rem(10);
      }
      @include desktop {
        gap: rem(10);
      }
      
      .main-swiper-container {
        max-width: rem(900);
        position: relative;
        @include tablet {
          max-width: rem(554);
        }
        @include desktop {
          max-width: rem(900);
        }
        .swiper-pagination {
          width: auto;
          transform: translateX(-50%);
          left: 50%;
          @include font(16,1,400,#7E7C77);
          letter-spacing: -0.08em;
          @include tablet {
            font-size: rem(10);
            bottom: rem(-18);
          }
          @include desktop {
            font-size: rem(16);
            bottom: rem(-24);
          }
        }
        .main-gallery-swiper {
          width: 100%;
          height: 100%;
          .swiper-slide {
            border-radius: rem(30);
            overflow: hidden;
            @include tablet {
              border-radius: rem(20);
            }
            @include desktop {
              border-radius: rem(30);
            }

            img {
              aspect-ratio: 900 / 510;
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include tablet {
                aspect-ratio: 554 / 314;
              }
              @include desktop {
                aspect-ratio: 900 / 510;
              }
            }
          }
          .video-item {
            width: 100%;
            height: 100%;
            border: rem(4) solid $primary;
            border-radius: rem(30);
            overflow: hidden;
            position: relative;
            @include tablet {
              border-radius: rem(20);
              border-width: rem(2);
            }
            @include desktop {
              border-radius: rem(30);
              border-width: rem(4);
            }
            .txt-bx {
              position: absolute;
              top: rem(30);
              left: rem(30);
              @include tablet {
                top: rem(19);
                left: rem(19);
              }
              @include desktop {
                top: rem(30);
                left: rem(30);
              }
              .title {
                @include font(60,1,550,$white);
                &::before {
                  content: "";
                  display: block;
                  width: rem(224);
                  height: rem(44);
                  background: url('/theme/rbFront/img/w/ise/ise2026/video_label.svg') no-repeat center center / contain;
                }
                @include tablet {
                  font-size: rem(36);
                  &::before {
                    width: rem(138);
                    height: rem(27);
                  }
                }
                @include desktop {
                  font-size: rem(60);
                  &::before {
                    width: rem(224);
                    height: rem(44);
                  }
                }
              }
            }
          }
          
          .youtube-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(100);
            padding: rem(8) rem(16);
            background-color: $red;
            color: $white;
            @include font(18,1,700,$white);
            position: absolute;
            bottom: 0;
            right: 0;
            @include tablet {
              font-size: rem(10);
              padding: rem(6) rem(12);
              bottom: rem(16);
              right: rem(24);
            }
            @include desktop {
              font-size: rem(18);
              padding: rem(14) rem(38);
              bottom: rem(28);
              right: rem(40);
            }
          }
        }
      }
      
      .thumb-swiper-container {
        @include tablet {
          width: min(100%, rem(98));
          padding-top: rem(51);
        }
        @include desktop {
          width: min(100%, rem(158));
          padding-top: rem(83);
        }
        .booth-name {
          @include font(20,1,550,$white);
          text-align: center;
          @include tablet {
            font-size: rem(12);
          }
          @include desktop {
            font-size: rem(20);
          }
        }

        .slide-bx {
          width: 100%;
          height: 100%;
          position: relative;
          margin: rem(20) auto 0;

          @include tablet {
            width: rem(62);
            max-height: rem(243);
            padding: rem(18.25) 0;
            margin: rem(12) auto 0;
          }
          @include desktop {
            width: rem(100);
            max-height: rem(394);
            padding: rem(29) 0;
            margin: rem(20) auto 0;
          }

          .thumb-gallery-swiper {
            width: 100%;
            height: 100%;
            
            .swiper-slide {
              filter: grayscale(100%);
              border: rem(2) solid transparent;
              border-radius: rem(5);
              overflow: hidden;
              position: relative;
              transition: filter 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
              cursor: pointer;
              
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 100 / 56;
                @include tablet {
                  aspect-ratio: 62 / 35;
                }
                @include desktop {
                  aspect-ratio: 100 / 56;
                }
              }
              
              &.swiper-slide-thumb-active {
                filter: grayscale(0%);
                border-color: $primary;
              }
              
              &:hover {
                opacity: 0.8;
              }
              
            }
          }
          
          .thumb-slide-prev,
          .thumb-slide-next {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            cursor: pointer;
            width: rem(26);
            height: rem(15);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            @include tablet {
              width: rem(16);
              height: rem(9);
            }
            @include desktop {
              width: rem(26);
              height: rem(15);
            }
            &.swiper-button-disabled {
              opacity: 0.3;
              cursor: not-allowed;
            }
          }
          
          .thumb-slide-prev {
            top: 0;
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_up.svg');
          }
          
          .thumb-slide-next {
            bottom: 0;
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_down.svg');
          }
        }
      }
    }
  }
}