<div class="layer-pop">
  <div class="layer-pop-inner">
    <div class="layer-top">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_white.svg" alt="LG logo" class="logo">
      <button type="button" class="close-btn">
        <span class="a11y-hidden">close</span>
      </button>
    </div>
    <div class="layer-tab">
      <ul class="layer-nav-tabs">
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Attractor
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            LG Business cloud
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            K-Culture
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Drive-thru
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Meeting room
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Control room
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            E-Paper
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Learning
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            Hotel
          </button>
        </li>
        <li class="layer-tab-item">
          <button type="button" class="layer-tab-btn">
            LED tech
          </button>
        </li>
      </ul>
      <button type="button" class="photo-btn">Photos</button>
    </div>
    <div class="layer-content">
      <div class="video-layer">
        <div class="video-layer-inner">
          <div class="video-layer-content">
            <div class="main-swiper-container">
              <div class="swiper main-gallery-swiper">
                <div class="swiper-wrapper"></div>
              </div>
            </div>
            <div class="thumb-swiper-container">
              <div class="swiper thumb-gallery-swiper">
                <div class="swiper-wrapper"></div>
              </div>
              <div class="thumb-slide-prev"></div>
              <div class="thumb-slide-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>