@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

// 레이어 팝업이 열렸을 때 body 스크롤 방지
body.layer-open {
  overflow: hidden !important;
  
  // 모바일에서 추가 처리 (iOS 스크롤 완전 방지)
  @media (max-width: 1280px) {
    position: fixed;
    width: 100%;
  }
}

.layer-pop {
  position: fixed;
  width: 100%;
  height: 100dvh;
  background-color: $black;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-sizing: border-box;
  transition: opacity 0.3s;
  overflow: auto;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-headline;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .layer-pop-inner {
    max-width: rem(360);
    height: auto;
    margin: 0 auto;
    padding: rem(67) rem(30) rem(77);
    @include tablet {
      max-width: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: min(100%, rem(800));
      height: 100%;
      padding: 0 rem(30);
      overflow: unset;
    }
    @include desktop {
      width: min(100%, rem(1260));
    }
    .booth-info-tit {
      @include font(30,1,550,$white);
      @include tablet {
        display: none;
      }
    }
    .layer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-shrink: 0;
      position: sticky;
      top: rem(0);
      left: 0;
      z-index: 2;
      background-color: $black;
      padding: rem(10) 0 rem(14);
      @include tablet {
        top: rem(50);
        right: rem(50);
        position: absolute;
        background-color: unset;
        padding: 0 rem(30) 0 0;
      }
      @include desktop {
        width: auto;
        top: rem(64);
        right: rem(80);
      }
      .logo {
        width: rem(28);      
        @include tablet {
          opacity: 0;
          visibility: visible;
        }
      }
      .close-btn {
        width: rem(20);
        height: rem(20);
        background: url('/theme/rbFront/img/w/ise/ise2026/ic_close.svg') no-repeat center center / contain;
        border: none;
        cursor: pointer;
      }
    }
    
    .layer-tab {
      display: flex;
      width: 100%;
      gap: rem(6);
      flex-shrink: 0;
      padding: rem(10) 0 rem(20);
      position: sticky;
      top: rem(52);
      z-index: 2;
      background-color: $black;
      @include tablet {
        gap: 0;
        padding: rem(7.5) 0;
        margin-bottom: rem(10);
        position: relative;
        top: 0;
        background-color: transparent;
      }
      @include desktop {
        padding: rem(17.5) 0;
        margin-bottom: rem(20);
      }
      .dropdown-btn {
        @include font(17,1,550,$black);
        text-align: left;
        width: calc(100% - rem(50));
        background-color: $white;
        padding: rem(15) rem(47) rem(15) rem(15);
        border-radius: rem(15);
        position: relative;
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: $black;
        }
        &::after {
          content: "";
          width: rem(17);
          height: rem(17);
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: rem(15);
          background: url('/theme/rbFront/img/w/ise/ise2026/ic_dropdown.svg') no-repeat right center / contain;
        }
        @include tablet {
          display: none;
        }
      }
      .layer-nav-tabs-wrap {
        .layer-nav-tabs-controller {
          @include tablet {
            display: none;
          }
        }
        @media screen and (max-width: 768px) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $black;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s;
          padding: rem(77) rem(30);
          z-index: 10;
          &.active {
            opacity: 1;
            visibility: visible;
          }
          .back-btn {
            width: rem(20);
            height: rem(20);
            background: url('/theme/rbFront/img/w/ise/ise2026/ic_back.svg') no-repeat center center / contain;
          }
          .layer-nav-tabs,
          .layer-nav-tabs-controller {
            max-width: rem(300);
            margin: 0 auto;
          }
          .layer-nav-tabs-controller {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(42);
            .logo {
              width: rem(28);
            }
          }
          .layer-nav-tabs {
            overflow: auto;
            padding-bottom: rem(42);
            .layer-tab-item {
              .layer-tab-btn {
                width: 100%;
                text-align: left;
                padding: rem(10) 0;
              }
              &:not(:last-child) {
                margin-bottom: rem(8);
              }
            }
          }
        }
      }
      .layer-nav-tabs {
        width: 100%;
        height: 100%;
        background-color: $black;
        z-index: 100;
        
        @include tablet {
          display: flex;
          justify-content: space-between;
          height: auto;    
        }
        .layer-tab-item {
          position: relative;
          @include tablet {
            padding: 0 rem(10.8);
          }
          @include desktop {
            padding: 0 rem(18);
          }
          &:not(:last-child) {
            &::after {
              content: "";
              display: none;
              width: rem(1);
              height: rem(18);
              background-color: #303030;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              @include tablet {
                display: block;
              }
            }
          }
          @for $i from 1 through 12 {
            &:nth-child(#{$i}) .layer-tab-btn::before {
              content: "#{$i}. ";
              display: inline-block;
              @include tablet {
                display: none
              }
            }
          }
          .layer-tab-btn {
            @include font(18,1,550,$white);
            padding: rem(4.5) 0;
            border-bottom: rem(2) solid transparent;
            white-space: nowrap;
            transition: all 0.3s;
            @include tablet {
              font-size: rem(11);
            }
            @include desktop {
              font-size: rem(18);
            }
          }
          &.active {
            .layer-tab-btn {
              color: $primary;
              border-color: $primary;
            }
          }
        }
      }
      .photo-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: rem(50);
        height: rem(50);
        @include font(24,1.16,400,$white);
        background-color: $white;
        border-radius: rem(15);
        cursor: pointer;
        transition: all 0.3s;
        &::before {
          content: "";
          display: inline-block;
          width: rem(18);
          height: rem(15);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_photo_b.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &.active {
          background-color: $primary;
          &::before {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_photo.svg');
          }
        }
        @include tablet {
          width: auto;
          height: auto;
          gap: rem(6);
          font-size: rem(14);
          top: rem(74);
          right: rem(24);
          padding: rem(7.75) rem(18.75);
          border: rem(1) solid #5C5C5C;
          background-color: transparent;
          border-radius: rem(10);
          position: absolute;
          z-index: 1002;
          &::before {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_photo.svg');
            width: rem(16);
            height: rem(13);
          }
          &.active {
            background-color: $white;
            color: $black;
            &::before {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_photo_b.svg');
            }
          }
          &.is-hidden {
            opacity: 0;
            visibility: hidden;
          }
        }
        @include desktop {
          gap: rem(10);
          font-size: rem(24);
          top: rem(120);
          right: rem(36);
          padding: rem(12.5) rem(28.5);
          border-radius: rem(20);
          &::before  {
            width: rem(26);
            height: rem(22);
          }
        }
        span {
          display: none;
          @include tablet {
            display: inline-block;
          }
        }
      }
    }
    
    .layer-content {
      width: 100%;
      flex: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: background-image 0.5s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      opacity: 1;
      position: relative;
      @media screen and (max-width: 768px) {
        background-image: unset !important;
      }
      @include tablet {
        max-height: rem(376);
      }
      @include desktop {
        max-height: rem(610);
      }
      .layer-content-inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 768px) {
          &.active {
            display: none;
          }
        }
        @include tablet {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
      
      .layer-content-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: rem(20);
      }
      
      // tablist가 있을 때의 스타일
      &.has-tablist {
        .layer-content-inner {
          @include tablet {
            padding: 0 rem(34) rem(34);
          }
          @include desktop {
            padding: 0 rem(62) rem(55);
          }
        }
        .layer-content-text {
          gap: rem(16);
        }
        
        .layer-product-list {
          width: min(100%, rem(930));
          padding: rem(16) rem(28) rem(28);
          background-color: #343434;
          border-bottom-left-radius: rem(30);
          @include tablet {
            width: min(100%, rem(573));
            padding: rem(16) rem(28) rem(28);
            position: absolute;
            bottom: 0;
            left: 0;
          }
          @include desktop {
            width: min(100%, rem(930));
            padding: rem(16) rem(28) rem(28);
          }
        }
      }
      
      // tablist가 없을 때의 스타일
      &.no-tablist {
        .layer-content-inner {
          @include tablet {
            width: min(100%, rem(590));
            padding: 0 rem(17) rem(18);
          }
          @include desktop {
            width: min(100%, rem(960));
            padding: 0 rem(47) rem(30);
          }
        }
        .layer-content-title-wrap {
          @include tablet {
            padding-left: rem(15);
          }
        }
        .layer-content-text {
          gap: rem(24);
        }
        
        .layer-product-list {          
          .product-link {
            padding: rem(16) rem(20);
          }
        }
      }
      
      // 내부 서브탭이 활성화되었을 때 home-btn 표시
      &.has-active-subtab {
        @include tablet {
          .layer-content-title .home-btn {
            display: inline-block;
          }
        }
      }

      .booth-detail-img {
        position: relative;
        .booth-detail-img-wrap {
          height: 50%;
          border-radius: rem(30) rem(30) 0 0;
          overflow: auto;
          
          &.no-scroll {
            overflow: hidden;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          
          img {
            display: block;
            max-height: rem(280);
          }
        }
        @include tablet {
          display: none;
        }
        .scroll-indicator {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: auto;
          z-index: 1;
          cursor: pointer;
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
          &.active {
            opacity: 0;
            visibility: hidden;
          }
          .ic-pointer {
            transform-origin: bottom;
            animation: pointer-animation 2s ease-in-out infinite;
          }
          @keyframes pointer-animation {
            0% {
              transform: rotate(0deg);
            }
            25% {
              transform: rotate(6deg);
            }
            50% {
              transform: rotate(-6deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
        }
      }

      .layer-content-title-wrap {
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 0 0 rem(30) rem(30);
          overflow: hidden;
          background-color: #535353;
          position: relative;
          margin-bottom: rem(20);
          padding: rem(14) rem(18) rem(18);
        }
        .booth-location {
          max-width: rem(82);
          @include tablet {
            display: none;
          }
        }
      }

      .layer-content-title {
        display: inline-flex;
        @include font(22,1,550,$white);
        max-width: calc(88% - rem(82));
        transition: transform 0.3s ease-in-out;
        span {
          margin-right: rem(10);
          @include tablet {
            margin-right: 0;  
          }
        }
        @include tablet {
          font-size: rem(28);
          margin-bottom: rem(19);
          max-width: unset;
          &.active {
            transform: translateY(rem(-57));
          }
        }
        @include desktop {
          font-size: rem(46);
          margin-bottom: rem(35);
        }
        .home-btn {
          display: none; // 기본적으로 숨김.
          @include font(14,1,550,$white);
          border: rem(1) solid $white;
          border-radius: rem(50);
          padding: rem(9) rem(14);
          margin-left: rem(15);
          cursor: pointer;
          transition: all 0.3s ease;
          @include tablet {
            font-size: rem(9);
            padding: rem(4.5) rem(12);
            margin-left: rem(10);
          }
          @include desktop {
            font-size: rem(14);
            padding: rem(9) rem(14);
            margin-left: rem(15);
          }
          &:hover {
            background: rgba(255, 255, 255, 0.3);
          }
        }
        
      }
      
      .layer-content-desc {
        font-size: rem(14);
        color: $white;
        line-height: 1.6;
        opacity: 0.9;
      }
      
      // Tablist 스타일
      .layer-sub-tabs {
        @include tablet {
          display: flex;
          flex-wrap: wrap;
          gap: rem(5);
        }
        @include desktop {
          gap: rem(8);
        }
        .layer-tab-btn {
          @include font(18,1,550,$white);
          text-align: left;
          width: 100%;
          background-color: transparent;
          padding: rem(16) rem(15);
          border-top: rem(1) solid #333333;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: rem(18);
            height: rem(18);
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_open_w.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: transform 0.3s ease, background-image 0.3s ease;
          }

          &.active {
            &::after {
              background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_close_w.svg');
              transform: translateY(-50%) rotate(1turn);
            }
          }
          @include tablet {
            border: 1px solid $white;
            border-radius: rem(30);
            font-size: rem(9);
            text-align: center;
            padding: rem(4.5) rem(12);
            width: auto;
            &::after {
              display: none;
            }
            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
            
            &.active {
              border-color: $white;
              background-color: $white;
              color: $black;
            }
          }
          @include desktop {
            font-size: rem(14);
            padding: rem(9) rem(15);
          }
        }
        
        .tab-detail {
          display: none;
          padding: 0 0 rem(10);
          // 모바일: 아코디언 애니메이션
          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(10);
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
            .tab-detail-title-wrap {
              background-color: #1D1E1D;
              border-radius: rem(20);
              overflow: hidden;
              color: $white;
              .tab-detail-title {
                font-size: rem(16);
                padding: rem(21) rem(18) 0;
              }
              .tab-detail-desc {
                padding: 0 rem(18) rem(12);
                margin-top: rem(7);
              }
              .tab-detail-img {
                position: relative;
                width: 100%;
                min-height: rem(189);
                
                .tab-detail-img-wrap {
                  width: 100%;
                  overflow-x: auto;
                  overflow-y: hidden;
                  -webkit-overflow-scrolling: touch;
                  
                  img {
                    display: block;
                    max-height: rem(189);
                  }
                }
                
                .scroll-indicator {
                  display: none;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  pointer-events: auto;
                  z-index: 1;
                  cursor: pointer;
                  opacity: 1;
                  visibility: visible;
                  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
                  
                  &.show {
                    display: block;
                  }
                  
                  &.active {
                    opacity: 0;
                    visibility: hidden;
                  }
                  
                  .ic-pointer {
                    transform-origin: bottom;
                    animation: tab-pointer-animation 2s ease-in-out infinite;
                  }
                  
                  @keyframes tab-pointer-animation {
                    0% {
                      transform: rotate(0deg);
                    }
                    25% {
                      transform: rotate(6deg);
                    }
                    50% {
                      transform: rotate(-6deg);
                    }
                    100% {
                      transform: rotate(0deg);
                    }
                  }
                }
              }
            }
          }
          
          @include tablet {
            position: absolute;
            top: 0;
            right: 0;
            max-width: rem(166);
            height: rem(236);
            padding: rem(20) rem(18);
          }
          @include desktop {
            max-width: rem(269);
            height: rem(383);
            padding: rem(33);
          }
          &.active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(10);
            
            @media (max-width: 768px) {
              max-height: 1000px;
              opacity: 1;
            }
          }
          
          .tab-detail-subtitle {
            display: inline-block;
            @include font(22,1.09,400);
            margin-bottom: rem(12);
            @include tablet {
              font-size: rem(14);
            }
            @include desktop {
              font-size: rem(22);
            }
          }
          
          .tab-detail-title {
            @include font(32,1,550);
            @include tablet {
              font-size: rem(20);
              letter-spacing: 0.01em;
            }
            @include desktop {
              font-size: rem(32);
            }
          }
          
          .tab-detail-desc {
            @include font(12,1.3,400);
            line-height: 1.6;
            margin-top: rem(8);
            @include tablet {
              font-size: rem(7);
            }
            @include desktop {
              font-size: rem(12);
            }
          }
        }
        
        // 모바일 Product List (아코디언 애니메이션)
        .mobile-product-list {
          transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
          overflow: hidden;
          .product-item {
            & + .product-item {
              margin-top: rem(10);
            }
          }
          &.hidden {
            max-height: 0;
            opacity: 0;
          }
          
          &:not(.hidden) {
            max-height: 3000px;
            opacity: 1;
          }
        }
      }
      
      // Product List 스타일
      .layer-product-list {
        margin-top: rem(20);
        
        // 슬라이드 애니메이션
        transform: translateY(0);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        .close-product-btn {
          display: none;
          align-items: center;
          justify-content: center;
          gap: rem(6);
          padding: 0 rem(15);
          @include font(14,1,550,$white);
          
          background-color: #343434;
          position: absolute;
          border-radius: rem(10) rem(10) 0 0;
          top: 0;
          right: rem(45);
          transform: translateY(rem(-27));
          @include tablet {
            display: inline-flex;
            height: rem(18);
            font-size: rem(10);
            padding: 0 rem(11);
            border-radius: rem(6.8) rem(6.8) 0 0;
            right: rem(45);
            transform: translateY(rem(-18));
          }
          @include desktop {
            height: rem(27);
            font-size: rem(14);
            padding: 0 rem(15);
            border-radius: rem(10) rem(10) 0 0;
            right: rem(45);
            transform: translateY(rem(-27));
          }
          &::after {
            content: "";
            display: inline-block;
            align-self: flex-end;
            width: rem(10);
            height: rem(7);
            background: url('/theme/rbFront/img/w/ise/ise2026/ic_arrow_down.svg') no-repeat center center / contain;
            margin-bottom: rem(8);
            @include tablet {
              width: rem(6);
              height: rem(3);
              margin-bottom: rem(7);
            }
            @include desktop {
              width: rem(10);
              height: rem(7);
              margin-bottom: rem(8);
            }
          }
        }
        // tablist가 있을 때
        &.has-tabs {
          // PC에서는 초기 숨김, 탭 클릭 시 JS로 표시 제어
          @media (min-width: 768px) {
            // JS에서 display 제어
          }
          
          // 모바일에서는 모두 표시 (아코디언)
          @media (max-width: 767px) {
            display: block !important;
            margin-bottom: rem(20);
          }
        }
        
        // tablist가 없을 때
        &.no-tabs {
          // 항상 표시
          display: block;
          margin-top: 0;
        }
        
        // 닫힘 상태
        &.closed {
          transform: translateY(calc(100% + rem(27)));
          pointer-events: none;
        }
        
        .product-list-title {
          font-size: rem(16);
          font-weight: 600;
          color: $white;
          margin-bottom: rem(16);
          @include tablet {
            font-size: rem(9);
            margin-bottom: rem(11);
            padding-left: rem(17);
          }
          @include desktop {
            font-size: rem(16);
            margin-bottom: rem(16);
            padding-left: rem(33);
          }
        }
        
        .product-slider {
          position: relative;
          @include tablet {
            padding: 0 rem(15);
          }
          @include desktop {
            padding: 0 rem(23);
          }
          .swiper-wrapper {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            @include tablet {
              flex-direction: row;
              gap: 0;
            }
          }
                    
          .slide-prev,
          .slide-next {
            display: none;
            width: rem(15);
            height: rem(26);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            cursor: pointer;
            @include tablet {
              display: block;
              width: rem(10);
              height: rem(17);
            }
            @include desktop {
              width: rem(15);
              height: rem(26);
            }
          }
          .slide-prev {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_prev.svg');
            left: 0;
          }
          .slide-next {
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_next.svg');
            right: 0;
          }
        }
      }

      .product-item {
        display: flex;
        align-items: center;
        gap:rem(13);
        cursor: pointer;    
        min-height: rem(80);
        padding: rem(4) rem(16);
        border: rem(1) solid #4A4946;
        border-radius: rem(15);
        @include tablet {
          gap:rem(4);
          min-height: rem(50);
          padding: rem(4) rem(10);
          border: 0;
          border-radius: rem(10);
          background-color: $white;
        }
        @include desktop {
          gap:rem(13);
          min-height: rem(80);
          padding: rem(4) rem(16);
          border-radius: rem(15);
        }
        &::after {
          content: "";
          display: inline-block;
          flex-shrink: 0;
          width: rem(14);
          height: rem(14);
          background: url('/theme/rbFront/img/w/ise/ise2026/ic_outlink.svg') no-repeat center center / cover;
          @include tablet {
            width: rem(8);
            height: rem(8);
          }
          @include desktop {
            width: rem(12);
            height: rem(12);
          }
        }
        &.is-coming-soon {
          &::after {
            width: rem(20);
            height: rem(20);
            @include tablet {
              width: rem(12);
              height: rem(12);
              background: url('/theme/rbFront/img/w/ise/ise2026/ic_soon.svg') no-repeat center center / cover;
            }
            @include desktop {
              width: rem(20);
              height: rem(20);
            }
          }
        }
        &:not([class*="type"]) {
          @media screen and (max-width: 768px) {
            &::after {
              background: url('/theme/rbFront/img/w/ise/ise2026/ic_outlink_w.svg') no-repeat center center / cover;
            }
            &.is-coming-soon {
              &::after {
                background: url('/theme/rbFront/img/w/ise/ise2026/ic_soon_w.svg') no-repeat center center / cover;
              }
            }
            .product-info {
              .product-name {
                color: $white;
              }
            }
          }
        }
        &.type01 {
          background-color: #B1DBFF;
        }
        &.type02 {
          background-color: #C7BDFB;
        }
        &.type03 {
          background-color: #CAA8FF;
        }
        &.type04 {
          background-color: #A8EBDC;
        }
        &.type05 {
          background-color: #B7BBFD;
        }
        &.type06 {
          background-color: #B1DBFF;
        }
        &.type07 {
          background-color: #D6B5FF;
        }
        &.type08 {
          background-color: #A594FF;
        }

        .product-img-wrapper {
          position: relative;
          .product-img {
            display: block;
            width: rem(70);
            height: rem(48);
            flex-shrink: 0;
            object-fit: cover;
            border-radius: rem(5);
            @include tablet {
              width: rem(44);
              height: rem(30);
            }
            @include desktop {
              width: rem(70);
              height: rem(48);
            }
          }
          .product-label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: rem(12);
            height: rem(12);
            @include font(10,1,550,$white);
            text-transform: uppercase;
            position: absolute;
            top: rem(-6);
            left: rem(-6);
            background-color: #262626;
            border: rem(0.5) solid $white;
            border-radius: 50%;
          }
        }

        .product-info {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: rem(4);
          
          .product-name {
            display: block;
            @include font(14,1,550);
            @include tablet {
              font-size: rem(8);
            }
            @include desktop {
              font-size: rem(14);
            }
          }
          .product-description {
            display: block;
            @include font(11,1,400);
            @include tablet {
              font-size: rem(7);
            }
            @include desktop {
              font-size: rem(11);
            }
          }
          
          .product-code {
            display: block;
            @include font(11,1.09,400,#7E7C77);
            @include tablet {
              font-size: rem(7);
            }
            @include desktop {
              font-size: rem(11);
            }
          }
        }
      }
    }
  }
  
  // Video Layer (Photos Gallery) 스타일
  .video-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @include tablet {
      padding: rem(27) rem(24) rem(35) rem(32);
      border-radius: rem(18);
      background-color: #242424;
      &.active {
        position: absolute;
      }
    }
    @include desktop {
      padding: rem(43) rem(36) rem(57) rem(53);
      border-radius: rem(20);
    }
    &.active {
      opacity: 1;
      visibility: visible;
      @media screen and (max-width: 768px) {
        overflow: unset;
        position: static;
      }
    }
    
    .video-layer-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    
    .video-layer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(30);
      
      .video-layer-title {
        @include font(28,1.2,600,$white);
        
        @include desktop {
          @include font(36,1.2,600,$white);
        }
      }
      
      .video-close-btn {
        width: rem(24);
        height: rem(24);
        background: url('/theme/rbFront/img/w/ise/ise2026/ic_close.svg') no-repeat center center / contain;
        border: none;
        cursor: pointer;
        
        @include desktop {
          width: rem(32);
          height: rem(32);
        }
      }
    }
    
    .video-layer-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      &::before {
        content: "ISE 2026 photos";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include font(24,1,550,$white);
        border: rem(1) solid $white;
        border-radius: rem(15);
        padding: rem(18.5) 0;
        margin-bottom: rem(16);
      }
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: rem(10);
        &::before {
          display: none;
        }
      }
      @include desktop {
        gap: rem(10);
      }
      
      .main-swiper-container {
        max-width: rem(900);
        position: relative;
        @include tablet {
          max-width: rem(554);
        }
        @include desktop {
          max-width: rem(900);
        }
        .swiper-wrapper {
          flex-wrap: wrap;
          @include tablet {
            flex-wrap: nowrap;
          }
        }
        .swiper-pagination {
          display: none;
          width: auto;
          transform: translateX(-50%);
          left: 50%;
          @include font(16,1,400,#7E7C77);
          letter-spacing: -0.08em;
          @include tablet {
            display: block;
            font-size: rem(10);
            bottom: rem(-18);
          }
          @include desktop {
            font-size: rem(16);
            bottom: rem(-24);
          }
        }
        .main-gallery-swiper {
          width: 100%;
          height: 100%;
          .swiper-slide {
            border-radius: rem(15);
            height: auto;
            overflow: hidden;
            & + .swiper-slide {
              margin-top: rem(16);
              @include tablet {
                margin-top: 0;
              }
            }
            @include tablet {
              border-radius: rem(20);
            }
            @include desktop {
              border-radius: rem(30);
            }

            img {
              aspect-ratio: 300 / 170;
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include tablet {
                aspect-ratio: 554 / 314;
              }
              @include desktop {
                aspect-ratio: 900 / 510;
              }
            }
          }
          .video-item {
            width: 100%;
            height: 100%;
            border: rem(2) solid $primary;
            border-radius: rem(15);
            overflow: hidden;
            position: relative;
            @include tablet {
              border-radius: rem(20);
              border-width: rem(2);
            }
            @include desktop {
              border-radius: rem(30);
              border-width: rem(4);
            }
            .txt-bx {
              width: 80%;
              position: absolute;
              top: rem(8);
              left: rem(13);
              @include tablet {
                top: rem(19);
                left: rem(19);
              }
              @include desktop {
                top: rem(30);
                left: rem(30);
              }
              .title {
                @include font(30,1,550,$white);
                text-wrap: balance;
                word-break: break-all;
                &::before {
                  content: "";
                  display: block;
                  width: rem(90);
                  height: rem(17);
                  background: url('/theme/rbFront/img/w/ise/ise2026/video_label.svg') no-repeat center center / contain;
                }
                @include tablet {
                  font-size: rem(30);
                  &::before {
                    width: rem(138);
                    height: rem(27);
                  }
                }
                @include desktop {
                  font-size: rem(50);
                  &::before {
                    width: rem(224);
                    height: rem(44);
                  }
                }
              }
            }
          }
          
          .youtube-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(100);
            padding: rem(9) rem(24);
            background-color: $red;
            color: $white;
            @include font(11,1,700,$white);
            position: absolute;
            bottom: rem(16);
            right: rem(20);
            @include tablet {
              font-size: rem(10);
              padding: rem(6) rem(12);
              bottom: rem(16);
              right: rem(24);
            }
            @include desktop {
              font-size: rem(18);
              padding: rem(14) rem(38);
              bottom: rem(28);
              right: rem(40);
            }
          }
        }
      }
      
      .thumb-swiper-container {
        display: none;
        @include tablet {
          display: block;
          width: min(100%, rem(98));
          padding-top: rem(51);
        }
        @include desktop {
          width: min(100%, rem(158));
          padding-top: rem(83);
        }
        .booth-name {
          display: none;
          @include font(20,1,550,$white);
          text-align: center;
          @include tablet {
            display: block;
            font-size: rem(12);
          }
          @include desktop {
            font-size: rem(20);
          }
        }

        .slide-bx {
          width: 100%;
          height: 100%;
          position: relative;
          margin: rem(20) auto 0;

          @include tablet {
            width: rem(62);
            max-height: rem(243);
            padding: rem(18.25) 0;
            margin: rem(12) auto 0;
          }
          @include desktop {
            width: rem(100);
            max-height: rem(394);
            padding: rem(29) 0;
            margin: rem(20) auto 0;
          }

          .thumb-gallery-swiper {
            width: 100%;
            height: 100%;
            
            .swiper-slide {
              filter: grayscale(100%);
              border: rem(2) solid transparent;
              border-radius: rem(5);
              overflow: hidden;
              position: relative;
              transition: filter 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
              cursor: pointer;
              
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 100 / 56;
                @include tablet {
                  aspect-ratio: 62 / 35;
                }
                @include desktop {
                  aspect-ratio: 100 / 56;
                }
              }
              
              &.swiper-slide-thumb-active {
                filter: grayscale(0%);
                border-color: $primary;
              }
              
              &:hover {
                opacity: 0.8;
              }
              
            }
          }
          
          .thumb-slide-prev,
          .thumb-slide-next {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            cursor: pointer;
            width: rem(26);
            height: rem(15);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            @include tablet {
              width: rem(16);
              height: rem(9);
            }
            @include desktop {
              width: rem(26);
              height: rem(15);
            }
            &.swiper-button-disabled {
              opacity: 0.3;
              cursor: not-allowed;
            }
          }
          
          .thumb-slide-prev {
            top: 0;
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_up.svg');
          }
          
          .thumb-slide-next {
            bottom: 0;
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_down.svg');
          }
        }
      }
    }
  }

  .alert-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .alert-layer-inner {
      width: min(calc(100% - rem(60)), rem(300));
      background-color: $white;
      border-radius: rem(20);
      padding: rem(30) rem(30) rem(26);
      @include tablet {
        width: min(calc(100% - rem(60)), rem(569));
        padding: rem(46) rem(30);
      }
      .alert-text {
        font-family: $font-headline;
        @include font(15,1.4,550,$black);
        text-align: center;
        padding-top: rem(77);
        background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_notice.svg');
        background-repeat: no-repeat;
        background-size: rem(73) rem(63);
        background-position: center top;
        @include tablet {
          text-align: left;
          padding-top: 0;
          padding-left: rem(96);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left top;
        }
        .pc-only {
          display: none;
          @include tablet {
            display: block;
          }
        }
      }
      .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(10);
        margin-top: rem(26);

        .close-btn,
        .contact-btn {
          display:flex;
          align-items:center;
          justify-content:center;
          text-decoration:none;
          height: rem(29);
          font-family: $font-headline;
          font-size: rem(11);
          font-weight: 550;
          border: rem(1) solid;
          border-radius: rem(30);
          padding: rem(4) rem(24);
          transition: all 0.3s;
          cursor: pointer;
          @include tablet {
            font-size: rem(17);
            width: rem(160);
            height: rem(46);
          }
        }
        .close-btn {
          color: $black;
          border-color: $black;
          @include tablet {
            &:hover,
            &:active {
              border-color: $primary;
              color: $primary;
            }
          }
        }
        .contact-btn {
          color: $white;
          border-color: $primary;
          background-color: $primary;
          @include tablet {
            &:hover,
            &:active {
              border-color: $black;
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }
  }
}