@use '../../assets/scss/variable' as *;
@use '../../assets/scss/mixin' as *;

// 공통 footer 가리기
.footer {
  display: none !important;
}

.ise-footer {
  background-color: #1A1A1A;
  padding: rem(70) 0 rem(57);
  color: #CBC8C2;
  @include tablet {
    padding: rem(100) 0;
  }
  .inner {
    max-width: rem(1268);
  }
  .inner-flex-bx {
    margin-bottom: rem(40);
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: rem(42);
      margin-bottom: rem(20);
    }
    @include desktop {
      margin-bottom: rem(40);
    }
  }
  .ise-footer-nav {
    .nav-list {
      .nav-item {
        &:not(:first-child) {
          margin-top: rem(19);
          @include tablet {
            font-size: rem(28);
          }
        }
        .nav-link {
          @include font(14, 140%, 700);
          text-align: left;
          color: #CBC8C2;
          @include tablet {
            font-size: rem(18);
            white-space: nowrap;
          }
        }
      }
    }
  }
  .ise-footer-content-bx {
    width: min(rem(728), 100%);
    .sns-bx {
      display: block;
      align-items: center;
      gap: rem(46);
      margin: rem(31) 0;
      border-top: rem(1) solid #4A4946;
      border-bottom: rem(1) solid #4A4946;
      padding: rem(24) 0;
      @include tablet {
        display: flex;
        margin: 0;
        border: 0;
        padding: 0 0 rem(27) 0;
      }
      .sns-title {
        @include font(14, 140%, 550);
        margin-bottom: rem(12.25);
        @include tablet {
          font-size: rem(28);
          margin-bottom: 0;
        }
      }
      .sns-list {
        display: flex;
        align-items: center;
        gap: rem(16);
        .sns-item {
          .sns-btn {
            display: block;
            width: rem(40);
            height: rem(40);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            
            $sns-list: linkedin, instagram, facebook, youtube;
            
            @each $sns in $sns-list {
              &.#{$sns} {
                // 기본 이미지
                background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_footer_#{$sns}.svg');
                
                // hover 이미지를 ::before로 미리 준비
                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_footer_#{$sns}_active.svg');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center center;
                  opacity: 0;
                  transition: opacity 0.3s;
                }
              }
            }
            
            &:hover {
              @each $sns in $sns-list {
                &.#{$sns}::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
    .form-bx {

      select, input[type="email"], input[type="text"] {
        width: 100%;
        max-height: rem(36);
        padding: rem(9) rem(18);
        background-color: #1A1A1A;
        color: #CBC8C2;
        border: 1px solid #4A4946;
        @include font(12, 140%, 300);
        transition: all 0.3s;
        
        &::placeholder {
          color: #CBC8C2;
        }
      }
      
      select {
        appearance: none;
        background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_select_arrow.svg');
        background-size: rem(12) rem(7);
        background-repeat: no-repeat;
        background-position: right rem(18) center;
        padding-right: rem(40);
        cursor: pointer;
        transition: all 0.3s;
        option {
          font-size: rem(16)
        }
      }

      .validation-message {
        @include font(10, 140%, 400);
        color: #FF615F;
        margin-top: rem(4);
        display: none;
        &::before {
          content: '';
          display: inline-block;
          width: rem(10);
          height: rem(10);
          background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_warn.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          vertical-align: rem(-2);
          margin-right: rem(4);
        }
        &.show {
          display: block;
        }
      }

      .flex-bx {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        >* {
          width: 100%
        }
        @include tablet {
          flex-direction: row;
        }
      }

      .country-option-bx {
        display: flex;
        gap: rem(8);
        flex-direction: column;
        @include tablet {
          flex-direction: row;
        }
      }

      .form-title {
        @include font(14, 140%, 550);
        margin-bottom: rem(13.41);
        @include tablet {
          font-size: rem(28);
          margin-bottom: rem(20);
        }
      }

      .form-cont {
        width: 100%;
        
        &.dimm {
          select {
            color: #5A5855;
            pointer-events: none;
            background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_select_arrow_disabled.svg');
          }
        }
        
        &.hidden {
          display: none;
        }
      }
      
      .newsletter-name {
        width: 100%;
      }
      
      .privacy-policy {
        margin-top: rem(10);
        
        &.hidden {
          display: none;
        }
        
        .privacy-title {
          @include font(12, 140%, 550);
          margin-bottom: rem(8)
        }
        .privacy-notice {
          @include font(12, 140%, 400);
          color: #686663;
          margin-bottom: rem(7.5);
        }

        .checkbox-wrap {
          display: flex;
          gap: rem(8);
          flex-direction: column;
          @include tablet {
            flex-direction: row;
          }
          .checkbox-bx {
            display: flex;
            align-items: flex-start;
            gap: rem(8);
            cursor: pointer;
            
            input[type="checkbox"] {
              appearance: none;
              width: rem(12);
              height: rem(12);
              cursor: pointer;
              position: relative;
              margin: rem(2) 0 0;
              flex-shrink: 0;
              opacity: 1;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; 
                background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_check.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.3s;
              }
              
              &:checked {
                &::before {
                  background-image: url('/theme/rbFront/img/w/ise/ise2026/ic_checked.svg');
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }
              & + label {
                padding: 0;
                line-height: 100%;
                font-size: inherit;
                margin: 0;
                &::before {
                  display: none;
                }
              }
            }
            span {
              @include font(12, 140%, 250);
              color: #cbc8c2;
            }
          }
        }
        
        .privacy-links-bx {
          display: flex;
          align-items: center;
          white-space: nowrap;
          margin-top: rem(8);
          @include tablet {
            margin-left: auto;
          }
          .privacy-link {
            @include font(12, 140%, 250);
            color: #44C1FF;
            text-decoration: none;
            position: relative;
            
            &:hover {
              text-decoration: underline;
            }
            & + .privacy-link {
              margin-left: rem(22);
              &::before {
                content: '';
                display: inline-block;
                width: rem(1);
                height: rem(12);
                background-color: #7E7C77;
                position: absolute;
                top: 50%;
                left: rem(-11);
                transform: translateY(-50%);
              }
            }
          }
          
          .divider {
            @include font(12, 140%, 400);
          }
        }
      }
      
      

      .name-bx,
      .mail-bx {
        margin-top: rem(8);
      }
    }
    
  }
  .submit-btn {
    @include btn($primary);
    margin: 0 auto;
  }
  .ise-footer-bottom {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(80);
    @include tablet {
      display: flex;
      border-top: rem(1) solid #4A4946;
      margin-top: rem(40);
      padding: rem(12) 0 rem(22);
    }
    .footer-bottom-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: rem(1) solid #4A4946;
      padding-bottom: rem(10);
      margin-bottom: rem(10);
      @include tablet {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 0;
        margin-bottom: 0;
        border: 0;
      }
      .footer-bottom-item {
        position: relative;
        & + .footer-bottom-item {
          margin-left: rem(12);
          &::before {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(12);
            background-color: #7E7C77;
            position: absolute;
            top: 50%;
            left: rem(-6);
            transform: translateY(-50%);
          }
          @include tablet {
            margin-left: rem(40);
            &::before {
              left: rem(-20);
            }
          }
        }
        &:nth-child(2) {
          width: 80%;
          @include tablet {
            width: auto;
          }
        }
        &:nth-child(3) {
          margin-left: 0;
          &::before {
            display: none;
          }
          @include tablet {
            margin-left: rem(40);
            &::before {
              display: inline-block;
              left: rem(-20);
            }
          }
        }
        a {
          @include font(12, 140%, 550);
          &:hover {
            color: #cbc8c2;
          }
        }
      }
    }
    .copyright {
      @include font(12, 140%, 400);
    }
  }
}