<!-- S : indicator -->
<ol class="indicator-list">
  <li class="indicator-item">
    <button type="button" data-section="kv">
      <span class="a11y-hidden">kv</span>
    </button>
  </li>
  <li class="indicator-item">
    <button type="button" data-section="overview">
      <span class="a11y-hidden">overview</span>
    </button>
  </li>
  <li class="indicator-item">
    <button type="button" data-section="invitation">
      <span class="a11y-hidden">invitation</span>
    </button>
  </li>
  <li class="indicator-item">
    <button type="button" data-section="inspiration">
      <span class="a11y-hidden">inspiration</span>
    </button>
  </li>
  <li class="indicator-item">
    <button type="button" data-section="faq">
      <span class="a11y-hidden">faq</span>
    </button>
  </li>
</ol>