@use "../../assets/scss/mixin"as *;
@use "../../assets/scss/variable"as *;

.culture {
  background-color: #F0ECE4;
  @include tablet {
    padding: rem(50) 0 rem(61.58);
  }
  @include desktop {
    padding: 0;
  }
  .inner {
    @include desktop {
      padding-top: rem(188);
    }
  }
  .section-tit-bx {
    margin-bottom: rem(20);
    @include tablet {
      margin-bottom: rem(45);
    }
    @include desktop {
      margin-bottom: rem(60);
    }
  }
  .slide-bx {
    max-width: rem(1260);
    padding: 0 rem(30);
    margin: 0 auto;
    .btn-slide {
      margin-bottom: rem(8);
    }
    .culture-btn {
      overflow: hidden;
      position: relative;
      img {
        display: block;
        max-width: 100%;
      }
      &-img {
        transition: all 0.4s;
        &-active {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transform: translateY(-4px);
          transition: all 0.4s;
        }
      }
      &:hover {
        .culture-btn-img {
          opacity: 0;
        }
        .culture-btn-img-active {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .content-wrap {
      position: relative;
      border-radius: rem(20);
      overflow: hidden;
      .title-bx {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(12);
        width: 100%;
        text-align: center;
        background-color: #242424;
        padding: rem(18);
        .title {
          font-family: $font-headline;
          @include font(34, 1.29, 550, $white);
        }
        .text {
          @include font(22, 1, 300, $white);
        }
      }
      .content-bx {
        .quote-bx {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          max-width: rem(305);
          background-color: $black;
          border-radius: rem(143);
          padding: rem(66) rem(45) rem(66);
          .text {
            font-family: $font-headline;
            @include font(22, 1.09, 400, $white);
            text-align: center;
            position: relative;
            &::before,
            &::after {
              content: "";
              width: rem(75);
              height: rem(54);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;
              position: absolute;
            }
            &::before {
              background-image: url(/theme/rbFront/img/w/ise/ise2026/ic_lsquo.svg);
              left: rem(-75);
              top: rem(-54);
            }
            &::after {
              background-image: url(/theme/rbFront/img/w/ise/ise2026/ic_rsquo.svg);
              right: rem(-65);
              bottom: rem(-34);
            }
          }
          .download-btn {
            display: flex;
            align-items: center;
            font-family: $font-headline;
            @include font(12, 1, 550);
            padding: rem(10) rem(22);
            border-radius: rem(100);
            margin-top: rem(53);
            &::before {
              content: '';
              display: inline-block;
              width: rem(12);
              height: rem(15);
              background-image: url(/theme/rbFront/img/w/ise/ise2026/ic_download.svg);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;
              margin-right: rem(10);
            }
            &.type01 {
              background-color: $thewhoo;
              color: $white;
            }
            &.type02 {
              background-color: $aurora;
              color: $white;
            }
            &.type03 {
              background-color: $samyang;
              color: $white;
            }
            &.type04 {
              background-color: $paris;
              color: $white;
            }
            &.type05 {
              background-color: $boksoondoga;
              color: $white;
            }
          }
        }
      }
      &.the-whoo {
        .info-bx {
          background-color: $thewhoo;
        }
      }
      &.aurora {
        .info-bx {
          background-color: $aurora;
        }
      }
      &.samyang {
        .info-bx {
          background-color: $samyang;
        }
      }
      &.paris {
        .info-bx {
          background-color: $paris;
        }
      }
      &.boksoondoga {
        .info-bx {
          background-color: $boksoondoga;
        }
      }
    }
  }
}