<!-- S : culture-->
<section class="section culture">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_black.svg" alt="LG" loading="lazy">
      <h2 class="title">
        K-Culture shop at ISE 2026
      </h2>
      <p class="text">
        Partnering with top K-retail brands, we're creating immersive commercial experiences that elevate <br>
        customer engagement and business value.
      </p>
    </div>
  </div>
  <div class="slide-bx">
    <div class="btn-slide swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_1.png" alt="THE WHOO" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_1.png" alt="THE WHOO" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_2.png" alt="AURORA" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_2.png" alt="AURORA" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_3.png" alt="SAMYANG" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_3.png" alt="SAMYANG" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_4.png" alt="PARIS BAGUETTE" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_4.png" alt="PARIS BAGUETTE" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_5.png" alt="BOKSOONDOGA" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_5.png" alt="BOKSOONDOGA" loading="lazy">
            </picture>
          </button>
        </div>
      </div>
    </div>
    <div class="content-slide swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          페이지 1
        </div>
        <div class="swiper-slide">
          페이지 2
        </div>
        <div class="swiper-slide">
          페이지 3
        </div>
        <div class="swiper-slide">
          페이지 4
        </div>
        <div class="swiper-slide">
          페이지 5
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E : culture-->