<!-- S : culture-->
<section class="section culture">
  <div class="inner">
    <div class="section-tit-bx">
      <img src="/theme/rbFront/img/w/ise/ise2026/ic_lg_black.svg" alt="LG" loading="lazy" class="logo-img">
      <h2 class="title">
        K-Culture shop at ISE 2026
      </h2>
      <p class="text">
        LG adds business value for global K-retail brands <br class="mo-only">through integrated solutions.
      </p>
    </div>
  </div>
  <div class="slide-bx">
    <div class="btn-slide swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_1.png" alt="THE WHOO" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_1.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_1.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_1.png" alt="THE WHOO" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_2.png" alt="AURORA" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_2.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_2.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_2.png" alt="AURORA" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_3.png" alt="SAMYANG" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_3.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_3.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_3.png" alt="SAMYANG" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_4.png" alt="PARIS BAGUETTE" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_4.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_4.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_4.png" alt="PARIS BAGUETTE" loading="lazy">
            </picture>
          </button>
        </div>
        <div class="swiper-slide">
          <button type="button" class="culture-btn">
            <picture class="culture-btn-img">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_5.png" alt="BOKSOONDOGA" loading="lazy">
            </picture>
            <picture class="culture-btn-img-active">
              <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_5.png" media="(min-width: 768px)">
              <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_btn_active_5.png" media="(max-width: 767px)">
              <img src="/theme/rbFront/img/w/ise/ise2026/culture_btn_active_5.png" alt="BOKSOONDOGA" loading="lazy">
            </picture>
          </button>
        </div>
      </div>
    </div>
    <div class="content-slide">
      <button type="button" class="slide-prev">
        <span class="a11y-hidden">slide prev</span>
      </button>
      <button type="button" class="slide-next">
        <span class="a11y-hidden">slide next</span>
      </button>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="content-wrap the-whoo">
              <div class="title-bx">
                <h3 class="title">
                  LG ConnectedCare
                </h3>
                <p class="text">
                  Display remote <br class="mo-only">management solution
                </p>
              </div>
              <div class="content-bx">
                <figure class="brand-img">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_1.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_1.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/culture_1.jpg" alt="THE WHOO" loading="lazy">
                  </picture>
                </figure>
                <div class="info-bx">
                  <div class="quote-bx">
                    <div class="text-bx">
                      <p class="text">It is important to have a <br class="pc-only">device control solution that manages <br class="pc-only">signage <br class="mo-only">across multiple stores.</p>
                    </div>
                    <a href="" class="download-btn type01">Brouchure download</a>  
                  </div>
                  <div class="info-desc">
                    <figure class="img-bx">
                      <picture>
                        <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_product_1.jpg" media="(min-width: 768px)">
                        <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_product_1.jpg" media="(max-width: 767px)">
                        <img src="/theme/rbFront/img/w/ise/ise2026/culture_product_1.jpg" alt="THE WHOO" loading="lazy">
                      </picture>
                    </figure>
                    <div class="txt-bx">
                      <h4 class="title">THE WHOO</h4>
                      <p class="text">
                        THE WHOO is a luxury Korean skincare brand pursuing Royal Beauty Science.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-wrap aurora">
              <div class="title-bx">
                <h3 class="title">
                  LG SoundCast
                </h3>
                <p class="text">
                  Maximizing ad quality and <br class="mo-only">revenue together
                </p>
              </div>
              <div class="content-bx">
                <figure class="brand-img">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_2.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_2.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/culture_2.jpg" alt="AURORA" loading="lazy">
                  </picture>
                </figure>
                <div class="info-bx">
                  <div class="quote-bx">
                    <div class="text-bx">
                      <p class="text">We need a solution that would allow us to <br class="pc-only">control the multiple in-store screens across <br class="pc-only">our global retail locations so customers <br class="pc-only">could enjoy the cute Palm Pals video content <br class="pc-only">exactly the way we envision it.</p>
                    </div>
                    <a href="" class="download-btn type02">Brouchure download</a>
                  </div>
                  <div class="info-desc">
                    <figure class="img-bx">
                      <picture>
                        <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_product_2.jpg" media="(min-width: 768px)">
                        <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_product_2.jpg" media="(max-width: 767px)">
                        <img src="/theme/rbFront/img/w/ise/ise2026/culture_product_2.jpg" alt="THE WHOO" loading="lazy">
                      </picture>
                    </figure>
                    <div class="txt-bx">
                      <h4 class="title">Aurora</h4>
                      <p class="text">
                        Aurora World® leads the global plush toys and premium gifts market, with its adorable Palm Pals™ brand inspiring self-expression and shared joy.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-wrap samyang">
              <div class="title-bx">
                <h3 class="title">
                  E-paper display
                </h3>
                <p class="text">
                  Energy savings with <br class="mo-only">displays of various sizes
                </p>
              </div>
              <div class="content-bx">
                <figure class="brand-img">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_3.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_3.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/culture_3.jpg" alt="SAMYANG" loading="lazy">
                  </picture>
                </figure>
                <div class="info-bx">
                  <div class="quote-bx">
                    <div class="text-bx">
                      <p class="text">We offer a wide range of promotional <br class="pc-only mo-only">content across our diverse product lineup <br class="pc-only">and managing it digitally is far more efficient <br class="pc-only">and sustainable <br class="mo-only">than using paper.</p>
                    </div>
                    <a href="" class="download-btn type03">Brouchure download</a>
                  </div>
                  <div class="info-desc">
                    <figure class="img-bx">
                      <picture>
                        <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_product_3.jpg" media="(min-width: 768px)">
                        <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_product_3.jpg" media="(max-width: 767px)">
                        <img src="/theme/rbFront/img/w/ise/ise2026/culture_product_3.jpg" alt="SAMYANG" loading="lazy">
                      </picture>
                    </figure>
                    <div class="txt-bx">
                      <h4 class="title">Samyang Foods</h4>
                      <p class="text">
                        Leads the global K-Food wave with Buldak brand, bringing Korea's bold flavors to the world.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-wrap paris">
              <div class="title-bx">
                <h3 class="title">
                  LG SuperSign Cloud
                </h3>
                <p class="text">
                  Cloud-based content <br class="mo-only">management solution
                </p>
              </div>
              <div class="content-bx">
                <figure class="brand-img">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_4.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_4.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/culture_4.jpg" alt="Paris Baguette" loading="lazy">
                  </picture>
                </figure>
                <div class="info-bx">
                  <div class="quote-bx">
                    <div class="text-bx">
                      <p class="text">We’re looking for a way to deliver <br class="pc-only">a seamless omnichannel experience <br class="pc-only">that strengthens customer <br class="pc-only">relationships <br class="pc-only mo-only">and drives growth <br class="pc-only">through <br class="pc-only mo-only">personalized offers.</p>
                    </div>
                    <a href="" class="download-btn type04">Brouchure download</a>
                  </div>
                  <div class="info-desc">
                    <figure class="img-bx">
                      <picture>
                        <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_product_4.jpg" media="(min-width: 768px)">
                        <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_product_4.jpg" media="(max-width: 767px)">
                        <img src="/theme/rbFront/img/w/ise/ise2026/culture_product_4.jpg" alt="Paris Baguette" loading="lazy">
                      </picture>
                    </figure>
                    <div class="txt-bx">
                      <h4 class="title">Paris Baguette</h4>
                      <p class="text">
                        Leads the global K-Food wave with Buldak brand, bringing Korea's bold flavors to the world.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-wrap boksoondoga">
              <div class="title-bx">
                <h3 class="title">
                  LG DOOH Ads
                </h3>
                <p class="text">
                  Signage display <br class="mo-only">advertising platform
                </p>
              </div>
              <div class="content-bx">
                <figure class="brand-img">
                  <picture>
                    <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_5.jpg" media="(min-width: 768px)">
                    <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_5.jpg" media="(max-width: 767px)">
                    <img src="/theme/rbFront/img/w/ise/ise2026/culture_5.jpg" alt="Boksoondoga" loading="lazy">
                  </picture>
                </figure>
                <div class="info-bx">
                  <div class="quote-bx">
                    <div class="text-bx">
                      <p class="text">We operate stores in high-traffic <br class="mo-only">areas, <br class="pc-only ab-only">so launching an ad business <br class="pc-only">for additional revenue would be <br class="pc-only">a great opportunity.</p>
                    </div>
                    <a href="" class="download-btn type05">Brouchure download</a>
                  </div>
                  <div class="info-desc">
                    <figure class="img-bx">
                      <picture>
                        <source srcset="/theme/rbFront/img/w/ise/ise2026/culture_product_5.jpg" media="(min-width: 768px)">
                        <source srcset="/theme/rbFront/img/m/ise/ise2026/culture_product_5.jpg" media="(max-width: 767px)">
                        <img src="/theme/rbFront/img/w/ise/ise2026/culture_product_5.jpg" alt="Boksoondoga" loading="lazy">
                      </picture>
                    </figure>
                    <div class="txt-bx">
                      <h4 class="title">Boksoondoga</h4>
                      <p class="text">
                        is a non-pasteurized, hand-brewed traditional Korean rice wine (makgeolli) brand.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E : culture-->